/* .formGroup{
	
} */
.formGroup input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #b3b3b3;
  width: 100%;
  font-size: 16px;
}
.formLabel {
  font-size: 18px;
  padding-top: 7px;
  font-style: bold;
}
.parent {
  text-align: center;
  .content {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 8px;
  }
}
.login-form {
  width: 100%;
  text-align: center;
}
.login-full-width {
  display: block;
}

.parent .content {
  font-weight: normal;
}
::ng-deep .mat-input-underline {
  display: none;
}
.logo-img {
  margin-top: 5px;
  height: 50px;
}
::ng-deep .mat-input-placeholder {
  color: #979797;
  font-weight: normal !important;
}
.ulabel {
  display: inline-block;
  font-weight: bold;
}
::ng-deep .mat-input-infix {
  background: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
}

.profileCard {
  margin-top: 10%;
  background-color: #f2f2f2 !important;
}

::-webkit-input-placeholder {
  /* Chrome */
  color: #e6e6e6;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #e6e6e6;
}

