.CustomeLayout {
  background-color: #f2f2f2;
}

.flexLeft {
  display: table-row;
  float: left;
  width: 250px;
  margin-left: 5px;
  margin-bottom: 18px;
  position: relative;
}

.form_input {
  text-align: center;
  width: 100%;
}

.disabled_input {
  padding: 10px;
  border: 1px solid slategrey;
  text-align: center;
  width: 40%;
}

.params {
  overflow: auto;
  justify-content: left;
}

::ng-deep div.cdk-overlay-pane {
  width: max-content;
}

::ng-deep div.mat-autocomplete-panel.ng-star-inserted {
  width: max-content;
}

@media only screen and (max-width: 767px) {
  .params {
    max-height: 220px;
  }
  .mat-form-field-underline {
    display: none;
  }
  .mat-select {
    background: #fff;
    padding: 3px;
  }
}

::ng-deep .form_list .mat-input-infix {
  background: none !important;
  border: none !important;
  padding: 10px;
}

::ng-deep .form_list .mat-list-text {
  text-align: left;
}

.scroll * {
  height: auto;
  text-align: center;
}

.padding-input {
  padding-left: 10px;
  text-align: center;
  align-content: center;
}

@media only screen and (max-width: 767px) {
  .padding-input {
    padding-left: 10px;
    text-align: center;
    align-content: center;
    width: 100%;
  }
}

.parent {
  text-align: center;
  align-content: center;
}

.active {
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: white;
}

.iconmod {
  margin-right: 7px;
}

::ng-deep .mat-input-underline {
  display: none;
}

::ng-deep .mat-form-field-wrapper {
  padding: 0;
  margin: 0;
}

.f_label {
  margin-top: 15px;
}

::ng-deep .mat-input-infix {
  background: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  padding-bottom: 5px;
}

.dynamicFormContent {
  display: inline-block;
  position: relative;
  width: 95%;
  margin-bottom: 8px;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}

.dynamicContent {
  margin-left: 10%;
}

.flexLeft {
  display: table-row;
  float: left;
  width: 250px;
  margin-left: 5px;
  margin-bottom: 18px;
  position: relative;
}

/*----- css according to the CSS CD field----------------*/
mat-icon.field-help {
  font-size: 16px !important;
}
.field-config_Bold_Red input {
  color: red !important;
  font-weight: bold !important;
}

.field-config_Left_Aligned input {
  text-align: left !important;
}

.field-config_Right_Aligned input {
  text-align: right !important;
}

.field-config_Highlighted input {
  color: red !important;
}

/*----------End css according to the CSS CD Field-------------*/
