.navbar {
  background-color: #999999;
  border-radius: 5px;
  position: relative;
  padding: 0 0.2rem 0.2rem 0;
  justify-content: center;
}

.input_control {
  width: 100%;
  padding-left: 10px;
}

.tab {
  overflow: auto;
  max-height: 250px;
  width: auto;
}

.mat-radio-button {
  padding-right: 10px;
  padding-bottom: 10px;
}

label {
  font-weight: bold;
  display: block;
  margin: 0.5em 0;
}

button {
  margin-top: 10px;
}
