<div class="dialog-wrapper" fxLayoutGap="8px" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="dialog-header content-wrapper">
    Edit Role
  </div>
  <mat-divider></mat-divider>
  <div class="dialog-body content-wrapper">
    <app-role-form [role]="role"></app-role-form>
  </div>
  <div class="dialog-footer content-wrapper" fxLayoutAlign="end center" fxLayoutGap="8px">
    <button mat-button (click)="onBtnCancelClick()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onBtnUpdateClick()">Update</button>
  </div>
</div>
