<div flex fxLayout="row" fxLayout.lt-sm="column">
	<div fxFlex="30"></div>
	<div fxFlex="40">
		<mat-card class="profileCard">
			<mat-card-title>

			</mat-card-title>
			<mat-card-content>
				<div>
					{{msg_alert}}
				</div>

				<form class="login-form parent" (ngSubmit)="login(form)" #form="ngForm">
					<div flex style="align-items: center;" fxLayout="row" fxLayout.lt-sm="column" style="padding-top: 30px;">
						<span fxFlex="25" class="formLabel">Username</span>
						<div fxFlex="60" class="formGroup">
							<input type="email" placeholder="Provide Your Email id" (keyup)="onKey($event)" autocomplete="off" [(ngModel)]="email" name="email"
							 value="">
						</div>
					</div>

					<div *ngIf="pass1==true" class="parent">
						<div flex fxLayout="row" style="align-items: center;" fxLayout.lt-sm="column" style="padding-top: 30px;">
							<span fxFlex="25" class="formLabel">Password</span>
							<div fxFlex="60" class="formGroup">
								<input type="password" placeholder="Provide Your Password " [(ngModel)]="pass" autocomplete="off" name="pass" value="">
							</div>
						</div>
					</div>

					<div *ngIf="pass2==true" class="parent">
						<div flex fxLayout="row" style="align-items: center;" fxLayout.lt-sm="column" style="padding-top: 30px;">
							<span fxFlex="25" class="formLabel">{{Label['log_reset']}}</span>
							<div fxFlex="60" class="formGroup">
								<input class="userinp" type="password" matInput placeholder=" " [(ngModel)]="passr" name="passr" value="">
							</div>
						</div>
						</div>
						<div flex style="align-items: center;" fxLayout="row" *ngIf="agcy == false" fxLayout.lt-sm="column" style="padding-top: 30px;">
							<span fxFlex="25" class="formLabel">Organization</span>
							<div fxFlex="60" class="formGroup">
								<input type="text" class="userinp ulabel" matInput placeholder="Enter Agency" [(ngModel)]="agency" name="agency" value="">
							</div>

						</div>
						<br />
						<div *ngIf="logBtn==true" flex fxLayout="row" fxLayout.lt-sm="column">

							<div fxFlex="30"></div>
							<div fxFlex="40" class="parent">
								<button type="" [disabled]="btn_disabled" mat-raised-button color="primary">Login or Sign-up</button>
							</div>
							<div fxFlex="30"></div>
						</div>
						<div *ngIf="rstBnt==true" flex fxLayout="row" fxLayout.lt-sm="column">
							<div fxFlex="27"></div>
							<div fxFlex="46" class="parent">
								<button class="content" type="" mat-raised-button color="primary">Reset</button>
							</div>
							<div fxFlex="27"></div>
						</div>
						<div flex fxLayout="row" fxLayout.lt-sm="column">
							<div fxFlex="40"></div>
							<div fxFlex="20">
								<img src="./assets/logo.png" class="logo-img" />
							</div>
							<div fxFlex="40"></div>
						</div>
						
				</form>

			</mat-card-content>
		</mat-card>
		</div>