<div class="dialog-wrapper" fxLayoutGap="8px" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="dialog-header content-wrapper">
    <span [innerHTML]="title"></span>
  </div>
  <mat-divider></mat-divider>
  <div class="dialog-body content-wrapper">
    <span [innerHTML]="message"></span>
  </div>
  <div class="dialog-footer content-wrapper" fxLayoutAlign="end center" fxLayoutGap="8px">
    <button mat-button (click)="onNoBtnClick()">{{noBtnText}}</button>
    <button mat-flat-button color="primary" (click)="onYesBtnClick()">{{yesBtnText}}</button>
  </div>
</div>
