<div flex fxLayoutGap="30px" fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="row" fxLayout.gt-sm="row">
    <div flex fxFlex="30">
        <strong>
            <label style="text-align:center;width:100%;">{{Label['EXE_TYP']}}</label>
        </strong>
        <mat-list *ngIf="desktopView" class="scroll">
            <mat-list-item class="list_item" *ngFor="let a of exe_type;let i = index" (click)="onexetypeselect(i);getconnections(a);getexecutables(a)"
                [class.active]="i == selectedexetype">
                <div>{{a}}</div>
            </mat-list-item>
        </mat-list>
        <mat-form-field *ngIf="mobileView" style="width:100%;text-align: center;" [floatLabel]="'never'">
            <mat-select style="margin-top:10px;" placeholder="--Select--">
                <mat-option style="text-align:center;" (click)="onexetypeselect(i);getconnections(a);getexecutables(a);" *ngFor="let a of exe_type;let i = index;"
                    [value]="a">{{a}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div flex fxFlex="30" fxHide="true" fxShow.sm="true" fxShow.gt-sm="true">
        <strong>
            <label style="text-align:center;width:100%;">
                {{Label['EXE']}}
            </label>
        </strong>
        <mat-list *ngIf="desktopView" class="scroll">
            <mat-list-item class="list_item" *ngFor="let b of executables; let j = index" (click)="setexecutable_sl(b);getexedesc(b);onmselect(j);"
                [class.active]="j == selectedexe">
                <div>{{b}}</div>
            </mat-list-item>
        </mat-list>
        <mat-form-field *ngIf="mobileView" style="width:100%;text-align: center;" [floatLabel]="'never'">
            <mat-select style="margin-top:10px;" placeholder="--Select--">
                <mat-option style="text-align:center;" (click)="setexecutable_sl(b);getexedesc(b);onmselect(j);" *ngFor="let b of executables; let j = index;"
                    [value]="b">{{b}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div flex fxFlex="30" fxHide="true" fxShow.xs="true">
        <label style="text-align:center;width:100%;">
            <strong>{{Label['EXE']}}</strong>
        </label>
        <div *ngIf="!showexe">
            <mat-form-field style="width:100%">
                <mat-select [(value)]="executable_sl">
                    <mat-option style="text-align:center;" (click)="showexebox();">
                        -- Select --
                    </mat-option>
                    <mat-option style="text-align:center;" *ngFor="let b of executables; let j = index" [value]="b" (click)="getexedesc(b);">
                        {{b}}
                    </mat-option>

                </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="showexe">
            <mat-list *ngIf="desktopView" class="scroll">
                <mat-list-item class="list_item" *ngFor="let b of executables; let j = index" matTooltip="{{executablestips[b]}}" (click)="setexecutable_sl(b);getexedesc(b);showexebox();onmselect(j);"
                    [class.active]="j == selectedexe">
                    <div>{{b}}</div>
                </mat-list-item>
            </mat-list>
            <mat-form-field *ngIf="mobileView" style="width:100%;text-align: center;" [floatLabel]="'never'">
                <mat-select style="margin-top:10px;" placeholder="--Select--">
                    <mat-option style="text-align:center;" *ngFor="let b of executables; let j = index" matTooltip="{{executablestips[b]}}" (click)="setexecutable_sl(b);getexedesc(b);showexebox();onmselect(j);"
                        [value]="b">{{b}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div flex fxFlex="30">
        <strong>
            <label style="text-align:center;width:100%;">{{Label['CXN_CD']}}</label>
        </strong>
        <mat-list *ngIf="desktopView" class="scroll">
            <mat-list-item class="list_item" *ngFor="let c of connections; let k = index" (click)="getcondesc(c);onconselect(k);" [class.active]="k == selectedcon">
                <div>{{c}}</div>
            </mat-list-item>
        </mat-list>
        <mat-form-field *ngIf="mobileView" style="width:100%;text-align: center;" [floatLabel]="'never'">
            <mat-select style="margin-top:10px;" placeholder="--Select--">
                <mat-option style="text-align:center;" *ngFor="let c of connections; let k = index" matTooltip="{{executablestips[b]}}" (click)="getcondesc(c);onconselect(k);"
                    [value]="c">{{c}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<br>
<div fxLayoutGap="30px" fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="row" fxLayout.gt-sm="row">
    <div fxFlex="30"></div>
    <div flex fxLayout="column" fxFlex="30" style="text-align: center;">
        <label style="margin-bottom: 0;">Executable Description</label>
        <mat-form-field class="incwid">
            <textarea matInput [(value)]="e_desc"></textarea>
        </mat-form-field>
    </div>

    <div flex fxLayout="column" fxFlex="30" style="text-align: center;">
        <label style="margin-bottom: 0;">Connection Description</label>
        <mat-form-field class="incwid">
            <textarea matInput [(value)]="c_desc"></textarea>
        </mat-form-field>
    </div>
</div>
<br>
<div flex fxLayout="row" fxLayout.lt-sm="row" fxLayout.sm="row" fxLayout.gt-sm="row" fxLayoutAlign="space-around center">
    <div fxFlex="60" fxHide="true" fxShow.sm="true" fxShow.gt-sm="true"></div>
    <button mat-raised-button color="primary" (click)="Link()">
        <mat-icon style="margin-right: 5px">link</mat-icon>Link</button>
    <button mat-raised-button color="warn" (click)="Delink()">
        <mat-icon style="margin-right: 5px">link_off</mat-icon>Delink</button>
</div>