/* .scroll {
  height: 240px; 
  overflow-y: auto;
  background-color: white;
  border:1px solid lightblue;
  padding-top: 0;
} 
mat-list-item:hover{
background-color: lightgray;
cursor: pointer;
} */
.incwid{
width:100%;
}
/* .mat-list .mat-list-item, .mat-nav-list , .mat-selection-list .mat-list-option
{
  
display: block;
height: 28px;
} */
.active{
background-color:rgba(0,0,0,0.7) !important;
color: white;
}
mat-list-item div{
  text-align:center;
  width:100%;    
}
mat-list{
  border:1px solid #ccc;
  border-radius: .25rem;
  text-align: center;
  width: 100%;
  padding-top: 0;
  font-size: 1rem;
  line-height: 1.5;
  height: 200px;
}
.scroll *{
  padding: 0%;
  height: auto;
  text-align:center;
}
mat-list-item:hover{
  font-weight: bolder;
  cursor: pointer;
  transition:all 0.5s ease;
}
::ng-deep .mat-input-infix{
  background: white;
  border: 1px solid rgb(200,200,200);
  border-radius:3px;
}
::ng-deep .mat-input-infix>textarea{text-align:center;
  background: white!important;
  border:none!important;
  border-radius: 3px!important;
}
::ng-deep .mat-input-underline,.mat-form-field-underline{
  display: none;
}