th.mat-header-cell{
    text-align: center !important;
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
  .mat-cell div.mat-cell-div{
    padding: 20px;
  }
  
  .mat-cell .mat-input-element{
    background: transparent !important;
  }
  .mat-cell mat-form-field{
    padding: 20px;
  }
  #p-table{
    background-color: rgb(214, 214, 214);
  }

  .table-column{
    min-width: 200px;
  }
  .table-title{
    width: 100%;
    padding: 0px 20px;
    background-color: #4a4a4a;
    color: white;
    height: 80px;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
  }
  .table-cell-chartno{
    width: 100%;
    height: 80px;
    text-align: center;
    padding: 0px 10px;
    background-color: rgb(214, 214, 214);
    padding-top: 30px;
  }
  .table-cell{
    width: 100%;
    height: 80px;
    text-align: center;
    padding: 0px 10px;
    background-color: rgb(214, 214, 214);
    padding-top: 20px;
  }
  ::ng-deep .mat-input-element{
    background-color: transparent;
  }