<!-- <div class="tile-container">
  <div class="container-header" fxLayoutAlign="space-between center">
    <span class="container-title">{{cxnData.V_PLATFORM_CD}}</span>
    <div class="container-actions">
      <button mat-icon-button matTooltip="delete V_PLATFORM_CD" (click)="onBtnDeleteMachineClick(cxnData)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button matTooltip="edit V_PLATFORM_CD" (click)="onBtnEditMachineClick(cxnData)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Assign" (click)="onBtnAssignRoleClick(cxnData)">
        <mat-icon>link</mat-icon>
      </button>
    </div>
  </div>
  <app-machine-tile-list [selectedConnectionType]="selectedConnectionType" [userAccess]="userRoleAccess" [machineType]="cxnData.V_PLATFORM_CD" [connectionList]="cxnData" (selectedMachineTile)="selectedMachineTile($event)"></app-machine-tile-list>
</div> -->

<div class="tile-container">
  <div class="container-header" fxLayoutAlign="space-between center">
    <span class="container-title">{{machineData.PLATFORM_TYP.PLATFORM_CD}}</span>
    <div class="container-actions" *ngIf="userRoleAccess.role_machine">
      <button mat-icon-button matTooltip="Delete Machine" (click)="onBtnDeleteMachineClick(machineData.PLATFORM_TYP)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Edit Machine" (click)="onBtnEditMachineClick(machineData.PLATFORM_TYP)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Assign" (click)="onBtnAssignRoleClick(machineData.PLATFORM_TYP)">
        <mat-icon>link</mat-icon>
      </button>
    </div>
  </div>
  <app-machine-tile-list [selectedConn]="selectedConn" [machine]="machineData.PLATFORM_TYP" [selectedConnectionType]="selectedConnectionType" [userAccess]="userRoleAccess" [machineType]="cxnData.V_PLATFORM_CD" [connectionList]="cxnData" (selectedMachineTile)="selectedMachineTile($event)"></app-machine-tile-list>
</div>