<div class="tile-container">
  <div class="container-header" fxLayoutAlign="space-between center">
    <span class="container-title">{{machineData.V_PLATFORM_CD}}</span>
    <div class="container-actions">
      <!-- <button mat-icon-button matTooltip="delete V_PLATFORM_CD" (click)="onBtnDeleteMachineClick(machineData)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button matTooltip="edit V_PLATFORM_CD" (click)="onBtnEditMachineClick(machineData)">
        <mat-icon>edit</mat-icon>
      </button> -->
      <button mat-icon-button matTooltip="Assign" (click)="onBtnAssignRoleClick(machineData)">
        <mat-icon>link</mat-icon>
      </button>
    </div>
  </div>
  <app-machine-tile-list [userAccess]="userRoleAccess" [machineType]="machineData.V_PLATFORM_CD" [connectionList]="machineData" (selectedMachineTile)="selectedMachineTile($event)"></app-machine-tile-list>
</div>
