<div flex fxLayout="row" fxLayout.lt-sm="column">
  <div fxFlex="30"></div>
  <div fxFlex="40">
    <mat-card class="profileCard">
      <mat-card-title>
        <!-- <app-header></app-header> -->
      </mat-card-title>
      <mat-card-content>
        <hr />
        <div style="text-align: center;">
          <strong>SELECT A PROFILE</strong>
          <hr />
          <div flex fxLayout="row" fxLayout.lt-sm="column">
            <div fxFlex="25"></div>
            <div fxFlex="40">
              <div class="numberlist">
                <ol>
                  <li style="cursor: pointer; text-align: center"
                    *ngFor="let opt of options"><a [routerLink]="opt.path">{{opt.Lable}}</a></li>
                </ol>
              </div>
            </div>
            <div fxFlex="25"></div>
          </div>



        </div>
      </mat-card-content>

    </mat-card>
  </div>
  <div fxFlex="30"></div>
</div>
