<div flex fxLayout="column" fxLayout.lt-sm="column">

  <nav class="navbar ">
    <!-- Desktop View -->
    <div class="w-100" fxHide="true" fxShow.gt-sm="true">
      <mat-nav-list>
        <div class="list-wrapper" flex fxLayout="row" fxLayout.lt-sm="row">
          <div class="nav-link pl-3 mb-2">
            <img [src]="getLinkPicture()" onerror="this.src='/assets/logo.png'" alt="" class="logo-img" />
          </div>
          <div class="ml-auto pr-4">
            <button *ngIf="showNewIcon" class="profile-btn" mat-mini-fab [matMenuTriggerFor]="menu">
              <a class="nav-link">
                <mat-icon>more_vert</mat-icon>
              </a>
            </button>

            <mat-menu #menu="matMenu" xPosition="before">
              <ng-container *ngFor="let opt of options">
                <button [style.display]="!opt.flag ? 'none' : null" mat-menu-item (click)="optionSelecteds(opt)">
                  <mat-icon>bookmarks</mat-icon>
                  {{opt.value}}
                </button>
              </ng-container>
            </mat-menu>
            <app-header [selectedProfile]="'Workflow'"></app-header>

          </div>
        </div>
      </mat-nav-list>
    </div>
    <!-- Mobile View -->
    <div class="w-100" fxHide="true" fxShow.xs="true">
      <mat-nav-list>
        <div flex fxLayout="row">
          <div class="mx-2 mt-1">
            <img [src]="getLinkPicture()" onerror="this.src='/assets/logo.png'" alt="" class="logo-img" />
          </div>
          <div class="ml-auto pr-4">
            <button *ngIf="showNewIcon" class="profile-btn" mat-mini-fab [matMenuTriggerFor]="menu">
              <a class="nav-link">
                <mat-icon>more_vert</mat-icon>
              </a>
            </button>

            <mat-menu #menu="matMenu" xPosition="before">
              <ng-container *ngFor="let opt of options">
                <button [style.display]="!opt.flag ? 'none' : null" mat-menu-item (click)="optionSelecteds(opt)">
                  <mat-icon>bookmarks</mat-icon>
                  {{opt.value}}
                </button>
              </ng-container>
            </mat-menu>
            <div class="profile-btn">
              <app-header [selectedProfile]="'Workflow'"></app-header>
            </div>
          </div>
        </div>
      </mat-nav-list>
    </div>
    <!-- Tab View -->
    <div class="w-100" fxHide="true" fxShow.sm="true">
      <mat-nav-list>
        <div class="text-center">
          <img [src]="getLinkPicture()" onerror="this.src='/assets/logo.png'" alt="" class="logo-img" />
        </div>
        <div class="" style="display:flex;">
          {{showNewIcon}}
          <button *ngIf="showNewIcon" class="profile-btn" mat-mini-fab [matMenuTriggerFor]="menu">
            <a class="nav-link">
              <mat-icon>more_vert</mat-icon>
            </a>
          </button>

          <mat-menu #menu="matMenu" xPosition="before">
            <ng-container *ngFor="let opt of options">
              <button [style.display]="!opt.flag ? 'none' : null" mat-menu-item (click)="optionSelecteds(opt)">
                <mat-icon>bookmarks</mat-icon>
                {{opt.value}}
              </button>
            </ng-container>
          </mat-menu>
          <app-header [selectedProfile]="'Workflow'"></app-header>

        </div>
      </mat-nav-list>
    </div>

  </nav>
</div>
