<div flex fxLayout="column" fxLayout.lt-sm="column">

  <nav class="navbar ">
   <!-- Desktop View -->
  <div class="w-100" fxHide="true" fxShow.gt-sm="true">
  <mat-nav-list>
    <div class="list-wrapper" flex fxLayout="row" fxLayout.lt-sm="row">
        <div class="nav-link pl-3 mb-2">
        <img src="./assets/logo.png" class="logo-img" />
        </div>
        <div class="ml-auto pr-4">
            <button mat-raised-button color="primary" *ngIf='roll_execute'><a [routerLink]="['Execute']"  skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">play_arrow</mat-icon><mat-icon class="iconmod shwsvgicon deskicon" svgIcon="play"></mat-icon>Execute</a></button>
            <button mat-raised-button color="primary" *ngIf="roll_myTask"><a [routerLink]="['Mytask']"  skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">work</mat-icon><mat-icon class="iconmod shwsvgicon deskicon" svgIcon="task"></mat-icon>My Tasks</a></button>
            <button mat-raised-button color="primary" *ngIf="roll_exeption"><a [routerLink]="['Exception']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">error</mat-icon><mat-icon class="iconmod shwsvgicon deskicon" svgIcon="error"></mat-icon>Exception</a></button>
            <button mat-raised-button color="primary" *ngIf='roll_schedule'><a [routerLink]="['ScheduleAction']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">schedule</mat-icon><mat-icon class="iconmod shwsvgicon deskicon" svgIcon="schedule"></mat-icon>Schedule</a></button>
            <button mat-raised-button color="primary" *ngIf='roll_process'><a [routerLink]="['Process']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">settings</mat-icon><mat-icon class="iconmod shwsvgicon deskicon" svgIcon="settings"></mat-icon>Process</a></button>
            <button mat-raised-button color="primary" *ngIf='roll_design'><a [routerLink]="['Design']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">work</mat-icon><mat-icon class="iconmod shwsvgicon deskicon" svgIcon="task"></mat-icon>Process Design</a></button>
            <button mat-raised-button color="primary" *ngIf='roll_orchestrate'><a [routerLink]="['Orchestrate']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">list</mat-icon><mat-icon class="iconmod shwsvgicon deskicon" svgIcon="list"></mat-icon>Orchestrate</a></button>
            <button mat-raised-button color="primary" *ngIf='roll_dashboard'><a [routerLink]="['Dashboard']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">dashboard</mat-icon><mat-icon class="iconmod shwsvgicon deskicon" svgIcon="dashboard"></mat-icon>Dashboard</a></button>

            <button matTooltip="View profile" mat-mini-fab class="ml-5" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
    
            <mat-menu #menu="matMenu" xPosition="before">
                <app-header></app-header>
            </mat-menu>

        </div>    
    </div>  
  </mat-nav-list>
  </div> 
 <!-- Mobile View -->
  <div class="w-100" fxHide="true" fxShow.xs="true">
      <mat-nav-list>
    <div class="text-center">
        <img src="./assets/logo.png" class="logo-img" />
    </div>       
    <div class="" style="display:flex;">    
      <button mat-icon-button matTooltip="Execute" matTooltipPosition='above' *ngIf='roll_execute'><a [routerLink]="['Execute']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">play_arrow</mat-icon><mat-icon class="iconmod shwsvgicon" svgIcon="play"></mat-icon></a></button>
      <button mat-icon-button matTooltip="My Tasks" matTooltipPosition='above' *ngIf="roll_myTask"><a [routerLink]="['Mytask']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">work</mat-icon><mat-icon class="iconmod shwsvgicon" svgIcon="task"></mat-icon></a></button>
      <button mat-icon-button matTooltip="Exception" matTooltipPosition='above' *ngIf="roll_exeption"><a [routerLink]="['Exception']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">error</mat-icon><mat-icon class="iconmod shwsvgicon" svgIcon="error"></mat-icon></a></button>
      <button mat-icon-button matTooltip="Schedule" matTooltipPosition='above' *ngIf='roll_schedule'><a [routerLink]="['ScheduleAction']" skipLocationChange skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">schedule</mat-icon><mat-icon class="iconmod shwsvgicon" svgIcon="schedule"></mat-icon></a></button>
      <button mat-icon-button matTooltip="Process" matTooltipPosition='above' *ngIf='roll_process'><a [routerLink]="['Process']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">settings</mat-icon><mat-icon class="iconmod shwsvgicon" svgIcon="settings"></mat-icon></a></button>
      <button mat-icon-button matTooltip="Process Design" matTooltipPosition='above' *ngIf='roll_process'><a [routerLink]="['Design']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">work</mat-icon><mat-icon class="iconmod shwsvgicon" svgIcon="task"></mat-icon></a></button>
      <button mat-icon-button matTooltip="Orchestrate" matTooltipPosition='above' *ngIf='roll_orchestrate'><a [routerLink]="['Orchestrate']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">list</mat-icon><mat-icon class="iconmod shwsvgicon" svgIcon="list"></mat-icon></a></button>
      <button mat-icon-button matTooltip="Dashboard" matTooltipPosition='above' *ngIf='roll_dashboard'><a [routerLink]="['Dashboard']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">dashboard</mat-icon><mat-icon class="iconmod shwsvgicon" svgIcon="dashboard"></mat-icon></a></button>
      <button class="profile-btn" mat-mini-fab [matMenuTriggerFor]="menu">
            <a class="nav-link"><mat-icon>more_vert</mat-icon></a>
        </button>
      </div>
  
      <mat-menu #menu="matMenu" xPosition="before">
        <app-header></app-header>
      </mat-menu>
      </mat-nav-list>
</div> 
  <!-- Tab View -->
<div class="w-100" fxHide="true" fxShow.sm="true">
      <mat-nav-list>
        <div class="text-center">
            <img src="./assets/logo.png" class="logo-img" />
        </div>  
        <div class="" style="display:flex;">      
            <button mat-mini-fab color="primary" matTooltip="Execute" matTooltipPosition='above' *ngIf='roll_execute'><a [routerLink]="['Execute']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">play_arrow</mat-icon><mat-icon class="iconmod shwsvgicon" svgIcon="play"></mat-icon></a></button>
            <button mat-mini-fab color="primary" matTooltip="My Tasks" matTooltipPosition='above' *ngIf="roll_myTask"><a [routerLink]="['Mytask']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">work</mat-icon><mat-icon class="iconmod shwsvgicon" svgIcon="task"></mat-icon></a></button>
            <button mat-mini-fab color="primary" matTooltip="Exception" matTooltipPosition='above' *ngIf="roll_exeption"><a [routerLink]="['Exception']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">error</mat-icon><mat-icon class="iconmod shwsvgicon" svgIcon="error"></mat-icon></a></button>
            <button mat-mini-fab color="primary" matTooltip="Schedule" matTooltipPosition='above' *ngIf='roll_schedule'><a [routerLink]="['ScheduleAction']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">schedule</mat-icon><mat-icon class="iconmod shwsvgicon"  svgIcon="schedule"></mat-icon></a></button>
            <button mat-mini-fab color="primary" matTooltip="Process" matTooltipPosition='above' *ngIf='roll_process'><a [routerLink]="['Process']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">settings</mat-icon><mat-icon class="iconmod shwsvgicon" svgIcon="settings"></mat-icon></a></button>
            <button mat-mini-fab color="primary" matTooltip="Process Design" matTooltipPosition='above' *ngIf='roll_process'><a [routerLink]="['Design']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">work</mat-icon><mat-icon class="iconmod shwsvgicon" svgIcon="task"></mat-icon></a></button>
            <button mat-mini-fab color="primary" matTooltip="Orchestrate" matTooltipPosition='above' *ngIf='roll_orchestrate'><a [routerLink]="['Orchestrate']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">list</mat-icon><mat-icon class="iconmod shwsvgicon" svgIcon="list"></mat-icon></a></button>
            <button mat-mini-fab color="primary" matTooltip="Dashboard" matTooltipPosition='above' *ngIf='roll_dashboard'><a [routerLink]="['Dashboard']" skipLocationChange routerLinkActive="active" class="nav-link"><mat-icon class="iconmod shwmaticon">dashboard</mat-icon><mat-icon class="iconmod shwsvgicon" svgIcon="dashboard"></mat-icon></a></button>
            <button class="profile-btn" mat-mini-fab [matMenuTriggerFor]="menu">
            <a class="nav-link"><mat-icon>more_vert</mat-icon></a>
          </button>
  
          <mat-menu #menu="matMenu" xPosition="before">
            <app-header></app-header>
          </mat-menu>
        </div>  
      </mat-nav-list>
    </div>
      
      </nav>
      </div>
