mat-checkbox {
	display: list-item;
	list-style: none;
	font-size: 13px;
}
mat-header-row {
	background-color: #b5b5b5;
}
mat-header-cell {
	background-color: #b5b5b5;
	font-size: 16px !important;
}
.mat-elevation-z8 {
	text-align: center;
}
* {
	font-size: 14px;
}
#cancel {
	background-color: lightcoral;
}
#submit {
	background-color: lightgreen;
}
#add {
	background-color: lightblue;
}
