<div flex fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayout.gt-sm="row">
  <div fxFlex="30" *ngIf="applicationViewFlag">
    <h3 class="CenterAlign">{{Label['APP_CD']}}</h3>

    <!---  select application -->
    <mat-list *ngIf="desktopView" class="scroll">
      <mat-list-item class="list_item" (click)="getProcessCD(app);" *ngFor="let app of applicationValues"
        [class.active]="app == selectedplat">
        <div> {{app}}</div>
      </mat-list-item>
    </mat-list>
    <mat-form-field *ngIf="mobileView" style="width:100%;text-align: center;" [floatLabel]="'never'">
      <mat-select style="margin-top:10px;" (selectionChange)="getProcessCD($event);" placeholder="--Select--"
        [value]="selectedplat">
        <mat-option style="text-align:center;" *ngFor="let app of applicationValues" [value]="app">{{app}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div fxFlex="3"></div>
  <!-- ___________________________________SELECT PROCESS CD -->
  <div fxFlex="30" *ngIf="process_box">
    <h3 class="CenterAlign">{{Label['PRCS_CD']}}</h3>

    <!--  select process -->
    <mat-list *ngIf="desktopView" class="scroll">
      <mat-list-item class="list_item" (click)="fooo1(prc)" *ngFor="let prc of processValues"
        [class.active]="prc == selectedplat1">
        <div> {{prc}}</div>
      </mat-list-item>
    </mat-list>
    <mat-form-field *ngIf="mobileView" style="width:100%;text-align: center;" [floatLabel]="'never'">
      <mat-select style="margin-top:10px;" (selectionChange)="fooo1($event);" placeholder="--Select--"
        [value]="selectedplat1">
        <mat-option style="text-align:center;" *ngFor="let prc of processValues" [value]="prc">{{prc}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxFlex="3"></div>
  <div fxFlex="30" *ngIf="action_box">
    <!-- select status -->
    <h3 class="CenterAlign">{{Label['Status']}}</h3>
    <mat-list *ngIf="desktopView" class="scroll">
      <mat-list-item class="list_item" (click)="fooo2(act)" *ngFor="let act of Action"
        [class.active]="act == selectedplat2">
        <div> {{act}}</div>
      </mat-list-item>
    </mat-list>
    <mat-form-field *ngIf="mobileView" style="width:100%;text-align: center;" [floatLabel]="'never'">
      <mat-select style="margin-top:10px;" (selectionChange)="fooo2($event);" placeholder="--Select--"
        [value]="selectedplat2">
        <mat-option style="text-align:center;" *ngFor="let act of Action" [value]="act">{{act}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<!-- <button mat-raised-button style="float:right;" (click)="find_process()">Find</button>  -->
<!-- ___________________________TABLE________________________________________________________ -->

<div class="dynamicFormContent">
  <h3 style="text-align: center;" *ngIf="Data!='' &&  Data!=undefined">{{Label['Parameters']}}</h3>
  <div class="dynamicContent">
    <div class="padding-input flexLeft" *ngFor="let pr of Data" [ngClass]="data.getFieldClass(pr.name)">
      <ng-container *ngIf="!data.isFieldHidden(pr.name)">
        <label class="f_label">{{pr.placeholder | removeWt}}<span
            *ngIf="data.isFieldMendatory(pr.name)">*</span></label>
        <mat-icon *ngIf="data.getFieldTooltip(pr.name)!=null" [matTooltip]="data.getFieldTooltip(pr.name)"
          class="field-help">help</mat-icon>
        <ng-container [ngSwitch]="pr.type">
          <ng-container *ngSwitchCase="'Radio Button'">
            <mat-form-field class="form_input form_list" style="background-color: #f4f6f7">
              <input matInput style="display: none">
              <mat-radio-group #name="ngModel" [required]="data.isFieldMendatory()" [disabled]="data.isFieldDisabled()"
                [(ngModel)]="pr.value" (ngModelChange)="Update_value(pr.value,pr.placeholder)" [name]="pr.name">
                <mat-radio-button style="background-color: #f4f6f7" [value]="listOption"
                  *ngFor="let listOption of getListOptions(pr.name)">{{listOption}}</mat-radio-button>
              </mat-radio-group>
            </mat-form-field>
          </ng-container>
          <ng-container *ngSwitchCase="'Checkbox'">
            <mat-form-field class="form_input form_list" style="background-color: #f4f6f7">
              <input matInput style="display: none">
              <mat-selection-list #name="ngModel" [disabled]="data.isFieldDisabled()" [(ngModel)]="pr.value"
                (ngModelChange)="Update_value(pr.value,pr.placeholder)" style="background-color: #f4f6f7">
                <mat-list-option checkboxPosition="before" [value]="listOption"
                  *ngFor="let listOption of getListOptions(pr.name)">
                  {{listOption}}
                </mat-list-option>
              </mat-selection-list>
            </mat-form-field>
          </ng-container>
          <ng-container *ngSwitchCase="'date'">
            <mat-form-field class="form_input">
              <input #name="ngModel" [required]="data.isFieldMendatory()" [disabled]="data.isFieldDisabled()"
                [name]="pr.name" [value]="pr.value" (keyup)="Update_value($event.target.value,pr.placeholder)"
                [(ngModel)]="pr.value" matInput [matDatepicker]="picker" class="f_inp">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
              {{data.getFieldInValidMsg(name, pr.name)}}
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'time'">
            <mat-form-field class="form_input">
              <input #name="ngModel" [required]="data.isFieldMendatory()" [disabled]="data.isFieldDisabled()" matInput
                [type]="pr.type" [name]="pr.name" [value]="pr.value"
                (change)="Update_value($event.target.value,pr.placeholder)" [(ngModel)]="pr.value" class="f_inp">
            </mat-form-field>
            <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
              {{data.getFieldInValidMsg(name, pr.name)}}
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'datetime'">
            <mat-form-field class="form_input" style="background-color: #f4f6f7">
              <input #name="ngModel" [required]="data.isFieldMendatory()" [disabled]="data.isFieldDisabled()" matInput
                [name]="pr.name" [value]="pr.value" (change)="Update_value($event.target.value,pr.placeholder)"
                [(ngModel)]="pr.value" [owlDateTimeTrigger]="fdate" [owlDateTime]="fdate">
              <owl-date-time [attr.id]="pr.name"></owl-date-time>
            </mat-form-field>
            <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
              {{data.getFieldInValidMsg(name, pr.name)}}
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'password'">
            <mat-form-field class="form_input">
              <input matInput #name="ngModel" [required]="data.isFieldMendatory(pr.name)"
                [readonly]="data.isFieldDisabled(pr.name)" [type]="pr.type" [name]="pr.name" [value]="pr.value"
                (change)="Update_value($event.target.value,pr.placeholder)" [(ngModel)]="pr.value" #name="ngModel"
                class="f_inp">
            </mat-form-field>
            <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
              {{data.getFieldInValidMsg(name, pr.name)}}
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'range'">
            <mat-slider #name="ngModel" [(ngModel)]="pr.value" value="1" step="1" min="1" max="100"
              (change)="Update_value($event.target.value,pr.placeholder)" style="background-color: #f4f6f7">
            </mat-slider>
          </ng-container>
          <ng-container *ngSwitchCase="color">
            <mat-form-field class="form_input">
              <input #name="ngModel" [(colorPicker)]="_backgroundColor" [style.background]="_backgroundColor"
                [(ngModel)]="pr.value" class="f_inp">
            </mat-form-field>
          </ng-container>
          <ng-container *ngSwitchCase="'Text Area'">
            <mat-form-field class="form_input">
              <textarea matInput #name="ngModel" [required]="data.isFieldMendatory(pr.name)"
                [readonly]="data.isFieldDisabled(pr.name)" [name]="pr.name"
                [maxLength]="data.getFieldMaxLength(pr.name)" (value)="pr.value"
                (change)="Update_value($event.target.value,pr.placeholder)" [(ngModel)]="pr.value" class="f_inp">
                </textarea>
            </mat-form-field>
            <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
              {{data.getFieldInValidMsg(name, pr.name)}}
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="data.getFieldTypeForChange(pr.type)">
            <mat-form-field class="form_input">
              <input matInput [required]="data.isFieldMendatory(pr.name)" maxlength="data.getMaxLengthForField(pr.type)"
                [name]="pr.name" (value)="pr.value" (change)="Update_value($event.target.value,pr.placeholder)"
                (change)="data.transformFieldValueOnChange($event,pr.type)" [(ngModel)]="pr.value" class="f_inp"
                #name="ngModel">
              <mat-autocomplete class="autoCompletes" #auto="matAutocomplete">
                <mat-option (click)="Update_value(pr.value ,pr.placeholder)" style="text-align:center;"
                  *ngFor="let option of options[pr.name]" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
              {{data.getFieldInValidMsg(name, pr.name)}}
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'Zip'">
            <mat-form-field class="form_input">
              <input type="text" pattern="^[0-9]{5}?$" [required]="data.isFieldMendatory(pr.name)" maxlength="5"
                matInput [disabled]="data.isFieldDisabled(pr.name)" [name]="pr.name" (value)="pr.value"
                [matAutocomplete]="auto" (key)="Update_value($event.target.value,pr.placeholder)" [(ngModel)]="pr.value"
                class="f_inp" #name="ngModel">

              <mat-autocomplete class="autoCompletes" #auto="matAutocomplete">
                <mat-option style="text-align:center;" (click)="Update_value(pr.value ,pr.placeholder)"
                  *ngFor="let option of options[pr.name]" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
              {{data.getFieldInValidMsg(name, pr.name)}}
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'Email'">
            <mat-form-field class="form_input">
              <input type="email" [required]="data.isFieldMendatory(pr.name)" matInput
                [readonly]="data.isFieldDisabled(pr.name)" [name]="pr.name" (value)="pr.value" [matAutocomplete]="auto"
                (change)="Update_value($event.target.value,pr.placeholder)" [(ngModel)]="pr.value" class="f_inp"
                #name="ngModel" email="true" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">

              <mat-autocomplete class="autoCompletes" #auto="matAutocomplete">
                <mat-option style="text-align:center;" (click)="Update_value(pr.value ,pr.placeholder)"
                  *ngFor="let option of options[pr.name]" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div [style.visibility]=" data.isFieldInvalid(name) ? 'visible': 'hidden'">
              {{data.getFieldInValidMsg(name, pr.name)}}
            </div>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <mat-form-field class="form_input">
              <input matInput [name]="pr.name" [required]="data.isFieldMendatory(pr.name)" #name="ngModel"
                [readonly]="data.isFieldDisabled(pr.name)" (change)="Update_value(pr.value ,pr.placeholder)"
                [maxLength]="data.getFieldMaxLength(pr.name)" [matAutocomplete]="auto" [(ngModel)]="pr.value"
                class="f_inp">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option style="text-align:center;" (click)="Update_value(pr.value ,pr.placeholder)"
                  *ngFor="let option of options[pr.name]" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div [style.visibility]=" data.isFieldInvalid(name) ? 'visible': 'hidden'">
              {{data.getFieldInValidMsg(name, pr.name)}}
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>

</div>


<div *ngIf="display_process_table">
  <mat-form-field *ngIf="show_filter_input">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <img src="./assets/img/progress.gif" style="height:20px;width:20px;" *ngIf="progressImg" alt="" />
  <mat-table #table [dataSource]="dataSource" MatSort>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="#">
      <mat-header-cell *matHeaderCellDef>#
        <!-- <mat-checkbox [class]="checkbox_color_value" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox> -->
      </mat-header-cell>
      <mat-cell *matCellDef="let dataSource">
        <!--  <mat-checkbox (click)="$event.stopPropagation();Check_process_id(element.JOB_NAME)" (change)="$event ? selection.toggle(element.JOB_NAME) : null" [checked]="selection.isSelected(element.JOB_NAME)">
                </mat-checkbox>  -->
        <mat-checkbox [class]="checkbox_color_value"
          (click)="$event.stopPropagation();Check_process_id(dataSource.job_name)"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Services </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lastrun">
      <mat-header-cell *matHeaderCellDef> Last Run </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastrun}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="nextrun">
      <mat-header-cell *matHeaderCellDef> Next Run </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nextrun}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef> Details </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.details}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)" (click)="onRowClick(row)">
    </mat-row>
  </mat-table>

</div>
<div>
  <hr />
  <h4 class="CenterAlign">Schedule</h4>
  <hr />
  <app-repeat-process [parentapp]="selectedplat" [parentpro]="selectedplat1"></app-repeat-process>
  <hr />
</div>


<!-- ______________________________________________________CLOSE TABLE________________________________ -->
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-5">
    <br />
    <!-- <button mat-raised-button color="primary" *ngIf="Save_btn" [disabled]="save_shedule_btn" (click)="repeatURL()">Save the Schedule</button> -->
    <button mat-raised-button color="primary" (click)="onPause()" *ngIf="Pause_btn">Pause Selected Schedules</button>
    <button mat-raised-button color="primary" (click)="onResume()" *ngIf="Resume_btn">Resume Selected Schedules</button>
    <button mat-raised-button color="primary" (click)="onKill()" *ngIf="Kill_btn">Kill Selected Schedules</button>

    <br />
  </div>
</div>
