<div class="chart-boundary" fxLayoutGap="10">

    <div *ngFor="let cpref of data.chartPreferences; let i=index;"
        class="chart-box" (cdkDragEnded)="dragEndChart($event,i)" [style.top.px]="data.chartposition[i].y"
        [style.left.px]="data.chartposition[i].x" cdkDragBoundary=".chart-boundary" cdkDrag fxLayout="column" fxFlex="50%"
        fxFlex.lt-sm="100%">
        <canvas baseChart *ngIf="cpref['selectedchart']==='linechart_sel'" [datasets]="chartData[i]" [labels]="chartLabels[i]"
            [options]="chartOptions[i]" [colors]="lineChartColors" [chartType]="lineChartType">
        </canvas>
        <canvas baseChart *ngIf="cpref['selectedchart']==='barchart_sel'" [datasets]="chartData[i]" [labels]="chartLabels[i]"
            [options]="chartOptions[i]" [colors]="barChartColors" [chartType]="barChartType">
        </canvas>
        <canvas baseChart [datasets]="chartData[i]" [colors]="pieChartColors" *ngIf="cpref['selectedchart']==='piechart_sel'" [labels]="chartLabels[i]" [chartType]="pieChartType">
        </canvas>
        <canvas baseChart [datasets]="chartData[i]" [colors]="pieChartColors" *ngIf="cpref['selectedchart']==='doughnutchart_sel'" [labels]="chartLabels[i]" [chartType]="doughnutChartType">
        </canvas>
    </div>
    
</div>