<div class="vertical-layout vertical-menu-modern 1-column menu-expanded blank-page blank-page">
  <div class="app-content content">
      <div class="content-wrapper">
          <div class="content-header row"></div>
          <div class="content-body">
              <section class="flexbox-container">
                  <div class="col-12 d-flex align-items-center justify-content-center">
                      <div class="col-md-4 col-10 box-shadow-2 p-0">
                          <router-outlet></router-outlet>
                      </div>
                  </div>
              </section>
          </div>
      </div>
  </div>
</div>
