<div class="tile-container">
  <div class="container-header" fxLayoutAlign="space-between center">
    <span class="container-title">{{exeType.SERVER_TYP.SERVER_CD}}</span>
    <div class="container-actions" *ngIf="userRoleAccess.role_platform">
      <button mat-icon-button matTooltip="Delete Platform" (click)="onBtnDeleteExeClick(exeType.SERVER_TYP)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Edit Platform" (click)="onBtnEditExeClick(exeType.SERVER_TYP)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Assign Platform" (click)="onBtnAssignRoleClick(exeType.SERVER_TYP)">
        <mat-icon>link</mat-icon>
      </button>
    </div>
  </div>
  <app-exe-tile-list [selectedExe]="selectedExe" [userAccess]="userRoleAccess" [selectedExeType]="selectedExeType" [platData]="exeType.SERVER_TYP" [exes]="exeType" (selectedExeTile)="selectedExeTile($event)"></app-exe-tile-list>
</div>

