<div class="tile-container">
  <div class="container-header" fxLayoutAlign="space-between center">
    <span class="container-title">{{exeType.EXE_TYP}}</span>
    <div class="container-actions">
      <!-- <button mat-icon-button matTooltip="delete exetype" (click)="onBtnDeleteExeClick(exeType)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button matTooltip="edit exetype" (click)="onBtnEditExeClick(exeType)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Assign" (click)="onBtnAssignRoleClick(exeType)">
        <mat-icon>link</mat-icon>
      </button> -->
    </div>
  </div>
  <app-exe-tile-list [userAccess]="userRoleAccess" [exes]="exeType" (selectedExeTile)="selectedExeTile($event)"></app-exe-tile-list>
</div>

