<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center start">
  <div fxFlex="82">
    <mat-radio-group #matRadioBtn="matRadioGroup" (change)="onItemSelect($event)" [(ngModel)]="radioSelected"
      fxLayout="row" fxLayoutAlign="space-between center">
      <mat-radio-button *ngFor="let item of radioList" [value]="item">
        {{item}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex="82">

    <table style="width: 100%" class="table">
      <tr>
        <th>
          <span *ngIf="matRadioBtn.value === 'PROCESS' ||matRadioBtn.value === 'SERVICE'">
            Application
          </span>
          <span *ngIf="matRadioBtn.value === 'EXE'">
            Executable Type
          </span>
          <span *ngIf="matRadioBtn.value === 'ARTIFACT' ">
            Artifact Type
          </span>
          <span *ngIf="matRadioBtn.value === 'SERVER'">
            Server
          </span>
          <span *ngIf="matRadioBtn.value === 'PLATFORM'">
            Platform
          </span>
          <span *ngIf="matRadioBtn.value === 'SLA'">
            SLA
          </span>
        </th>
        <th *ngIf="matRadioBtn.value === 'PROCESS' ||matRadioBtn.value === 'SERVICE' || matRadioBtn.value === 'EXE' ">
          <span *ngIf="matRadioBtn.value === 'EXE'">
            Executable Name
          </span>
          <span *ngIf="matRadioBtn.value === 'PROCESS' ||matRadioBtn.value === 'SERVICE'">
            Process
          </span>
          <span *ngIf="matRadioBtn.value === 'ARTIFACT' ">
            Artifact Name
          </span>
        </th>
        <th *ngIf="matRadioBtn.value === 'SERVICE'">Service</th>
        <th>Create</th>
        <th>Update</th>
        <th>Read</th>
        <th>Delete</th>
        <th>Execute</th>
        <th>
          <div style="margin-top:-8px;">
            Actions
            <button mat-icon-button (click)="addRow()">
              <mat-icon style="color:red;font-size: larger;font-weight: bold;">add</mat-icon>
            </button>
          </div>
        </th>
        <!-- <th (click)="uploadBtnClick(template)" *ngIf="CREATE!=='N'" class="addButton">+</th> -->
      </tr>
      <tr *ngIf="addFlag">
        <td>
          <mat-form-field>
            <input matInput name="app" (change)="onAppSelect($event.target.value)" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option style="text-align:center;" (click)="onAppSelect(app)" *ngFor="let app of applicationValues"
                [value]="app">
                {{app}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <!-- <mat-form-field>
            <mat-select (selectionChange)="onAppSelect($event)" *ngIf="applicationValues.length">
              <mat-option *ngFor="let app of applicationValues" [value]="app">
                {{app}}
              </mat-option>
            </mat-select>
            <input matInput type="text" name="app" (change)="onAppSelect($event)" *ngIf="!applicationValues.length" />

          </mat-form-field> -->
        </td>
        <td *ngIf="matRadioBtn.value === 'PROCESS' ||matRadioBtn.value === 'SERVICE' || matRadioBtn.value === 'EXE' ">
          <!-- {{selectedApplication[i].index}} we {{i}} -->
          <mat-form-field>
            <input matInput name="app" (change)="onProcessSelect($event.target.value)" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option style="text-align:center;" (click)="onProcessSelect(process)"
                *ngFor="let process of processValues" [value]="process">
                {{process}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <!-- <mat-form-field>
            <mat-select (selectionChange)="onProcessSelect($event)" *ngIf="processValues.length">
              <mat-option *ngFor="let process of processValues" [value]="process">
                {{process}}
              </mat-option>
            </mat-select>
            <input matInput type="text" name="process" (change)="onProcessSelect($event)"
              *ngIf="!processValues.length" />
          </mat-form-field> -->
        </td>
        <td *ngIf="matRadioBtn.value === 'SERVICE'">
          <mat-form-field>
            <input matInput name="app" (change)="onServiceSelect($event.target.value)" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option style="text-align:center;" (click)="onServiceSelect(service)"
                *ngFor="let service of serviceValues" [value]="service">
                {{service}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <!-- <mat-form-field>
            <mat-select (selectionChange)="onServiceSelect($event)" *ngIf="serviceValues.length">
              <mat-option *ngFor="let service of serviceValues" [value]="service">
                {{service}}
              </mat-option>
            </mat-select>
            <input matInput type="text" name="service" (change)="onServiceSelect($event)"
              *ngIf="!serviceValues.length" />
          </mat-form-field> -->
        </td>
        <td>
          <mat-checkbox class="example-margin" (change)="onPermissionChange(authValueObj,'V_CREATE')"
            [checked]="authValueObj.V_CREATE === 'Y'"></mat-checkbox>
        </td>
        <td>
          <mat-checkbox class="example-margin" (change)="onPermissionChange(authValueObj,'V_UPDATE')"
            [checked]="authValueObj.V_UPDATE === 'Y'"></mat-checkbox>
        </td>
        <td>
          <mat-checkbox class="example-margin" (change)="onPermissionChange(authValueObj,'V_READ')"
            [checked]="authValueObj.V_READ === 'Y'"></mat-checkbox>
        </td>
        <td>
          <mat-checkbox class="example-margin" (change)="onPermissionChange(authValueObj,'V_DELETE')"
            [checked]="authValueObj.V_DELETE === 'Y'"></mat-checkbox>
        </td>
        <td>
          <mat-checkbox class="example-margin" (change)="onPermissionChange(authValueObj,'V_EXECUTE')"
            [checked]="authValueObj.V_EXECUTE === 'Y'"></mat-checkbox>
        </td>
        <td>
          <button [disabled]=!enableAddButtonFlag mat-icon-button (click)="onAddSubmit()">
            <mat-icon style="color:blue;font-size: larger;">done
            </mat-icon>
          </button>
        </td>
      </tr>
      <tr *ngFor="let authorize of filteredAuthValues;let i = index;">
        <td>
          <span *ngIf="matRadioBtn.value === 'PROCESS' ||matRadioBtn.value === 'SERVICE'">
            {{authorize.V_APP_CD}}
          </span>
          <span *ngIf="matRadioBtn.value === 'EXE'">
            {{authorize.V_EXE_TYP}}
          </span>
          <span *ngIf="matRadioBtn.value === 'ARTIFACT' ">
            {{authorize.V_AUTH_DSC}}
          </span>
          <span *ngIf="matRadioBtn.value === 'SERVER'">
            {{authorize.V_AUTH_DSC}}
          </span>
          <span *ngIf="matRadioBtn.value === 'PLATFORM'">
            {{authorize.V_AUTH_DSC}}
          </span>
          <span *ngIf="matRadioBtn.value === 'SLA'">
            {{authorize.V_AUTH_DSC}}
          </span>
        </td>
        <td *ngIf="matRadioBtn.value === 'PROCESS' ||matRadioBtn.value === 'SERVICE' || matRadioBtn.value === 'EXE' ">
          <!-- {{selectedApplication[i].index}} we {{i}} -->
          <span *ngIf="matRadioBtn.value === 'EXE' || matRadioBtn.value === 'PROCESS'">
            {{authorize.V_AUTH_CD}}
          </span>
          <span *ngIf="matRadioBtn.value === 'SERVICE'">
            {{authorize.V_PRCS_CD}}
          </span>
          <!-- <span *ngIf="matRadioBtn.value === 'ARTIFACT' ">
            {{authorize.V_AUTH_DSC}}
          </span> -->
        </td>
        <td *ngIf="matRadioBtn.value === 'SERVICE'">
          {{authorize.V_AUTH_DSC}}
        </td>
        <td>
          <mat-checkbox class="example-margin" (change)="onPermissionChange(authorize,'V_CREATE')"
            [checked]="authorize.V_CREATE === 'Y'"></mat-checkbox>
        </td>
        <td>
          <mat-checkbox class="example-margin" (change)="onPermissionChange(authorize,'V_UPDATE')"
            [checked]="authorize.V_UPDATE === 'Y'"></mat-checkbox>
        </td>
        <td>
          <mat-checkbox class="example-margin" (change)="onPermissionChange(authorize,'V_READ')"
            [checked]="authorize.V_READ === 'Y'"></mat-checkbox>
        </td>
        <td>
          <mat-checkbox class="example-margin" (change)="onPermissionChange(authorize,'V_DELETE')"
            [checked]="authorize.V_DELETE === 'Y'"></mat-checkbox>
        </td>
        <td>
          <mat-checkbox class="example-margin" (change)="onPermissionChange(authorize,'V_EXECUTE')"
            [checked]="authorize.V_EXECUTE === 'Y'"></mat-checkbox>
        </td>
        <td>
          <button mat-icon-button (click)="editTick_click(i)">
            <mat-icon style="color:blue;font-size: larger;">edit
            </mat-icon>
          </button>
          <button mat-icon-button (click)="delete_click(i)">
            <mat-icon style="color:blue;font-size: larger;">delete</mat-icon>
          </button>
        </td>
      </tr>

    </table>
    <hr />
    <!-- <div class="adventColor" flex fxLayout="row" fxLayoutAlign="center">

      <button mat-raised-button (click)="cancelbtn_click();" id="cancel">
        <mat-icon class="iconmod">clear</mat-icon>End
      </button>
      <div flex fxFlex="5"></div>

      <button mat-raised-button (click)="submitbtn_click();" id="submit">
        <mat-icon class="iconmod">done_all</mat-icon>Submit
      </button>
      <div flex fxFlex="5"></div>
    </div> -->

  </div>

</div>
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col">
      <strong>Authorization</strong>
      <mat-list class="scroll">
        <mat-list-item class="list_item" (click)="authData(authorize);showAuthData(authorize);selected(i)"
          *ngFor="let authorize of authValues$ | async;let i = index;" [class.active]="authorize.selected == true">
          <div>{{authorize.V_AUTH_CD}}</div>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col">
      <strong>{{updateBtn}}Authorization Description</strong>
      <mat-form-field style="width:100%;">
        <textarea matInput [(ngModel)]="authD.AUTH_DSC" (keyup)="authData(authD.AUTH_DSC)">

        </textarea>
      </mat-form-field>

      <br />
      <input type="checkbox" [checked]="authD.read_select" (click)="checkUncheck('Read')" />Read
      <div fxFlex="3"></div>
      <input type="checkbox" [checked]="authD.delete_select" (click)="checkUncheck('Delete')" />Delete
      <div fxFlex="3"></div>
      <input type="checkbox" [checked]="authD.create_select" (click)="checkUncheck('Create')" />Create
      <div fxFlex="3"></div>
      <input type="checkbox" [checked]="authD.update_select" (click)="checkUncheck('Update')" />Update
      <div fxFlex="3"></div>
    </div>
  </div>

</div> -->
