

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <strong>{{Label['available_user']}}</strong>
      <mat-list  class="scroll">
          <!-- (click)="getUserDetails(u);fooo(u);onpselect(i);" -->
          <mat-list-item class="list_item"  *ngFor="let user of users$ | async; let i = index;" (click)="getUserDetails(user)">
              <!-- [class.active]="i == selecteduser" -->
              <div>{{user.USR_NM}}</div>
          </mat-list-item>
      </mat-list>
    </div>
    <div class="col">
      <strong>{{Label['user_name']}}</strong>
      <mat-form-field style="width:100%;margin-top:12px;">
        <!-- [(ngModel)]="USR_NM_R" (keyup)="doBothField();onKey()" -->
          <input matInput  [(ngModel)]="user.USR_NM_R" (keyup)="availableGroupValueChange(user.USR_NM_R)"/>
      </mat-form-field>


      <strong>{{Label['user_description']}}</strong>
          <mat-form-field style="width:100%;">
            <!-- (keyup)="changinUserInfo($event)" matInput [(ngModel)]="USR_DSC_R" (keyup)="descChange()" -->
              <textarea matInput [(ngModel)]="user.USR_DSC_R"></textarea>
          </mat-form-field>
          <br />

          <strong>{{Label['current_status']}}</strong>
          <!-- [(value)]="USRC_STATUS_R" [(ngModel)]="USRC_STATUS_R" (change)="statusChange()" -->
          <select class="glo_input" [(value)]="user.STS_R" [(ngModel)]="user.STS_R">
              <option value="ACTIVE">Active</option>
              <option value="TERMINATED">Terminated</option>
              <option value="VACATION">Vacation</option>
              <option value="LEAVE">Leave</option>
              <option value="UNAVAILABLE">Unavailable</option>
          </select>
    </div>
  </div>

</div>

