.example-radio-group {
    display: inline-flex;
    flex-direction: row;
}

.example-radio-button {
    margin: 5px;
}

.matspin {
    vertical-align: middle;
}

mat-list-item {
    div {
        text-align: center;
        width: 100%;
    }
}

mat-list {
    border: 1px solid #ccc;
    border-radius: .25rem;
    width: 100%;
    padding-top: 0;
    font-size: 1rem;
    line-height: 1.5;
    height: auto;
}

.scroll {
    * {
        height: auto;
        text-align: center;
    }
}

.active {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: white;
}

.iconmod {
    margin-right: 10px;
}

::ng-deep {
    .mat-input-infix {
        background: white;
        border: 1px solid rgb(200, 200, 200);
        border-radius: 3px;
        padding-bottom: 5px;
        text-align: center;
    }
}

.candence_choice {
    width: 162px;
    border-color: #000;
}

.repeat_after {
    margin: 5px 4px 6px 4px;
}

:host ::ng-deep .day_of_month .mat-form-field-infix {
    line-height: 24px !important;
}