.example-radio-group {
    display: inline-flex;
    flex-direction: row;
}

.example-radio-button {
    margin: 5px;
}

.matspin {
    vertical-align: middle;
}

mat-list-item {
    div {
        text-align: center;
        width: 100%;
    }
}

mat-list {
    border: 1px solid #ccc;
    border-radius: .25rem;
    width: 100%;
    padding-top: 0;
    font-size: 1rem;
    line-height: 1.5;
    height: auto;
}

.scroll {
    * {
        height: auto;
        text-align: center;
    }
}

.active {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: white;
}

.iconmod {
    margin-right: 10px;
}

::ng-deep {
    .mat-input-infix {
        background: white;
        border: 1px solid rgb(200, 200, 200);
        border-radius: 3px;
        padding-bottom: 5px;
        text-align: center;
    }
}

.candence_choice {
    width: 100%;
    border-color: #000;
    text-align-last: center;
}
:host ::ng-deep .week_block .mat-form-field-infix {
    border: none !important;
}
.repeat_after {
    margin-top: 13px;
}
:host ::ng-deep .repeatAfter .mat-form-field-infix {
    border: none !important;
}
:host ::ng-deep .day_of_month .mat-form-field-infix {
    line-height: 24px !important;
}

@media screen and (max-width: 767px) { 
    :host ::ng-deep .repeatAfter {
        width: 130px !important;
    }
}