<div flex fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayout.gt-sm="row">

  <div fxFlex="32">

    <label style="text-align:center;width:100%;">
      <strong>Applications</strong>
    </label>
    <mat-list class="scroll">
      <mat-list-item class="list_item" (click)="clickme(app ,i,$event)" *ngFor="let app of APP_CD;let i = index"
        [class.active]="app ==selectedapp">
        <div> {{app}} </div>
      </mat-list-item>
    </mat-list>
    <label class="f_label">
      Applications Name
    </label>
    <mat-form-field class="form_input">
      <input matInput name="app_name" [(ngModel)]="selectedapp" class="f_inp">
    </mat-form-field>
    <label class="f_label">
      Applications Description
    </label>
    <mat-form-field class="form_input">
      <input matInput name="app_desc" [(ngModel)]="applicationDescription" class="f_inp">
    </mat-form-field>
    <div>

      <button mat-raised-button (click)="onAppAdd()" color="primary" style="margin-right:10px; ">Add</button>
      <button mat-raised-button (click)="onAppDelete()" color="warn">Delete</button>
    </div>
  </div>

  <div fxFlex="3"></div>
  <div fxFlex="32">

    <label style="text-align:center;width:100%;">
      <strong>Processes</strong>
    </label>
    <mat-list class="scroll">
      <mat-list-item class="list_item" (click)="clickme1(app1,$event)" *ngFor="let app1 of PRCS_CD"
        [class.active]="app1 ==selectedprcs">
        <div> {{app1}} </div>
      </mat-list-item>
    </mat-list>
    <label class="f_label">
      User Roles
    </label>
    <mat-form-field class="form_input">
      <input matInput name="process_role" #pname="ngModel" [matAutocomplete]="auto" [(ngModel)]="selectedPrcsRole"
        class="f_inp">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option style="text-align:center;" *ngFor="let role of rolesList" [value]="role.ROLE_CD">
          {{role.ROLE_CD}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayout.gt-sm="row">
      <mat-checkbox fxFlex="25" class="example-margin" (change)="onPermissionChange(processPermission,'READ')"
        [checked]="processPermission.READ === 'Y'">READ</mat-checkbox>
      <mat-checkbox fxFlex="25" class="example-margin" (change)="onPermissionChange(processPermission,'CREATE')"
        [checked]="processPermission.CREATE === 'Y'">CREATE</mat-checkbox>
      <mat-checkbox fxFlex="25" class="example-margin" (change)="onPermissionChange(processPermission,'EXECUTE')"
        [checked]="processPermission.EXECUTE === 'Y'">EXECUTE</mat-checkbox>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayout.gt-sm="row">
      <mat-checkbox fxFlex="25" class="example-margin" (change)="onPermissionChange(processPermission,'UPDATE')"
        [checked]="processPermission.UPDATE === 'Y'">UPDATE</mat-checkbox>
      <mat-checkbox fxFlex="25" class="example-margin" (change)="onPermissionChange(processPermission,'DELETE')"
        [checked]="processPermission.DELETE === 'Y'">DELETE</mat-checkbox>
    </div>

    <label class="f_label">
      Process Name
    </label>
    <mat-form-field class="form_input">
      <input matInput name="process_name" [(ngModel)]="selectedprcs" class="f_inp">
    </mat-form-field>
    <label class="f_label">
      Process Description
    </label>
    <mat-form-field class="form_input">
      <input matInput name="process_desc" [(ngModel)]="processDescription" class="f_inp">
    </mat-form-field>
    <div style="margin-bottom:30px;">
      <button mat-raised-button color="primary" style="margin-right:10px; " (click)="onProcessAdd()">Add</button>
      <button mat-raised-button color="warn" (click)="onProcessDelete()">Delete</button>
    </div>
  </div>
  <div fxFlex="3"></div>
  <div fxFlex="32">
    <label style="text-align:center;width:100%;">
      <strong>Services</strong>
    </label>
    <mat-list class="scroll">
      <mat-list-item class="list_item" (click)="clickme2(app2,$event)" *ngFor="let app2 of SRVC_CD"
        [class.active]="app2 ==selectedsrvc">
        <div> {{app2}} </div>
      </mat-list-item>
    </mat-list>
    <label class="f_label">
      User Roles
    </label>
    <mat-form-field class="form_input">
      <input matInput name="process_role" #pname="ngModel" [matAutocomplete]="auto" [(ngModel)]="selectedSrvcRole"
        class="f_inp">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option style="text-align:center;" *ngFor="let role of rolesList" [value]="role.ROLE_CD">
          {{role.ROLE_CD}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayout.gt-sm="row">
      <mat-checkbox fxFlex="25" class="example-margin" (change)="onPermissionChange(servicePermission,'READ')"
        [checked]="servicePermission.READ === 'Y'">READ</mat-checkbox>
      <mat-checkbox fxFlex="25" class="example-margin" (change)="onPermissionChange(servicePermission,'CREATE')"
        [checked]="servicePermission.CREATE === 'Y'">CREATE</mat-checkbox>
      <mat-checkbox fxFlex="25" class="example-margin" (change)="onPermissionChange(servicePermission,'EXECUTE')"
        [checked]="servicePermission.EXECUTE === 'Y'">EXECUTE</mat-checkbox>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayout.gt-sm="row">
      <mat-checkbox fxFlex="25" class="example-margin" (change)="onPermissionChange(servicePermission,'UPDATE')"
        [checked]="servicePermission.UPDATE === 'Y'">UPDATE</mat-checkbox>
      <mat-checkbox fxFlex="25" class="example-margin" (change)="onPermissionChange(servicePermission,'DELETE')"
        [checked]="servicePermission.DELETE === 'Y'">DELETE</mat-checkbox>
    </div>
    <label class="f_label">
      Service Name
    </label>
    <mat-form-field class="form_input">
      <input matInput name="srvc_name" [(ngModel)]="selectedsrvc" class="f_inp">
    </mat-form-field>
    <label class="f_label">
      Service Description
    </label>
    <mat-form-field class="form_input">
      <input matInput name="service_dsc" [(ngModel)]="serviceDescription" class="f_inp">
    </mat-form-field>
    <div>

      <button mat-raised-button color="primary" style="margin-right:10px; " (click)="onServiceAdd()">Add</button>
      <button mat-raised-button color="warn" (click)="onServiceDelete()">Delete</button>
    </div>
  </div>
</div>
<!-- <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayout.gt-sm="row">
            <div fxFlex="35"></div>
            <button fxFlex="30" (click)="sendMessage()" mat-raised-button style="color:white;background-color:darkslateblue;">Send Message</button>
            <div fxFlex="35"></div>
          </div> -->
