<div flex fxLayoutGap="30px" fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayout.gt-sm="row">
  <div flex fxFlex="30">
    <strong>
      <label style="text-align:center;width:100%;">{{Label['CXN_TYP']}}</label>
    </strong>
    <mat-list *ngIf="desktopView" class="scroll" style="text-align: center;">
      <mat-list-item class="list_item" *ngFor="let a of conn_type; let i = index;" (click)="getconnection(a);showfield();onpselect(i)"
        [class.active]="i == selectedcontyp">
        <div>{{a}}</div>
      </mat-list-item>
    </mat-list>
    <mat-form-field *ngIf="mobileView" style="width:100%;text-align: center;" [floatLabel]="'never'">
      <mat-select style="margin-top:10px;" placeholder="--Select--">
        <mat-option style="text-align:center;" (click)="getconnection(a);showfield();onpselect(i)" *ngFor="let a of conn_type; let i = index;"
          [value]="a">{{a}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div flex fxFlex="30" *ngIf="connectionshow">
    <strong>
      <label style="text-align:center;width:100%;">{{Label['CXN_CD']}}</label>
    </strong>
    <mat-list *ngIf="desktopView" class="scroll">
      <mat-list-item class="list_item" *ngFor="let b of conn; let j = index;" (click)="getcodedesc(b);gettable();showtab();onmselect(j)"
        [class.active]="j == selectedcon">
        <div>{{b}}</div>
      </mat-list-item>
    </mat-list>
    <mat-form-field *ngIf="mobileView" style="width:100%;text-align: center;" [floatLabel]="'never'">
      <mat-select style="margin-top:10px;" placeholder="--Select--">
        <mat-option style="text-align:center;" *ngFor="let b of conn; let j = index;" (click)="getcodedesc(b);gettable();showtab();onmselect(j)"
          [value]="b">{{b}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div flex fxFlex="30" fxLayoutGap="20px" fxLayout="column" fxLayout.lt-sm="column" fxLayout.sm="column" *ngIf="connectionshow">
    <div flex fxLayout="column" style="text-align: center;">
      <label style="margin-bottom: 0;">Connection Code</label>
      <mat-form-field class="incwid">
        <!-- <strong><label style="text-align:center;width:100%;">Connection Code</label></strong> -->
        <textarea matInput [(ngModel)]="c_code"></textarea>
      </mat-form-field>
    </div>
    <div flex fxLayout="column" style="text-align: center;">
      <label style="margin-bottom: 0;">Connection Description</label>
      <mat-form-field class="incwid">
        <!-- <strong><label style="text-align:center;width:100%;">Connection Description</label></strong> -->
        <textarea matInput [(ngModel)]="c_desc"></textarea>
      </mat-form-field>
    </div>
    <div flex fxLayout="row" fxLayout.lt-sm="row" fxLayout.sm="row" fxLayout.gt-sm="row" fxLayoutAlign="space-around center">
      <div fxHide="true" fxShow.gt-sm="true">
        <button mat-raised-button color="primary" (click)="addconn()">
          <mat-icon>add</mat-icon>ADD</button>
        <button mat-raised-button color="warn" (click)="deleteconn()">
          <mat-icon>delete</mat-icon>DELETE</button>
      </div>
      <div fxHide="true" fxShow.xs="true">
        <button mat-fab color="primary" (click)="addconn()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-fab color="warn" (click)="deleteconn()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<br>
<div *ngIf="tableshow" flex fxLayoutGap="50px" fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="row" fxLayout.gt-sm="row">
  <div fxFlex="100">
    <label style="text-align:center;width:100%;">
      <strong>{{Label['Parameters']}}</strong>
    </label>
    <div class="tab">
      <mat-card style="background: rgb(242,242,242);box-shadow: 1px 1px 1px transparent;border:none;">
        <mat-card-title>
        </mat-card-title>
        <mat-card-content>
          <div *ngFor="let aa of Data" style="padding-left: 20px;padding-right: 20px;text-align: center;float:left;" flex fxLayout="column"
            class="myField">
            <label>{{aa.name}}</label>
            <mat-form-field>
              <input (blur)="storeconn(aa)" matInput style="text-align: center" [value]="aa.value" [(ngModel)]='aa.value'>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div flex fxLayoutAlign="space-around center">
    <button mat-raised-button color="primary" (click)="updateconn()">
      <mat-icon>update</mat-icon> UPDATE</button>
  </div>
</div>