<div flex fxlayoutGap="30px" fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayout.gt-sm="row">
    <div flex fxFlex="30">
        <strong>
            <label style="text-align:center;width:100%;">{{Label['PLATFORM_CD']}}</label>
        </strong>
        <mat-list *ngIf="desktopView" class="scroll">
            <mat-list-item class="list_item" *ngFor="let mc of PLF_DATA['PLATFORM_CD']; let i = index;" (click)="additionalMachineDetails(mc); onpselect(i)"
                [class.active]="i==selectedplftyp">
                <div>{{mc}}</div>
            </mat-list-item>
        </mat-list>
        <mat-form-field *ngIf="mobileView" style="width:100%;text-align: center;" [floatLabel]="'never'">
            <mat-select style="margin-top:10px;" placeholder="--Select--">
                <mat-option style="text-align:center;" *ngFor="let mc of PLF_DATA['PLATFORM_CD']; let i = index;" (click)="additionalMachineDetails(mc); onpselect(i)"
                    [value]="mc">{{mc}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div flex fxFlex="5"></div>
    <div flex fxFlex="65" fxLayout="column">

        <!-- <label  style="text-align:center;">*ngFor="let mc of ADDITIONAL_PLF_DATA_ARR;"
                    <strong>{{Label[lab]}}</strong>
                </label> -->
        <div style="text-align:center;width:100%;" *ngFor="let mc of ADDITIONAL_PLF_DATA_ARR;">
            <label style="margin-bottom: 0;">
                <strong>{{mc.title}}</strong>
            </label>
            <mat-form-field class="input_control">
                <input matInput style="text-align:center;" [(ngModel)]='mc.name' [name]='mc.name'>
                <!-- < div flex fxFlex="5"></div> -->
            </mat-form-field>
        </div>
    </div>
</div>