<div class="container-fluid">
  <div class="row">
    <div class="col">
        <strong>{{Label['role']}}</strong>
                     
        <mat-selection-list class="scroll" #rl>
            <mat-list-option class="sd list_item" (click)="selectedRole(r,j);" *ngFor=" let r of roles$ | async;let j = index;"
                [(selected)]="r.selected" [value]="r.name" [class.active]="j == selectedrole || is_selected_role == true">
                {{r.ROLE_CD}}                {{r.ROLE_ID}}

            </mat-list-option>
        </mat-selection-list>
        <br/>
        <!-- <strong>{{Label['user_description']}}</strong> -->
        <strong>{{Label['role_descripton']}}</strong>
        <mat-form-field style="width:100%;">
            <textarea matInput [(ngModel)]="roledesc">

</textarea>
        </mat-form-field>
   </div>
   <div class="col">
      <strong>{{Label['Group']}}</strong>

      <mat-selection-list  class="scroll" #gp [(ngModel)]="selectedOptions">
          <mat-list-option class="sd list_item" (click)="selectedGroup(g,i);" *ngFor="let g of userGroup$ | async;let i = index;"
              [value]="g.name" [class.active]="i == selectedgroup">
              {{g.USR_GRP_CD}}
          </mat-list-option>
      </mat-selection-list>
    <br/>
      <strong>{{Label['Grp_dscr']}}</strong>
      <mat-form-field style="width:100%;">
        <textarea matInput [(ngModel)]="RollR" (keyup)="addBothfield();" >
          </textarea>
      </mat-form-field>
   </div>
    
  </div>
</div>

