<div id="body" fxLayout="row" fxLayout.lt-sm="column">                
  <div fxFlex="35" ></div>
  <div fxFlex="30" >
    <mat-form-field style="width:100%;">

      <input [(ngModel)]="start_at_date" matInput placeholder="Select Start Date"
             [owlDateTimeTrigger]="dtPicker1"[min]="min_date" [owlDateTime]="dtPicker1">
      <owl-date-time #dtPicker1></owl-date-time>
    </mat-form-field><br />
  <div class="parent">
    <button class="content" mat-raised-button mat-button  color="primary" (click)="Execute()" >Execute</button>
  </div>
  </div>
  <div fxFlex="35" ></div>
  </div>