<mat-accordion *ngIf="APP_CD!=''">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{APP_CD}}<span class="selected-process-font" *ngIf="PRCS_CD!=''"> : {{PRCS_CD}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-viewer-diagram [parentapp]="APP_CD" [parentpro]="PRCS_CD" [file_path]="bpmnFilePath">
    </app-viewer-diagram>
  </mat-expansion-panel>
</mat-accordion>
<div *ngIf="bottomFlag">
  <app-repeatable-form *ngIf="showRepForm"></app-repeatable-form>
  <app-report-table *ngIf="showReportTable"></app-report-table>
</div>
<div fxLayout="row" fxLayout.lt-sm="column">
  <div fxFlex="9">
  </div>
  <div fxFlex="82">
    <mat-card class="CustomeLayout non-repeatable-form-background">
      <mat-card-title>
        <div fxLayout="row" fxLayout.lt-sm="column">
          <div fxFlex="40">
          </div>
          <div fxFlex="48" class="title_form">
            {{srvc_cd_sl}}
          </div>
        </div>

        <hr />
      </mat-card-title>

      <mat-card-content *ngIf="V_READ!=='N' && desktopView">
        <!-- <div *ngIf="1" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
          [style.width]="60 + '%'">
          60%
        </div> -->
        <form name="form" #nrpForm="ngForm" novalidate>
          <div style="overflow: auto;white-space: nowrap;">
            <div *ngFor="let label of RVP_labels;let i = index" style="float:left;" [style.width.%]="formWidth[label]"
              [style.marginLeft.%]="margin" [ngClass]="configService.getFieldClass(label)">
              <ng-container *ngIf="!configService.isFieldHidden(label)">
                <h4 style="text-align:center;margin-bottom: 0px;">{{RVP_placeholder[i]}}
                  <span *ngIf="configService.isFieldMendatory(label)">*</span>
                  <!-- <mat-icon *ngIf="configService.getFieldTooltip(label)!=null"
                    [matTooltip]="configService.getFieldTooltip(label)" class="field-help">help
                  </mat-icon> -->
                  <mat-icon *ngIf="FLD_HLP_TXT[i] !== null" matTooltip="{{FLD_HLP_TXT[i]}}" class="field-help"
                    matTooltipPosition="after">help</mat-icon>
                </h4>
                <!-- <mat-icon *ngIf="FLD_HLP_TXT[i] !== null" matTooltip="{{FLD_HLP_TXT[i]}}" class="field-help"
                  matTooltipPosition="after">help</mat-icon> -->
                <br />
                <div *ngIf="DSPLY_FLD[i]">
                  <ng-container [ngSwitch]="fieldType[label].toLowerCase()">
                    <ng-container *ngSwitchCase="'date'">
                      <mat-form-field class="form_input">
                        <input #name="ngModel" [required]="configService.isFieldMendatory(label)"
                          [disabled]="configService.isFieldDisabled()" [name]="label" [value]="input[label]"
                          [(ngModel)]="input[label]" matInput [matDatepicker]="picker" class="f_inp"
                          (dateChange)="Update_value(input[label],label)">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      <div class="error" [style.visibility]="configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'time'">
                      <mat-form-field class="form_input">
                        <input #name="ngModel" [required]="configService.isFieldMendatory(label)"
                          [disabled]="configService.isFieldDisabled()" matInput [type]="fieldType[label]" [name]="label"
                          [(ngModel)]="input[label]" class="f_inp" (ngModelChange)="Update_value($event,label)"
                          [owlDateTimeTrigger]="ftime" [owlDateTime]="ftime">
                        <owl-date-time [pickerType]="'timer'" #ftime></owl-date-time>
                      </mat-form-field>
                      <div class="error" [style.visibility]="configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'datetime'">
                      <mat-form-field class="form_input" style="background-color: #f4f6f7">
                        <input #name="ngModel" [required]="configService.isFieldMendatory(label)"
                          [disabled]="configService.isFieldDisabled()" matInput [name]="label"
                          [(ngModel)]="input[label]" [owlDateTimeTrigger]="fdate" [owlDateTime]="fdate"
                          (ngModelChange)="Update_value($event,label)">
                        <!-- [attr.id]="label" -->
                        <owl-date-time #fdate></owl-date-time>
                      </mat-form-field>
                      <div class="error" [style.visibility]="configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'password'">
                      <mat-form-field class="form_input">
                        <input matInput #name="ngModel" [required]="configService.isFieldMendatory(label)"
                          [readonly]="configService.isFieldDisabled(label)" [type]="fieldType[label]" [name]="label"
                          [value]="input[label]" [(ngModel)]="input[label]" #name="ngModel" class="f_inp"
                          (change)="Update_value($event.target.value,label)">
                      </mat-form-field>
                      <div class="error" [style.visibility]="configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'radio button'">
                      <mat-form-field class="form_input form_list">
                        <input matInput style="display: none">
                        <mat-radio-group [name]="label" [(ngModel)]="input[label]"
                          [required]="configService.isFieldMendatory(label)" #name="ngModel"
                          [disabled]="configService.isFieldDisabled(label)"
                          (ngModelChange)="Update_value($event,label)">
                          <mat-radio-button style="background-color: #f4f6f7" [value]="listOption"
                            *ngFor="let listOption of options[label]">
                            {{listOption}}
                          </mat-radio-button>
                        </mat-radio-group>
                      </mat-form-field>
                      <div class="error" [style.visibility]="configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'checkbox'">
                      <mat-form-field class="form_input form_list" *ngIf="options[label] != undefined">
                        <input matInput style="display: none">
                        <mat-selection-list [name]="label" [(ngModel)]="input[label]"
                          [required]="configService.isFieldMendatory(label)" #name="ngModel"
                          [disabled]="configService.isFieldDisabled(label)"
                          (ngModelChange)="Update_value($event,label)">
                          <mat-list-option checkboxPosition="before" *ngFor="let listOption of options[label]"
                            [value]="listOption">
                            {{listOption}}
                          </mat-list-option>
                        </mat-selection-list>
                      </mat-form-field>
                      <div *ngIf="options[label] != undefined" class="error"
                        [style.visibility]="configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'text area'">
                      <mat-form-field class="form_input">
                        <textarea [required]="configService.isFieldMendatory(label)" matInput
                          [readonly]="configService.isFieldDisabled(label)" [name]="label"
                          [maxLength]="configService.getFieldMaxLength(label)" [(ngModel)]="input[label]" class="f_inp"
                          (change)="Update_value($event,label)" #name="ngModel">
										  </textarea>
                      </mat-form-field>
                      <div class="error" [style.visibility]="configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="configService.getFieldTypeForChange(fieldType[label])">
                      <mat-form-field class="form_input">
                        <input matInput [required]="configService.isFieldMendatory(label)"
                          maxlength="configService.getMaxLengthForField(fieldType[label])" [name]="label"
                          (value)="input[label]" (change)="configService.transformFieldValueOnChange($event,label)"
                          [(ngModel)]="input[label]" class="f_inp" #name="ngModel"
                          (change)="Update_value($event.target.value,label)">
                        <mat-autocomplete class="autoCompletes" #auto="matAutocomplete"
                          (click)="Update_value(input[label],label)">
                          <mat-option style="text-align:center;"
                            *ngFor="let item of searchResult | myfilter:FilterAutoValue" [value]="item">
                            {{ item }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      <div class="error" [style.visibility]="configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'zip'">
                      <mat-form-field class="form_input">
                        <input type="text" pattern="^[0-9]{5}?$" [required]="configService.isFieldMendatory(label)"
                          maxlength="5" matInput [disabled]="configService.isFieldDisabled(label)" [name]="label"
                          (value)="input[label]" [matAutocomplete]="auto" [(ngModel)]="input[label]" class="f_inp"
                          #name="ngModel" (key)="Update_value($event.target.value,label)">

                        <mat-autocomplete class="autoCompletes" #auto="matAutocomplete"
                          (click)="Update_value(input[label],label)">
                          <mat-option style="text-align:center;"
                            *ngFor="let item of searchResult | myfilter:FilterAutoValue" [value]="item">
                            {{ item }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      <div class="error" [style.visibility]="configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'email'">
                      <mat-form-field class="form_input">
                        <input type="email" [required]="configService.isFieldMendatory(label)" matInput
                          [readonly]="configService.isFieldDisabled(label)" [name]="label" (value)="input[label]"
                          [matAutocomplete]="auto" (click)="getDropDownListValue(label)" [(ngModel)]="input[label]"
                          class="f_inp" #name="ngModel" email="true"
                          pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                          (change)="Update_value($event.target.value,label)">

                        <mat-autocomplete class="autoCompletes" #auto="matAutocomplete"
                          (click)="Update_value(input[label] ,label)">
                          <mat-option style="text-align:center;"
                            *ngFor="let item of searchResult | myfilter:FilterAutoValue" [value]="item">
                            {{ item }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      <div class="error" [style.visibility]=" configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <mat-form-field class="form_input">
                        <input matInput type="text" [name]="label" class="form-input" [matAutocomplete]="auto"
                          class="f_inp" [(ngModel)]="input[label]" [required]="configService.isFieldMendatory(label)"
                          #name="ngModel" [readonly]="configService.isFieldDisabled(label)"
                          [maxLength]="configService.getFieldMaxLength(label)"
                          (change)="Update_value(input[label],label)">
                        <mat-autocomplete #auto="matAutocomplete">

                          <mat-option style="text-align:center;" (click)="Update_value(input[label] ,label)"
                            *ngFor="let option of options[label]" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      <div class="error" [style.visibility]=" configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
        </form>
        <br><br><br>
        <div fxLayout="row" fxLayout.lt-sm="column">
          <div fxFlex="40">
          </div>
          <div fxFlex="48">
            <button mat-raised-button [disabled]="endClicked" (click)="onCancel();" id="cancel">
              <mat-icon class="iconmod">clear</mat-icon>End
            </button>
            <div flex fxFlex="5"></div>

            <button mat-raised-button [disabled]="submitClicked" (click)="onSubmit();" id="submit"
              *ngIf="V_EXECUTE==='Y' && V_Hide_Submit === 'N'">
              <mat-icon class="iconmod">done_all</mat-icon>Submit
            </button>
          </div>
        </div>
      </mat-card-content>

      <form name="form" #nrpForm="ngForm" novalidate>
        <!-- <div *ngIf="1" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
          [style.width]="60 + '%'">
          60%
        </div> -->
        <mat-card-content *ngIf="V_READ!=='N' && mobileView">
          <div fxLayout="column">
            <div *ngFor="let label of RVP_labels;let i = index" fxFlex="100">
              <ng-container *ngIf="!configService.isFieldHidden(label)">
                <h4 style="text-align:center;margin-bottom: 0px;">{{RVP_placeholder[i]}}</h4>
                <mat-icon *ngIf="FLD_HLP_TXT[i] !== null" matTooltip="{{FLD_HLP_TXT[i]}}" class="field-help"
                  matTooltipPosition="after">help</mat-icon>
                <br />
                <div *ngIf="DSPLY_FLD[i]">
                  <ng-container [ngSwitch]="fieldType[label]">
                    <ng-container *ngSwitchCase="'date'">
                      <mat-form-field class="form_input">
                        <input #name="ngModel" [required]="configService.isFieldMendatory(label)"
                          [disabled]="configService.isFieldDisabled()" [name]="label" [value]="input[label]"
                          [(ngModel)]="input[label]" matInput [matDatepicker]="picker" class="f_inp"
                          (dateChange)="Update_value(input[label],label)">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      <div class="error" [style.visibility]="configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'time'">
                      <mat-form-field class="form_input">
                        <input #name="ngModel" [required]="configService.isFieldMendatory(label)"
                          [disabled]="configService.isFieldDisabled()" matInput [type]="fieldType[label]" [name]="label"
                          [value]="input[label]" [(ngModel)]="input[label]" class="f_inp"
                          (ngModelChange)="Update_value($event,label)" [owlDateTimeTrigger]="ftime"
                          [owlDateTime]="ftime">
                        <owl-date-time [pickerType]="'timer'" #ftime></owl-date-time>
                      </mat-form-field>
                      <div class="error" [style.visibility]="configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'datetime'">
                      <mat-form-field class="form_input" style="background-color: #f4f6f7">
                        <input #name="ngModel" [required]="configService.isFieldMendatory(label)"
                          [disabled]="configService.isFieldDisabled()" matInput [name]="label" [value]="input[label]"
                          [(ngModel)]="input[label]" [owlDateTimeTrigger]="fdate" [owlDateTime]="fdate"
                          (ngModelChange)="Update_value($event,label)">
                        <owl-date-time [attr.id]="label" #fdate></owl-date-time>
                      </mat-form-field>
                      <div class="error" [style.visibility]="configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'password'">
                      <mat-form-field class="form_input">
                        <input matInput #name="ngModel" [required]="configService.isFieldMendatory(label)"
                          [readonly]="configService.isFieldDisabled(label)" [type]="fieldType[label]" [name]="label"
                          [value]="input[label]" [(ngModel)]="input[label]" #name="ngModel" class="f_inp"
                          (change)="Update_value($event.target.value,label)">
                      </mat-form-field>
                      <div class="error" [style.visibility]="configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Radio Button'">
                      <mat-form-field class="form_input form_list">
                        <input matInput style="display: none">
                        <mat-radio-group [name]="label" [(ngModel)]="input[label]"
                          [required]="configService.isFieldMendatory(label)" #name="ngModel"
                          [disabled]="configService.isFieldDisabled(label)"
                          (ngModelChange)="Update_value(input[label],label)">
                          <mat-radio-button style="background-color: #f4f6f7" [value]="listOption"
                            *ngFor="let listOption of options[label]">
                            {{listOption}}
                          </mat-radio-button>
                        </mat-radio-group>
                      </mat-form-field>
                      <div class="error" [style.visibility]="configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Checkbox'">
                      <mat-form-field class="form_input form_list">
                        <input matInput style="display: none">
                        <mat-selection-list [(ngModel)]="input[label]"
                          [required]="configService.isFieldMendatory(label)" #name="ngModel"
                          [disabled]="configService.isFieldDisabled(label)"
                          (ngModelChange)="Update_value(input[label],label)">
                          <mat-list-option checkboxPosition="before" [value]="listOption"
                            *ngFor="let listOption of options[label]">
                            {{listOption}}
                          </mat-list-option>
                        </mat-selection-list>
                      </mat-form-field>
                      <div class="error" [style.visibility]="configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Text Area'">
                      <mat-form-field class="form_input">
                        <textarea [required]="configService.isFieldMendatory(label)" matInput
                          [readonly]="configService.isFieldDisabled(label)" [name]="label"
                          [maxLength]="configService.getFieldMaxLength(label)" (value)="input[label]"
                          [(ngModel)]="input[label]" class="f_inp" #name="ngModel"
                          (change)="Update_value($event.target.value,label)">
											  </textarea>
                      </mat-form-field>
                      <div class="error" [style.visibility]="configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="configService.getFieldTypeForChange(fieldType[label])">
                      <mat-form-field class="form_input">
                        <input matInput [required]="configService.isFieldMendatory(label)"
                          maxlength="configService.getMaxLengthForField(fieldType[label])" [name]="label"
                          (value)="input[label]" (change)="configService.transformFieldValueOnChange($event,label)"
                          [(ngModel)]="input[label]" class="f_inp" #name="ngModel"
                          (change)="Update_value($event.target.value,label)">
                        <mat-autocomplete class="autoCompletes" #auto="matAutocomplete"
                          (click)="Update_value(input[label] ,label)">
                          <mat-option style="text-align:center;"
                            *ngFor="let item of searchResult | myfilter:FilterAutoValue" [value]="item">
                            {{ item }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      <div class="error" [style.visibility]="configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Zip'">
                      <mat-form-field class="form_input">
                        <input type="text" pattern="^[0-9]{5}?$" [required]="configService.isFieldMendatory(label)"
                          maxlength="5" matInput [disabled]="configService.isFieldDisabled(label)" [name]="label"
                          (value)="input[label]" [matAutocomplete]="auto" [(ngModel)]="input[label]" class="f_inp"
                          #name="ngModel" (key)="Update_value($event.target.value,label)">

                        <mat-autocomplete class="autoCompletes" #auto="matAutocomplete"
                          (click)="Update_value(input[label] ,label)">
                          <mat-option style="text-align:center;"
                            *ngFor="let item of searchResult | myfilter:FilterAutoValue" [value]="item">
                            {{ item }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      <div class="error" [style.visibility]="configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Email'">
                      <mat-form-field class="form_input">
                        <input type="email" [required]="configService.isFieldMendatory(label)" matInput
                          [readonly]="configService.isFieldDisabled(label)" [name]="label" (value)="input[label]"
                          [matAutocomplete]="auto" (click)="getDropDownListValue(label)" [(ngModel)]="input[label]"
                          class="f_inp" #name="ngModel" email="true"
                          pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                          (change)="Update_value($event.target.value,label)">

                        <mat-autocomplete class="autoCompletes" #auto="matAutocomplete"
                          click)="Update_value(input[label] ,label)">
                          <mat-option style="text-align:center;"
                            *ngFor="let item of searchResult | myfilter:FilterAutoValue" [value]="item">
                            {{ item }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      <div class="error" [style.visibility]=" configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <mat-form-field class="form_input">
                        <input matInput type="text" [name]="label" class="form-input" [matAutocomplete]="auto"
                          class="f_inp" [(ngModel)]="input[label]" [required]="configService.isFieldMendatory(label)"
                          #name="ngModel" [readonly]="configService.isFieldDisabled(label)"
                          [maxLength]="configService.getFieldMaxLength(label)"
                          (change)="Update_value(input[label] ,label)">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option style="text-align:center;" (click)="Update_value(input[label] ,label)"
                            *ngFor="let option of options[label]" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      <div class="error" [style.visibility]=" configService.isFieldInvalid(name) ? 'visible': 'hidden'">
                        {{configService.getFieldInValidMsg(name, label)}}
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
          <br><br><br><br><br><br>
          <div fxLayout="column">
            <button fxFlex="100" mat-raised-button (click)="onCancel();" id="cancel">
              <mat-icon class="iconmod">clear</mat-icon>End
            </button>
            <br />
            {{V_Hide_Submit}}
            <button fxFlex="100" mat-raised-button (click)="onSubmit();" id="submit"
              *ngIf="V_EXECUTE==='Y' && V_Hide_Submit === 'N'">
              <mat-icon class="iconmod">done_all</mat-icon>Submit
            </button>
          </div>
        </mat-card-content>
      </form>
      <mat-card-content *ngIf="V_READ==='N'">
        <h4 style="text-align: center;">{{ctrl_variables['message_access_denied']}}</h4>
      </mat-card-content>

    </mat-card>
  </div>
</div>
<div *ngIf="topFlag">
  <app-repeatable-form *ngIf="showRepForm"></app-repeatable-form>
  <app-report-table *ngIf="showReportTable"></app-report-table>
</div>
