<div flex fxLayout="column" fxLayout.lt-sm="column">

  <nav class="navbar ">


    <!-- For Mobile Screen -->
    <div class="w-100" fxHide="true" fxShow.xs="true">
      <mat-nav-list>
        <div fxLayout="row" fxLayoutAlign="center center">
          <div>
            <img [src]="getLinkPicture()" onerror="this.src='/assets/logo.png'" alt="" class="logo-img" />
          </div>
          <div flex fxLayout="row">
            <span>{{headerTxt}}</span>
          </div>
          <div>
            <div class="profile-btn">
              <app-header [selectedProfile]="'System'"></app-header>
            </div>
          </div>
        </div>
      </mat-nav-list>
    </div>
    <!-- For Desktop Screen -->
    <div class="w-100" fxHide="true" fxShow.gt-sm="true">
      <mat-nav-list>
        <div class="list-wrapper" flex fxLayout="row" fxLayout.lt-sm="row">
          <div class="nav-link pl-3 mb-2">
            <img [src]="getLinkPicture()" onerror="this.src='/assets/logo.png'" alt="" class="logo-img" />
          </div>
          <div flex fxLayout="row" class="text-center">
            <span>{{headerTxt}}</span>
          </div>
          <div class="ml-auto pr-4">
            <app-header [selectedProfile]="'System'"></app-header>
          </div>
        </div>
      </mat-nav-list>
    </div>
    <!-- For Tab Screen -->
    <div class="w-100" fxHide="true" fxShow.sm="true">
      <mat-nav-list>
        <div class="text-center">
          <img [src]="getLinkPicture()" onerror="this.src='/assets/logo.png'" alt="" class="logo-img" />
        </div>
        <div flex fxLayout="row" class="text-center">
          <span>{{headerTxt}}</span>
        </div>
        <div class="" style="display:flex;">
          <app-header [selectedProfile]="'IT Infrastructure'"></app-header>
        </div>
      </mat-nav-list>
    </div>

  </nav>
</div>
