<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="100" fxLayoutGap="8px">
  <div fxLayoutAlign="space-between center">
    <div style="padding-left: 8px">
      <span>Roles : </span>
      <button mat-button [matMenuTriggerFor]="groupTypeMenu">{{selectedAuthType.label}}
        <mat-icon matSuffix>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #groupTypeMenu="matMenu">
        <button mat-menu-item *ngFor="let item of authorizationTypeOptions"
                (click)="selectAuthType(item)">{{item.label}}</button>
      </mat-menu>
    </div>
    <button mat-icon-button class="add-btn"
            matTooltip="Add Role"
            *ngIf="rolePermission"
            (click)="onAddRoleBtnClick()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="16px" cdkDropListGroup>
    <app-single-role *ngFor="let currRole of roles"
                      [role]="currRole"
                      [rolePermission]="rolePermission"
                      [authPermission]="authPermission"
                      [authorizationPermission]="authorizationPermission"
                      [assignPermission]="assignPermission"
                      [controlVariables]="controlVariables"></app-single-role>
  </div>
</div>
