<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="100" fxLayoutGap="8px">
  <div fxLayoutAlign="space-between center">
    <div style="padding-left: 8px" *ngIf="userAccess.role_deployment">
      <span>Connection Types : </span>
      <button mat-button [matMenuTriggerFor]="machineTypeMenu">{{selectedConnectionType}}
        <mat-icon matSuffix>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #machineTypeMenu="matMenu">
        <button mat-menu-item *ngFor="let item of connectionTypeOptions"
                (click)="changeMachineType(item)">{{item.EXE_TYP}}</button>
      </mat-menu> 
    </div>
    <!-- <div class="container-actions" *ngIf="userAccess.role_machine">
      Manage Machines <button mat-icon-button class="add-btn"
              matTooltip="Manage Machines" [matMenuTriggerFor]="manageMachine">
        <mat-icon class="edit-icon">edit</mat-icon>
      </button>
      
      <mat-menu #manageMachine="matMenu">
        <button mat-menu-item (click)="onManageMachineBtnClick()">Manage</button>
        <button mat-menu-item (click)="onAssignMcnPlfClick()">Assign</button>
      </mat-menu>

    </div>  -->
    <!-- <button mat-icon-button class="add-btn"
            matTooltip="Add Machines"
            (click)="onAddMachineBtnClick()">
      <mat-icon>add_circle</mat-icon>
    </button> -->
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="16px" cdkDropListGroup>
    <app-single-machine [userRoleAccess]="userAccess" *ngFor="let currMachine of sortedAllConnections | filterExetype:selectedConnectionType:'cxn'" [cxnData]="currMachine" [machineData]="currMachine" [machines]="currMachine.V_CXN" [selectedConnectionType]="selectedConnectionType"></app-single-machine>
  </div>
</div>