<!-- <div class="tiles-wrapper" fxLayout="row wrap"
     cdkDropList
     [cdkDropListData]="users"
     (cdkDropListDropped)="userDropped($event)"
     cdkDropListOrientation="horizontal">
  <div class="tile"
       matRipple
       cdkDrag
       [cdkDragData]="currUser"
       [matTooltip]="currUser.V_USR_NM"
       *ngFor="let currUser of exes"
       [class.active]="currUser == selectedUser"
       [class.highlight]="highlightedUsers.isSelected(currUser)"
       (contextmenu)="openContextmenu($event, currUser)"
       (mousedown)="onTileMouseDownEventHandler($event)"
       (click)="onUserTileClick(currUser)">
    <mat-icon class="tile-icon">person</mat-icon>
   <div *ngIf="!environment.production">{{currUser.V_USR_ID}}</div>
    <div class="ellipsis-text"><strong>{{currUser.V_USR_NM?.split('@')[0]}}</strong></div>
  </div>
  <div class="tile add-new-tile" cdkDrag [cdkDragDisabled]="true" (click)="onAddUserTileClick()"
       matTooltip="Add User" matRipple>
    <mat-icon>add_circle</mat-icon>
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="start stretch" class="context-menu" #contextMenu *ngIf="contextMenuActive"
     [ngStyle]="contextMenuStyle">
  <button mat-button class="menu-item" (click)="onContextMenuEditUserBtnClick()">Edit</button>
  <button mat-button class="many-item" (click)="onContextMenuDeleteUserBtnClick()">Delete</button>
</div> -->
<div class="tiles-wrapper" fxLayout="row wrap"
    cdkDropList
    [cdkDropListData]="exes"
    (cdkDropListDropped)="exeDropped($event)"
    cdkDropListOrientation="horizontal">
  <div class="tile"
       matRipple
       cdkDrag
       [cdkDragData]="currExe"
       [matTooltip]="currExe.V_EXE_CD"
       *ngFor="let currExe of exes.EXES"
       [class.active]="currExe == selectedTile"
       (contextmenu)="openContextmenu($event, currExe)"
       (mousedown)="onTileMouseDownEventHandler($event)"
       (click)="onExeTileClick(currExe)">
       <mat-icon class="iconmod shwmaticon">developer_mode</mat-icon>
   <!-- <div>{{currExe.EXE_CD}}</div> -->
    <div class="ellipsis-text"><strong>{{currExe.V_EXE_CD?.split('@')[0]}}</strong></div>
  </div>
  <div class="tile add-new-tile" (click)="onAddExeTileClick(exes.EXE_TYP)"
       matTooltip="Add Exe" matRipple>
    <mat-icon>add_circle</mat-icon>
  </div>
</div>
<!-- <div fxLayout="column" fxLayoutAlign="start stretch" class="context-menu" #contextMenu *ngIf="contextMenuActive"
     [ngStyle]="contextMenuStyle">
  <button mat-button class="menu-item" (click)="onContextMenuEditExeBtnClick()">Edit</button>
  <button mat-button class="many-item" (click)="onContextMenuDeleteExeBtnClick()">Delete</button>
</div>  -->
