<div *ngIf="progress" id="overlay">
  <mat-spinner></mat-spinner>
</div>
<div class="dialog-header" fxLayoutAlign="space-between center">
  <button mat-icon-button (click)="onBtnCancelClick()"><mat-icon>close</mat-icon></button>
</div>
<div fxLayout="row" fxLayout.lt-sm="column">
  <div fxFlex="26">
  </div>
  <div fxFlex="3"></div>
  <div fxFlex="48">
    <!-- <strong>
      <label style="text-align:center;width:100%;">Platforms</label>
    </strong>
    <mat-list *ngIf="desktopView" class="scroll">
      <mat-list-item class="list_item" *ngFor="let a of plat ; let i = index;" (click)="getplatformdesc(a);onpselect(i);" [class.active]="i == selectedplat">
        <div>{{a}}</div>
      </mat-list-item>
    </mat-list>
    <mat-form-field *ngIf="mobileView" style="width:100%;text-align: center;" [floatLabel]="'never'">
      <mat-select style="margin-top:10px;" placeholder="--Select--">
        <mat-option style="text-align:center;" *ngFor="let a of plat ; let i = index;" (click)="getplatformdesc(a);onpselect(i);"
          [value]="a">{{a}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br /> -->
    <strong>
      <label style="text-align:center;width:100%;">Platform</label>
    </strong>
    <mat-form-field style="width:100%;">
      <input matInput [(ngModel)]="p_plat" (ngModelChange)="platFormChange()" required>
      <!-- <mat-autocomplete #auto="matAutocomplete">
        <mat-option style="text-align:center;" *ngFor="let a of plat ; let i = index;" [value]="a" (click)="getplatformdesc(a);onpselect(i);">
          <div>{{a}}</div>
        </mat-option>
      </mat-autocomplete> -->
    </mat-form-field>
    <br />
    <strong>
      <label style="text-align:center;width:100%;">Description</label>
    </strong>
    <mat-form-field style="width:100%;">
      <textarea matInput [(ngModel)]="p_desc" (ngModelChange)="platFormDesChange()">

                </textarea>
    </mat-form-field>
    <br />
    
    <strong>
      <label style="text-align:center;width:100%;">Start Date</label>
    </strong>
    <mat-form-field style="width:100%;">
      <input matInput [(ngModel)]="EFF_STRT_DT_TM" [owlDateTimeTrigger]="fromDate" [owlDateTime]="fromDate">
      <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker> -->
      <owl-date-time #fromDate></owl-date-time>
    </mat-form-field>
    <br />


    <strong>
      <label style="text-align:center;width:100%;">End Date</label>
    </strong>
    <mat-form-field style="width:100%;">
      <input matInput [(ngModel)]="EFF_END_DT_TM" [owlDateTimeTrigger]="toDate" [owlDateTime]="toDate">
      <!-- <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker> -->
      <owl-date-time #toDate></owl-date-time>
    </mat-form-field>


  </div>
  <div fxFlex="3"></div>
  <div fxFlex="26">

  </div>
</div>
<div fxLayout="row" fxLayout.lt-sm="column">
  <div fxFlex="33">

  </div>
  <div fxFlex="34" fxLayoutAlign="space-around center">
    <!-- <button mat-raised-button color="secondary" (click)="dataplat()">
      <mat-icon>cloud_upload</mat-icon> Data Load</button> -->
    <button *ngIf="!isPlatformDesChange || isPlatformChange" [disabled]="!isPlatformChange || p_plat == ''" class="mr-2" mat-raised-button color="primary" (click)="addplat()">
      <mat-icon>add</mat-icon> Add</button>
    <button *ngIf="isPlatformDesChange && !isPlatformChange" class="mr-2" mat-raised-button color="primary" (click)="addplat()">
      <mat-icon>add</mat-icon> Update</button>
    <button mat-raised-button color="warn" (click)="deleteplat()">
      <mat-icon>delete</mat-icon> Delete</button>
  </div>
  <div fxFlex="33">

  </div>
</div>