<div class="dialog-wrapper" fxLayoutGap="8px" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="dialog-header content-wrapper" fxLayoutAlign="space-between center">
    <span>Edit user</span>
    <button mat-icon-button (click)="onBtnCancelClick()"><mat-icon>close</mat-icon></button>
  </div>
  <mat-divider></mat-divider>
  <div class="dialog-body content-wrapper" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="start stretch">
    <app-user-form [user]="user"
                   [group]="group">
    </app-user-form>
  </div>
  <div class="dialog-footer content-wrapper" fxLayoutAlign="end center" fxLayoutGap="8px">
    <button mat-flat-button color="primary" (click)="onBtnUpdateClick()">Update</button>
  </div>
</div>
