<mat-accordion *ngIf="APP_CD!=''">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{APP_CD}}<span class="selected-process-font" *ngIf="PRCS_CD!=''"> : {{PRCS_CD}}</span>
        <span class="ml-2" *ngIf="hasMonitorPermission">
          <i (click)="onMonitorClick()" class="fas fa-desktop icon_click fa-lg"></i>
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-viewer-diagram [parentapp]="APP_CD" [parentpro]="PRCS_CD" [file_path]="path">
    </app-viewer-diagram>
  </mat-expansion-panel>
</mat-accordion>

<!-- <div fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" style="width:230px">
    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <mat-radio-group [(ngModel)]="show_choice" fxLayout="row">
        <mat-radio-button style="margin-left:10px;margin-right:10px;" (click)="showhide(cn);"
          *ngFor="let cn of Select_show_option" [value]="cn">
          {{cn}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div> -->
<!-- --------------------Chart------------------------- -->


<div id='all-charts' [ngStyle]="{'display': dispchart == true ? 'block':'none'}">
  <app-charts></app-charts>
</div>
<div id='tableContainer' [ngStyle]="{'display':dispPersonalTable == true ? 'block':'none'}">
  <button type="button" (click)="onCancelPersonalizeTable()">
    <mat-icon>cancel</mat-icon>
  </button>
  <personalization-table></personalization-table>
</div>

<!-- ________________________________________________________________________ -->
<div class="example-container mat-elevation-z8" fxShow="true" fxHide.xs="true"
  [ngStyle]="{'display': disptable == true ? 'block':'none'}">
  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container *ngFor="let a of columnsToDisplay" matColumnDef="{{a}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="{{helpertext[a]}}" matTooltipPosition='above'>
        {{a}}<mat-icon class="del_icon" (click)="showhidecol(a)">delete_forever</mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let myData" [attr.data-label]="a"> {{myData[a+""]}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay;"></mat-row>

  </mat-table>

</div>

<div class="example-container mat-elevation-z8" fxHide="true" fxShow.xs="true"
  [ngStyle]="{'display': disptable == true ? 'block':'none'}">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let a of columnsToDisplay" matColumnDef="{{a}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="{{helpertext[a]}}" matTooltipPosition='above'>
        {{a}}<mat-icon class="del_icon" (click)="showhidecol(a)">delete_forever</mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let myData"> {{myData[a+""]}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay;"></mat-row>
  </mat-table>

</div>
<div [ngStyle]="{'display': disptable == true ? 'block':'none'}" *ngIf="hiddencols.length > 0" style="width: 100%">
  <br>
  <mat-label> Hidden Columns : </mat-label>
  <mat-chip-list style="width: 100%">
    <mat-chip color="primary" *ngFor="let item of hiddencols" [removable]="removable" (removed)="remove(item)">
      {{item}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>
<br>
<div flex fxLayout="row" fxLayoutAlign="center">
  <button mat-raised-button [disabled]="endClicked" (click)="Redirect_to_user()"
    style="background-color: rgba(187, 38, 38, 0.700);">
    <mat-icon style="vertical-align: middle;margin-right: 5px">clear</mat-icon>Exit
  </button>
  <div fxFlex="5"></div>
  <button mat-raised-button [disabled]="submitClicked" style="background-color: rgba(65, 204, 65, 0.700);"
    (click)="ExecuteAgain()">
    <mat-icon style="vertical-align: middle;margin-right: 5px">done_all</mat-icon>Submit
  </button>
</div>
