<!-- <div *ngIf="progress" id="overlay">
  <mat-spinner></mat-spinner>
</div> -->
<!-- <div>
  <h2>Bitcoin Price</h2>
  <p>1 BTC = {{ price }} {{ currency }}</p>
</div> -->
<!-- _____________________Toggle Between charts and table___________________ -->
<!-- <div fxHide="true" fxShow.gt-sm="true">
  <div flex fxLayout="row">
    <div fxFlex="32"></div>

    <mat-label class="icon_g" (click)="ganttChart();" fxFlex="12">
      <mat-icon svgIcon="gantt-chart"></mat-icon>
      <span>Gantt Chart</span>
    </mat-label>
    <mat-label class="icon_b" (click)="barChart();" fxFlex="12">
      <mat-icon>bar_chart</mat-icon>
      <span>Bar Chart</span>
    </mat-label>
    <mat-label class="icon_d" (click)="pieChart();" fxFlex="12">
      <mat-icon>pie_chart</mat-icon>
      <span>Pie Chart</span>
    </mat-label>
    <div fxFlex="32"></div>
  </div>
</div>
<div fxHide="true" fxShow.xs="true" fxShow.sm="true">
  <div flex fxLayout="row">
    <div fxFlex="32"></div>

    <mat-label class="icon_g" (click)="ganttChart();" fxFlex="12">
      <mat-icon svgIcon="gantt-chart"></mat-icon>
    </mat-label>
    <mat-label class="icon_b" (click)="barChart();" fxFlex="12">
      <mat-icon>bar_chart</mat-icon>
    </mat-label>
    <mat-label class="icon_d" (click)="pieChart();" fxFlex="12">
      <mat-icon>donut_large</mat-icon>
    </mat-label>
    <div fxFlex="32"></div>
  </div>
</div> -->
<mat-accordion *ngIf="APP_CD!=''">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{APP_CD}}<span class="selected-process-font" *ngIf="PRCS_CD!=''"> : {{PRCS_CD}}</span>
        <span class="ml-2" *ngIf="hasMonitorPermission">
          <i (click)="onMonitorClick()" class="fas fa-desktop icon_click fa-lg"></i>
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-viewer-diagram [parentapp]="APP_CD" [parentpro]="PRCS_CD" [file_path]="path">
    </app-viewer-diagram>
  </mat-expansion-panel>
</mat-accordion>

<div fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" style="width:230px">
    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <mat-radio-group [(ngModel)]="show_choice" fxLayout="row">
        <mat-radio-button style="margin-left:10px;margin-right:10px;" (click)="showhide(cn);"
          *ngFor="let cn of Select_show_option" [value]="cn">
          {{cn}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
<!-- --------------------Chart------------------------- -->
<div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="dispchart">
  <div fxFlex="70" fxLayoutAlign="space-around center">
    <mat-form-field fxFlex="45">
      <mat-label>Select chart type</mat-label>
      <mat-select multiple [(value)]="selectedchart">
        <mat-option (click)="setchartpreferences();" value="linechart_sel">Line Chart</mat-option>
        <mat-option (click)="setchartpreferences();" value="barchart_sel">Bar Chart</mat-option>
        <mat-option (click)="setchartpreferences();" value="piechart_sel">Pie Chart</mat-option>
        <mat-option (click)="setchartpreferences();" value="doughnutchart_sel">Doughnut Chart</mat-option>
        <mat-option (click)="setchartpreferences();" value="ganttchart_sel">Gantt Chart</mat-option>
      </mat-select>
    </mat-form-field>
    <div fxFlex="10"></div>
    <mat-form-field fxFlex="45">
      <mat-label>Settings</mat-label>
      <mat-select [(value)]="selectedcustomize">
        <mat-option value="">None</mat-option>
        <mat-option value="managedata_sel">
          Manage datasets
        </mat-option>
        <mat-option value="customizechart_sel">
          Customize charts
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="example-boundary" fxLayoutGap="10" *ngIf="dispchart">
  <!-- <br> -->
  <div class="example-box" (cdkDragEnded)="dragEndLine($event)" [style.top.px]="chartposition[0].y"
    [style.left.px]="chartposition[0].x" cdkDragBoundary=".example-boundary" cdkDrag fxLayout="column" fxFlex="50%"
    fxFlex.lt-sm="100%" *ngIf="selectedchart.includes('linechart_sel')">
    <canvas baseChart *ngIf="lineChartData" [datasets]="lineChartData" [labels]="lineChartLabels"
      [options]="lineChartOptions" [colors]="lineChartColors" [chartType]="lineChartType">
    </canvas>
    <div style="max-width:inherit" fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="23">
        <mat-form-field style="width:100%">
          <mat-select placeholder="Select X-axis Dataset" (selectionChange)="updateLineChart();setchartpreferences();"
            [(value)]="_xaxis_sel_line">
            <mat-option style="text-align: center;   height: 25px;   color: black; " value="">None</mat-option>
            <mat-option style="text-align:center;" *ngFor="let items of columnsToDisplay" value="{{items}}">
              {{items}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="4"></div>
      <div fxFlex="26">
        <mat-form-field style="width:100%">
          <mat-select placeholder="Select Y-axis Dataset" (selectionChange)="updateLineChart();setchartpreferences();"
            multiple [(value)]="_yaxis_sel_line">
            <mat-option style="text-align:center;" *ngFor="let items of columnsToDisplay" [value]="items">
              {{items}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="4"></div>
      <div fxFlex="20">

        <mat-form-field style="width:100%">
          <input type="text" placeholder="Unit of measure" (input)="updateLineChart()" (blur)="setchartpreferences();"
            matInput [matAutocomplete]="auto" [(ngModel)]="_yaxisCB_line">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (click)="updateLineChart();setchartpreferences();"
              style="text-align: center;height: 25px;color: black; " value="">None</mat-option>
            <mat-option (click)="updateLineChart();setchartpreferences();" *ngFor="let option of yaxiscallbacks"
              value="{{option}}">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>
    </div>
  </div>
  <div class="example-box" (cdkDragEnded)="dragEndBar($event)" [style.top.px]="chartposition[1].y"
    [style.left.px]="chartposition[1].x" cdkDragBoundary=".example-boundary" cdkDrag fxLayout="column" fxFlex="50%"
    fxFlex.lt-sm="100%" *ngIf="selectedchart.includes('barchart_sel')">
    <canvas baseChart *ngIf="barChartData" [datasets]="barChartData" [labels]="barChartLabels"
      [options]="barChartOptions" [colors]="barChartColors" [chartType]="barChartType">
    </canvas>
    <div style="max-width:inherit" fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="23">
        <mat-form-field style="width:100%">
          <mat-select placeholder="Select X-axis Dataset" (selectionChange)="updateBarChart();setchartpreferences();"
            [(value)]="_xaxis_sel_bar">
            <mat-option style="text-align: center;   height: 25px;   color: black; " value="">None</mat-option>
            <mat-option style="text-align:center;" *ngFor="let items of columnsToDisplay" value="{{items}}">
              {{items}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="4"></div>
      <div fxFlex="26">
        <mat-form-field style="width:100%">
          <mat-select placeholder="Select Y-axis Dataset" (selectionChange)="updateBarChart();setchartpreferences();"
            multiple [(value)]="_yaxis_sel_bar">
            <mat-option style="text-align:center;" *ngFor="let items of columnsToDisplay" [value]="items">
              {{items}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="4"></div>
      <div fxFlex="20">

        <mat-form-field style="width:100%">
          <input type="text" placeholder="Unit of measure" (input)="updateBarChart();setchartpreferences();" matInput
            [matAutocomplete]="auto" [(ngModel)]="_yaxisCB_bar">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (click)="updateBarChart();setchartpreferences();"
              style="text-align: center;   height: 25px;   color: black; " value="">None</mat-option>
            <mat-option (click)="updateBarChart();setchartpreferences();" *ngFor="let option of yaxiscallbacks"
              value="{{option}}">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>
    </div>
  </div>
  <div class="example-box" (cdkDragEnded)="dragEndPie($event)" [style.top.px]="chartposition[2].y"
    [style.left.px]="chartposition[2].x" cdkDragBoundary=".example-boundary" cdkDrag fxLayout="column" fxFlex="50%"
    fxFlex.lt-sm="100%" *ngIf="selectedchart.includes('piechart_sel')">
    <canvas baseChart [datasets]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType">
    </canvas>
    <div style="max-width:inherit" fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="23">
        <mat-form-field style="width:100%">
          <mat-select placeholder="Select X-axis Dataset" (selectionChange)="updateBarChart();setchartpreferences();"
            [(value)]="_xaxis_sel_pie">
            <mat-option style="text-align: center;   height: 25px;   color: black; " value="">None</mat-option>
            <mat-option style="text-align:center;" *ngFor="let items of columnsToDisplay" value="{{items}}">
              {{items}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="4"></div>
      <div fxFlex="26">
        <mat-form-field style="width:100%">
          <mat-select placeholder="Select Y-axis Dataset" (selectionChange)="updateBarChart();setchartpreferences();"
            multiple [(value)]="_yaxis_sel_pie">
            <mat-option style="text-align:center;" *ngFor="let items of columnsToDisplay" [value]="items">
              {{items}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="4"></div>
      <div fxFlex="20">

        <mat-form-field style="width:100%">
          <input type="text" placeholder="Unit of measure" (input)="updateBarChart();setchartpreferences();" matInput
            [matAutocomplete]="auto" [(ngModel)]="_yaxisCB_pie">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (click)="updateBarChart();setchartpreferences();"
              style="text-align: center;   height: 25px;   color: black; " value="">None</mat-option>
            <mat-option (click)="updateBarChart();setchartpreferences();" *ngFor="let option of yaxiscallbacks"
              value="{{option}}">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="example-box" (cdkDragEnded)="dragEndDoughnut($event)" [style.top.px]="chartposition[3].y"
    [style.left.px]="chartposition[3].x" cdkDragBoundary=".example-boundary" cdkDrag fxLayout="column" fxFlex="50%"
    fxFlex.lt-sm="100%" *ngIf="selectedchart.includes('doughnutchart_sel')">
    <canvas baseChart [datasets]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
    </canvas>
    <div style="max-width:inherit" fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="23">
        <mat-form-field style="width:100%">
          <mat-select placeholder="Select X-axis Dataset" (selectionChange)="updateBarChart();setchartpreferences();"
            [(value)]="_xaxis_sel_doughnut">
            <mat-option style="text-align: center;   height: 25px;   color: black; " value="">None</mat-option>
            <mat-option style="text-align:center;" *ngFor="let items of columnsToDisplay" value="{{items}}">
              {{items}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="4"></div>
      <div fxFlex="26">
        <mat-form-field style="width:100%">
          <mat-select placeholder="Select Y-axis Dataset" (selectionChange)="updateBarChart();setchartpreferences();"
            multiple [(value)]="_yaxis_sel_doughnut">
            <mat-option style="text-align:center;" *ngFor="let items of columnsToDisplay" [value]="items">
              {{items}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="4"></div>
      <div fxFlex="20">

        <mat-form-field style="width:100%">
          <input type="text" placeholder="Unit of measure" (input)="updateBarChart();setchartpreferences();" matInput
            [matAutocomplete]="auto" [(ngModel)]="_yaxisCB_doughnut">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (click)="updateBarChart();setchartpreferences();"
              style="text-align: center;   height: 25px;   color: black; " value="">None</mat-option>
            <mat-option (click)="updateBarChart();setchartpreferences();" *ngFor="let option of yaxiscallbacks"
              value="{{option}}">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>
    </div>
  </div>
</div>
<form class="formwidth" (ngSubmit)="updatecustoms()" #myForm="ngForm" *ngIf="dispchart">
  <div flex fxLayout="column">
    <div fxLayout="row" fxLayoutGap="10">
      <div fxFlex="30" flex style="max-width:inherit" *ngFor="let cols of PersonalTableCols"
        fxLayoutAlign="stretch center">
        <mat-label style="text-align: center">{{cols}}</mat-label>
      </div>
    </div>
    <br>
    <div flex style="max-width:inherit" fxLayoutGap="10" fxLayout="row" fxLayoutAlign="flex-start">
      <div fxFlex="30">
        <mat-form-field style="width:100%">
          <mat-select placeholder="Select Chart type" [(ngModel)]="myobj.mychartType" name="mychartType" required>
            <mat-option value="linechart">Line Chart</mat-option>
            <mat-option value="barchart">Bar Chart</mat-option>
            <mat-option value="piechart">Pie Chart</mat-option>
            <mat-option value="doughnutchart">Doughnut Chart</mat-option>
            <mat-option value="ganttchart">Gantt Chart</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="30">
        <mat-form-field style="width:100%">
          <mat-select placeholder="Select X-axis Dataset" [(ngModel)]="myobj.myxaxisdata" name="myxaxisdata" required>
            <mat-option style="text-align:center;" *ngFor="let items of columnsToDisplay" value="{{items}}">
              {{items}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="30">
        <mat-form-field style="width:100%">
          <mat-select placeholder="Select Y-axis Dataset" [(ngModel)]="myobj.myyaxisdata" name="myyaxisdata" required>
            <mat-option style="text-align:center;" *ngFor="let items of columnsToDisplay" value="{{items}}">
              {{items}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="20">
        <mat-form-field style="width:100%">
          <input type="text" placeholder="Unit of measure" matInput [matAutocomplete]="auto" [(ngModel)]="myobj.myUoM"
            name="myUoM">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option value="">None</mat-option>
            <mat-option *ngFor="let option of yaxiscallbacks" value="{{option}}">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxFlex="20">
        <mat-form-field style="width:100%">
          <input type="text" placeholder="Scale of measure" matInput [matAutocomplete]="auto1" [(ngModel)]="myobj.mySoM"
            name="mySoM">
          <mat-autocomplete #auto1="matAutocomplete">
            <mat-option value="10"> 10 </mat-option>
            <mat-option value="100"> 100 </mat-option>
            <mat-option value="1000"> 1000 </mat-option>
            <mat-option value="10000"> 10000 </mat-option>
            <mat-option value="100000"> 100000 </mat-option>
            <mat-option value="1000000"> Millions </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div style="display:inline-block;margin-left: 0.5px;">
        <button mat-mini-fab type="submit" color="primary">
          <mat-icon>done_all</mat-icon>
        </button>
        <!-- </br>
      <button mat-icon-button *ngIf="iter===0 && V_CREATE==='Y'" (click)="addRow()">
        <mat-icon style="color:red;font-size: larger;font-weight: bold;">add</mat-icon>
      </button> -->
      </div>
    </div>
  </div>
</form>
<div *ngIf="dispchart">
  <div flex *ngFor="let rows of personalizationtable; let i = index;" style="max-width:inherit" fxLayoutGap="10"
    fxLayout="row" fxLayoutAlign="flex-start">
    <div fxFlex="30">
      <mat-form-field style="width:100%">
        <mat-select placeholder="Select Chart type" [(value)]="rows.chartType">
          <mat-option value="linechart">Line Chart</mat-option>
          <mat-option value="barchart">Bar Chart</mat-option>
          <mat-option value="piechart">Pie Chart</mat-option>
          <mat-option value="doughnutchart">Doughnut Chart</mat-option>
          <mat-option value="ganttchart">Gantt Chart</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="30">
      <mat-form-field style="width:100%">
        <mat-select placeholder="Select X-axis Dataset" [(value)]="rows.xaxisdata">
          <mat-option style="text-align:center;" *ngFor="let items of columnsToDisplay" value="{{items}}">
            {{items}} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="30">
      <mat-form-field style="width:100%">
        <mat-select placeholder="Select Y-axis Dataset" [(value)]="rows.yaxisdata">
          <mat-option style="text-align:center;" *ngFor="let items of columnsToDisplay" value="{{items}}">
            {{items}} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="20">
      <mat-form-field style="width:100%">
        <input type="text" placeholder="Unit of measure" matInput [matAutocomplete]="auto" [(ngModel)]="rows.UoM">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option style="text-align: center;   height: 25px;   color: black; " value="">None</mat-option>
          <mat-option *ngFor="let option of yaxiscallbacks" value="{{option}}">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div fxFlex="20">
      <mat-form-field style="width:100%">
        <input type="text" placeholder="Scale of measure" matInput [matAutocomplete]="auto1" [(ngModel)]="rows.SoM">
        <mat-autocomplete #auto1="matAutocomplete">
          <mat-option value="10"> 10 </mat-option>
          <mat-option value="100"> 100 </mat-option>
          <mat-option value="1000"> 1000 </mat-option>
          <mat-option value="10000"> 10000 </mat-option>
          <mat-option value="100000"> 100000 </mat-option>
          <mat-option value="1000000"> Millions </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div style="display:inline-block;margin-left: 0.5px;">
      <button mat-mini-fab color="primary" (click)="deleterow(rows);">
        <mat-icon>delete_forever</mat-icon>
      </button>
      <!-- </br>
      <button mat-icon-button *ngIf="iter===0 && V_CREATE==='Y'" (click)="addRow()">
        <mat-icon style="color:red;font-size: larger;font-weight: bold;">add</mat-icon>
      </button> -->
    </div>
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="dispchart">
  <br>
  <div fxLayoutAlign="space-around center" fxLayout="column" *ngIf="selectedcustomize === 'managedata_sel'">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" style="justify-content: center">
      <mat-form-field fxFlex="15">
        <input matInput type="number" placeholder="Y-Step Size" min=0 [(ngModel)]="_yaxisstepSize">
      </mat-form-field>
      <div fxFlex="5"></div>
      <mat-form-field fxFlex="15">
        <input matInput type="number" placeholder="Grid line width" min=1 [(ngModel)]="_gridlinewidth">
      </mat-form-field>
      <div fxFlex="5"></div>
      <div fxFlex="25">
        <mat-slide-toggle color="primary" [(ngModel)]="_gridborder">Dashed Grid</mat-slide-toggle>
      </div>
      <div fxFlex="5"></div>
      <div fxFlex="25">
        <mat-slide-toggle color="primary" [(ngModel)]="_yaxisAutoskip">Y-Autoskip</mat-slide-toggle>
      </div>
    </div>
    <!-- </div> -->
    <br>
    <button mat-raised-button color="primary" (click)="setchartpreferences();updatechart();">Update</button>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="selectedcustomize === 'customizechart_sel'">
    <div fxLayout="row">
      <div fxLayout="column">
        <div fxLayout="row">
          <div fxFlex="80">Background Color</div>
          <div fxLayoutAlign="center center">
            <input class="colorselector" [(value)]="_backgroundColor" [style.background]="_backgroundColor"
              [(colorPicker)]="_backgroundColor" [cpAlphaChannel]="'always'" [cpOutputFormat]="'rgba'"
              [cpOKButton]="true" [cpCancelButton]="true" [cpSaveClickOutside]="true"
              [cpOKButtonClass]="'btn btn-primary btn-xs'" [cpCancelButtonClass]="'btn btn-primary btn-xs'" />
          </div>
        </div>
        <div fxFlex="5"></div>
        <div fxLayout="row">
          <div fxFlex="80">Border Color</div>
          <div fxLayoutAlign="center center">
            <input class="colorselector" [(value)]="_borderColor" [style.background]="_borderColor"
              [(colorPicker)]="_borderColor" [cpAlphaChannel]="'always'" [cpOutputFormat]="'rgba'" [cpOKButton]="true"
              [cpCancelButton]="true" [cpSaveClickOutside]="true" [cpOKButtonClass]="'btn btn-primary btn-xs'"
              [cpCancelButtonClass]="'btn btn-primary btn-xs'" />
          </div>
        </div>
        <div fxFlex="5"></div>
        <div fxLayout="row">
          <div fxFlex="80">Fill Background</div>
          <div fxLayoutAlign="center center">
            <mat-slide-toggle class="example-margin" color="primary" [(ngModel)]="_fill"></mat-slide-toggle>
          </div>
        </div>
      </div>
      <div fxFlex="10"></div>
      <div fxFlex="100%" fxLayout="column">
        <div fxLayout="column" style="text-align:center">
          <div fxLayoutAlign="center">Line Tension</div>
          <div>
            <mat-button-toggle-group [(value)]="_linetension">
              <mat-button-toggle value="none">None</mat-button-toggle>
              <mat-button-toggle value="mild">Mild</mat-button-toggle>
              <mat-button-toggle value="full">Full</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
        <div fxFlex="5"></div>
        <div fxLayout="column" style="text-align:center">
          <div fxLayoutAlign="center">Point Size</div>
          <div>
            <mat-button-toggle-group [(value)]="_pointradius">
              <mat-button-toggle value="small">Small</mat-button-toggle>
              <mat-button-toggle value="normal">Normal</mat-button-toggle>
              <mat-button-toggle value="large">Large</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="center" fxLayout.lt-sm="column">
      <div fxFlex="27">
        <mat-form-field style="width:100%">
          <mat-select placeholder="Animations" [(value)]="_animations">
            <mat-option style="text-align:center;" value="linear"> linear </mat-option>
            <mat-option style="text-align:center;" value="easeInOutQuad"> easeInOutQuad </mat-option>
            <mat-option style="text-align:center;" value="easeInCubic"> easeInCubic </mat-option>
            <mat-option style="text-align:center;" value="easeOutCubic"> easeOutCubic </mat-option>
            <mat-option style="text-align:center;" value="easeInQuad"> easeInQuad </mat-option>
            <mat-option style="text-align:center;" value="easeOutQuad"> easeOutQuad </mat-option>
            <mat-option style="text-align:center;" value="easeInQuart"> easeInQuart </mat-option>
            <mat-option style="text-align:center;" value="easeOutQuart"> easeOutQuart </mat-option>
            <mat-option style="text-align:center;" value="easeInSine"> easeInSine </mat-option>
            <mat-option style="text-align:center;" value="easeOutSine"> easeOutSine </mat-option>
            <mat-option style="text-align:center;" value="easeInElastic"> easeInElastic </mat-option>
            <mat-option style="text-align:center;" value="easeInBack"> easeInBack </mat-option>
            <mat-option style="text-align:center;" value="easeOutBack"> easeOutBack </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="9"></div>
      <div fxFlex="27">
        <mat-form-field style="width:100%;cursor: pointer;">
          <input matInput placeholder="Point Style" [(ngModel)]="_pointstyle" [matAutocomplete]="auto1" class="autosel">
          <mat-autocomplete #auto1="matAutocomplete">
            <mat-option style="text-align:center;" value="circle">
              <mat-icon>fiber_manual_record</mat-icon> Circle
            </mat-option>
            <mat-option style="text-align:center;" value="triangle">
              <mat-icon>change_history</mat-icon> Triangle
            </mat-option>
            <mat-option style="text-align:center;" value="rect">
              <mat-icon>crop_7_5</mat-icon> Rectangle
            </mat-option>
            <mat-option style="text-align:center;" value="rectRounded">
              <mat-icon>check_box_outline_blank</mat-icon> RectRounded
            </mat-option>
            <mat-option style="text-align:center;" value="rectRot">
              <mat-icon>layers</mat-icon>RectRot
            </mat-option>
            <mat-option style="text-align:center;" value="cross">
              <mat-icon>add</mat-icon> Cross
            </mat-option>
            <mat-option style="text-align:center;" value="crossRot">
              <mat-icon>clear</mat-icon> CrossRot
            </mat-option>
            <mat-option style="text-align:center;" value="star">
              <mat-icon>ac_unit</mat-icon> Star
            </mat-option>
          </mat-autocomplete>
          <mat-icon style="vertical-align: middle" matSuffix>arrow_drop_down</mat-icon>
        </mat-form-field>
      </div>
      <div fxFlex="9"></div>
      <div fxFlex="27">
        <mat-form-field style="width:100%;cursor: pointer;">
          <input matInput placeholder="Line Style" [(ngModel)]="_linestyle" [matAutocomplete]="auto" class="autosel">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option style="text-align:center;" value="solid">
              <mat-icon>remove</mat-icon>Solid
            </mat-option>
            <mat-option style="text-align:center;" value="dashed">
              <mat-icon>more_horiz</mat-icon>Dashed
            </mat-option>
          </mat-autocomplete>
          <mat-icon style="vertical-align: middle" matSuffix>arrow_drop_down</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <br>
    <button mat-raised-button color="primary" (click)="setchartpreferences();updatechart();">Update</button>
  </div>
</div>
<div id='tableContainer'>
  <personalization-table></personalization-table>
</div>
<!-- --------------------Chart------------------------- -->

<!-- ________________________________________________________________________ -->
<div class="mat-elevation-z8" fxShow="true" fxHide.xs="true" *ngIf="disptable">
  <!-- <mat-card id="mat_card">
    <mat-card-content> -->
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container *ngFor="let a of columnsToDisplay" matColumnDef="{{a}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="{{helpertext[a]}}" matTooltipPosition='above'>
        {{a}}<mat-icon class="del_icon" (click)="showhidecol(a)">delete_forever</mat-icon>
      </th>
      <td mat-cell *matCellDef="let myData"> {{myData[a+""]}} </td>
    </ng-container>
    <!-- <ng-container *ngFor="let a of columnsToDisplay" matColumnDef="{{a}}">
          <div>
            <mat-header-cell matTooltip="{{helpertext[a]}}" matTooltipPosition='above' *matHeaderCellDef mat-sort-header> {{a}}
              <mat-icon class="del_icon" (click)="showhidecol(a)">delete_forever</mat-icon>
            </mat-header-cell>
          </div>
          <mat-cell *matCellDef="let myData"> {{myData[a+""]}} </mat-cell>
        </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay;"></tr>
    <!-- <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row> -->
  </table>
  <!-- </mat-card-content>
  </mat-card> -->
</div>

<div class="mat-elevation-z8" fxHide="true" fxShow.xs="true" *ngIf="disptable">
  <!-- <mat-card id="mat_card_">
    <mat-card-content> -->
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let a of columnsToDisplay" matColumnDef="{{a}}">
      <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header> {{a}}</th> -->
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="{{helpertext[a]}}" matTooltipPosition='above'>
        {{a}}<mat-icon class="del_icon" (click)="showhidecol(a)">delete_forever</mat-icon>
      </th>
      <td mat-cell *matCellDef="let myData"> {{myData[a+""]}} </td>
    </ng-container>
    <!-- <ng-container *ngFor="let a of columnsToDisplay" matColumnDef="{{a}}" [style.display]="show(a)">
          <div>
            <mat-header-cell matTooltip="{{helpertext[a]}}" matTooltipPosition='after' *matHeaderCellDef mat-sort-header> {{a}}
              <mat-icon class="del_icon" (click)="showhidecol(a)">delete_forever</mat-icon>
            </mat-header-cell>
          </div>
          <mat-cell *matCellDef="let myData"> {{myData[a+""]}} </mat-cell>
        </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay;"></tr>
    <!-- <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row> -->
  </table>
  <!-- </mat-card-content>
  </mat-card> -->
</div>
<div *ngIf="disptable && hiddencols.length > 0" style="width: 100%">
  <br>
  <mat-label> Hidden Columns : </mat-label>
  <mat-chip-list style="width: 100%">
    <mat-chip color="primary" *ngFor="let item of hiddencols" [removable]="removable" (removed)="remove(item)">
      {{item}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>
<br>
<div flex fxLayout="row" fxLayoutAlign="center">
  <button mat-raised-button (click)="Redirect_to_user()" style="background-color: rgba(187, 38, 38, 0.700);">
    <mat-icon style="vertical-align: middle;margin-right: 5px">clear</mat-icon>Exit
  </button>
  <div fxFlex="5"></div>
  <button mat-raised-button style="background-color: rgba(65, 204, 65, 0.700);" (click)="ExecuteAgain()">
    <mat-icon style="vertical-align: middle;margin-right: 5px">done_all</mat-icon>Submit
  </button>
</div>
