<div class="tile-container">
  <div class="container-header" fxLayoutAlign="space-between center">
    <span class="container-title">{{role.V_ROLE_CD}}</span>
    <div class="container-actions">
      <button mat-icon-button matTooltip="delete role"
              *ngIf="rolePermission"
              (click)="onBtnDeleteRoleClick(role)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button matTooltip="edit role"
              *ngIf="rolePermission"
              (click)="onBtnEditRoleClick(role)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="assign role" (click)="onBtnAssignGroupClick(role)">
        <mat-icon>link</mat-icon>
      </button>
    </div>
  </div>
  <app-auth-tile-list [auths]="auths"
                      (addAuthEvent)="onAddAuthEventHandler($event)"
                      (deleteAuthEvent)="onDeleteAuthEventHandler($event)"></app-auth-tile-list>
</div>
