<div class="tile-container">
  <div class="container-header" fxLayoutAlign="space-between center">
    <span class="container-title">{{role.V_ROLE_CD}}</span>
    <div class="container-actions">
      <button mat-icon-button matTooltip="delete role" (click)="onBtnDeleteRoleClick(role)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button matTooltip="edit role" (click)="onBtnEditRoleClick(role)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
  <app-auth-tile-list [auths]="auths"
                      (addAuthEvent)="onAddAuthEventHandler($event)"
                      (deleteAuthEvent)="onDeleteAuthEventHandler($event)"></app-auth-tile-list>
</div>
