<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand"
  let-onCheckedChange="onCheckedChange">
  <div class="form-inline row-item">
    <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa"
      [class.fa-caret-right]="item.collapsed" [class.fa-caret-down]="!item.collapsed"></i>
    <div class="form-check">
      <label class="form-check-label" (click)="onTitleClick(item)">
        {{item.text}}
      </label>
      <label *ngIf="item.children" class="form-check-label">
        <button mat-icon-button [matMenuTriggerFor]="parentMenu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #parentMenu="matMenu">
          <div *ngFor="let pitem of parentMenuItems">
            <button (click)="onParentMenuItemClick(pitem.value,item.value)" *ngIf="pitem.havePermission" mat-menu-item>
              <span>{{pitem.item}}</span>
            </button>
          </div>
        </mat-menu>
      </label>
      <label *ngIf="!item.children" class="form-check-label">
        <button mat-icon-button [matMenuTriggerFor]="childMenu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #childMenu="matMenu">
          <div *ngFor="let citem of childrenMenuItems">
            <button (click)="onChildMenuItemClick(citem.value,item.value)" *ngIf="citem.havePermission" mat-menu-item>
              <span *ngIf="citem.havePermission">{{citem.item}}</span>
            </button>
          </div>
        </mat-menu>
      </label>
    </div>
  </div>
</ng-template>
<div fxLayout="row">
  <div fxFlex="20">
    <ngx-treeview [config]="config" [items]="item" [itemTemplate]="itemTemplate"
      (selectedChange)="onSelectedChange($event)" (filterChange)="onFilterChange($event)">
    </ngx-treeview>
  </div>
  <div fxFlex="80">
    <mat-sidenav-container>
      <mat-sidenav-content>
        <div fxLayout="row">
          <div fxFlex="95" id="canvas"></div>
          <div fxFlex="5" class="toggle">
            <a href="javascript:void(0)" matTooltip="{{opened ? 'Hide properties' : 'Show properties'}}"
              (click)="sidenav.toggle()">
              <mat-icon aria-hidden="false">{{opened ? 'arrow_right' : 'arrow_left'}}</mat-icon>
            </a>
          </div>
        </div>
        <div class="import-export">
          <mat-list class="button-wrapper" fxLayout>
            <mat-list-item fxFlex>
              <input [hidden]="true" #file type="file" accept=".bpmn" (change)="openBpmn($event)" />
              <a matTooltip="Open BPMN diagram from local file system" (click)="file.click()">
                <mat-icon aria-hidden="false">folder_open</mat-icon>
              </a>
            </mat-list-item>
            <mat-divider fxFlex [vertical]="true"></mat-divider>
            <mat-list-item fxFlex>
              <a matTooltip="Create new BPMN diagram" (click)="newBpmn()">
                <mat-icon aria-hidden="false">add_circle</mat-icon>
              </a>
            </mat-list-item>
          </mat-list>
          <mat-list class="button-wrapper" fxLayout>
            <mat-list-item fxFlex>
              <a matTooltip="Download BPMN diagram" (click)="downloadBpmn()">
                <mat-icon aria-hidden="false">archive</mat-icon>
              </a>
            </mat-list-item>
            <mat-divider fxFlex [vertical]="true"></mat-divider>
            <mat-list-item fxFlex>
              <a matTooltip="Download as SVG image" (click)="downloadSvgBpmn()">
                <mat-icon aria-hidden="false">image</mat-icon>
              </a>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-sidenav-content>
      <mat-sidenav #sidenav position="end" mode="side" [(opened)]="opened">
        <div id="properties"></div>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>
</div>