<ng-template #itemTemplate let-item="item" let-index let-onCollapseExpand="onCollapseExpand"
  let-onCheckedChange="onCheckedChange">
  <div class="form-inline row-item" [ngClass]="item.children?'parent-menu':'child-menu'">
    <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa caret-font"
      [class.fa-caret-right]="item.collapsed" [class.fa-caret-down]="!item.collapsed"></i>
    <div class="form-check" *ngIf="item.text!=='NULL'">
      <label *ngIf="item.children" class="form-check-label parent-color"
        [ngClass]="item.value == selectedApp?'active-menu':''" (click)="onTitleClick(item, true)">
        {{item.text}}
      </label>
      <label *ngIf="!item.children" class="form-check-label child-color"
        [ngClass]="(item.text == selectedProcess && item.value == selectedApp)?'active-menu':''"
        (click)="onTitleClick(item)">
        {{item.text}}
      </label>
      <label *ngIf="item.children" class="form-check-label">
        <button id="side-nav-menu" mat-mini-fab [matMenuTriggerFor]="parentMenu"
          aria-label="Example icon-button with a menu">
          <mat-icon class="parent-color more-vert-font">more_vert</mat-icon>
        </button>
        <mat-menu #parentMenu="matMenu" class="sideNavChildMenu">
          <div *ngFor="let pitem of parentobj[item.text]" [ngClass]="pitem.iconType=='mat' ? pitem.icon : ''">
            <button (click)="onParentMenuItemClick(pitem.value,item.value, item)" *ngIf="pitem.havePermission"
              mat-menu-item>
              <mat-icon *ngIf="pitem.iconType=='mat'" title="{{pitem.item}}">{{pitem.icon}}</mat-icon>
              <div *ngIf="pitem.iconType=='bpmn'" title="{{pitem.item}}" class="{{pitem.icon}}" draggable="true"></div>
              <span>{{pitem.item}}</span>
            </button>
          </div>
        </mat-menu>
      </label>
      <label *ngIf="!item.children" class="form-check-label">
        <button (click)="onChildMenuClick(item)" id="side-nav-menu" mat-mini-fab [matMenuTriggerFor]="childMenu"
          aria-label="Example icon-button with a menu">
          <mat-icon class="child-color more-vert-font">more_vert</mat-icon>
        </button>
        <mat-menu #childMenu="matMenu" class="sideNavChildMenu">
          <div *ngFor="let citem of childobj[item.text]">
            <button (click)="onChildMenuItemClick(citem.value,item)" *ngIf="citem.havePermission" mat-menu-item>
              <mat-icon *ngIf="citem.iconType=='mat'">{{citem.icon}}</mat-icon>
              <i *ngIf="citem.iconType=='material'" class="material-icons">{{citem.icon}}</i>
              <i *ngIf="citem.iconType=='fa'" class="{{citem.icon}}"></i>
              <div *ngIf="citem.iconType=='bpmn'" class="{{citem.icon}}" draggable="true" data-action="delete"
                title="Remove"></div>
              <span *ngIf="citem.havePermission">{{citem.item}}</span>
            </button>
          </div>
        </mat-menu>
      </label>
    </div>
  </div>
</ng-template>
<div fxLayout="row">
  <mat-sidenav-container fxFlex="100">
    <mat-sidenav class="tree-bg-color" #treesidenav mode="side" [opened]="true" style="width:270px">
      <div flex fxLayout="column">
        <div fxFlex="100">
          <ngx-treeview [config]="config" [items]="item" [itemTemplate]="itemTemplate">
            <!-- (selectedChange)="onSelectedChange($event)" (filterChange)="onFilterChange($event)" -->
          </ngx-treeview>
        </div>
        <div fxFlex="100">
          <button *ngIf="item.length" mat-icon-button matTooltip="Add Application" (click)="addApplication()">
            <mat-icon class="add-btn add-font">add</mat-icon>
          </button>
        </div>
        <hr>
      </div>
    </mat-sidenav>
    <div fxFlex="100">
      <div class="parent">
        <h5 class="parent-font m-t-10" *ngIf="selectedApp!=''">
          <button class="mr-2" [matMenuTriggerFor]="parentMenu" aria-label="Example icon-button with a menu">
            {{selectedApp}}
          </button>
          <mat-menu class="headerParentMenu" #parentMenu="matMenu">
            <span *ngFor="let pitem of parentobj[selectedApp]" [ngClass]="pitem.iconType=='mat' ? pitem.icon : ''">
              <button (click)="onParentMenuItemClick(pitem.value,selectedApp)" *ngIf="pitem.havePermission"
                mat-menu-item>
                <mat-icon *ngIf="pitem.iconType=='mat'" title="{{pitem.item}}">{{pitem.icon}}</mat-icon>
                <div *ngIf="pitem.iconType=='bpmn'" title="{{pitem.item}}" class="{{pitem.icon}}" draggable="true"></div>
              </button>
            </span>
          </mat-menu>
          <span class="selected-process-font" *ngIf="selectedProcess!=''">
            <button (click)="onChildMenuClick(selectedItem)" [matMenuTriggerFor]="childMenu"
              aria-label="Example icon-button with a menu">
              {{selectedProcess}}
            </button>
          </span>
          <mat-menu class="headerChildMenu" #childMenu="matMenu">
            <span *ngFor="let citem of childobj[selectedProcess]">
              <button (click)="onChildMenuItemClick(citem.value,selectedItem)" *ngIf="citem.havePermission"
                mat-menu-item>
                <mat-icon *ngIf="citem.iconType=='mat'" title="{{citem.item}}">{{citem.icon}}</mat-icon>
                <i *ngIf="citem.iconType=='material'" class="material-icons" title="{{citem.item}}">{{citem.icon}}</i>
                <i *ngIf="citem.iconType=='fa'" class="{{citem.icon}}" title="{{citem.item}}"></i>
                <div *ngIf="citem.iconType=='bpmn'" title="{{citem.item}}" class="{{citem.icon}}" draggable="true"></div>
              </button>
            </span>
          </mat-menu>
        </h5>
      </div>
      <section>
        <div fxLayout="row">
          <div fxFlex="20px" class="toggle">
            <a href="javascript:void(0)" matTooltip="{{treesidenav.opened ? 'Hide Application' : 'Show Application'}}"
              (click)="treesidenav.toggle()">
              <mat-icon aria-hidden="false">{{treesidenav.opened ? 'arrow_left' : 'arrow_right'}}</mat-icon>
            </a>
          </div>
          <div fxFlex="100" fxLayout="column">
            <div fxFlex="100" id="canvas" [ngClass]="opened?'stage-show':'stage-hide'">
            </div>
            <div fxFlex="100">
              <div class="dynamicFormContent">
                <!-- <h3 style="text-align: center;" *ngIf="resFormData!='' &&  resFormData!=undefined">
                  {{Label['Parameters']}}</h3> -->
                <div class="dynamicContent">
                  <form name="form" #processForm="ngForm" novalidate>
                    <div class="padding-input flexLeft" *ngFor="let pr of resFormData"
                      [ngClass]="data.getFieldClass(pr.name)">
                      <ng-container *ngIf="!data.isFieldHidden(pr.name)">
                        <label class="f_label">{{pr.display | removeWt}}<span
                            *ngIf="data.isFieldMendatory(pr.name)">*</span></label>
                        <mat-icon *ngIf="pr.helptext!= null" matTooltip="{{pr.helptext}}" class="field-help"
                          matTooltipPosition="after">help</mat-icon>
                        <div *ngIf="pr.hasfield">
                          <ng-container [ngSwitch]="pr.type">
                            <ng-container *ngSwitchCase="'Radio Button'">
                              <mat-form-field class="form_input form_list" style="background-color: #f4f6f7">
                                <input matInput style="display: none">
                                <mat-radio-group #name="ngModel" [required]="data.isFieldMendatory()"
                                  [disabled]="data.isFieldDisabled()" [(ngModel)]="pr.value"
                                  (ngModelChange)="Update_value(pr.value,pr.placeholder)" [name]="pr.name">
                                  <mat-radio-button style="background-color: #f4f6f7" [value]="listOption"
                                    *ngFor="let listOption of getListOptions(pr.name)">{{listOption}}</mat-radio-button>
                                </mat-radio-group>
                              </mat-form-field>
                            </ng-container>
                            <ng-container *ngSwitchCase="'Checkbox'">
                              <mat-form-field class="form_input form_list" style="background-color: #f4f6f7">
                                <input matInput style="display: none">
                                <mat-selection-list #name="ngModel" [disabled]="data.isFieldDisabled()"
                                  [(ngModel)]="pr.value" (ngModelChange)="Update_value(pr.value,pr.placeholder)"
                                  style="background-color: #f4f6f7">
                                  <mat-list-option checkboxPosition="before" [value]="listOption"
                                    *ngFor="let listOption of getListOptions(pr.name)">
                                    {{listOption}}
                                  </mat-list-option>
                                </mat-selection-list>
                              </mat-form-field>
                            </ng-container>
                            <ng-container *ngSwitchCase="'date'">
                              <mat-form-field class="form_input">
                                <input #name="ngModel" [required]="data.isFieldMendatory()"
                                  [disabled]="data.isFieldDisabled()" [name]="pr.name" [value]="pr.value"
                                  (keyup)="Update_value($event.target.value,pr.placeholder)" [(ngModel)]="pr.value"
                                  matInput [matDatepicker]="picker" class="f_inp">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                              <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
                                {{data.getFieldInValidMsg(name, pr.name)}}
                              </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'time'">
                              <mat-form-field class="form_input">
                                <input #name="ngModel" [required]="data.isFieldMendatory()"
                                  [disabled]="data.isFieldDisabled()" matInput [type]="pr.type" [name]="pr.name"
                                  [value]="pr.value" (change)="Update_value($event.target.value,pr.placeholder)"
                                  [(ngModel)]="pr.value" class="f_inp">
                              </mat-form-field>
                              <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
                                {{data.getFieldInValidMsg(name, pr.name)}}
                              </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'datetime'">
                              <mat-form-field class="form_input" style="background-color: #f4f6f7">
                                <input #name="ngModel" [required]="data.isFieldMendatory()"
                                  [disabled]="data.isFieldDisabled()" matInput [name]="pr.name" [value]="pr.value"
                                  (change)="Update_value($event.target.value,pr.placeholder)" [(ngModel)]="pr.value"
                                  [owlDateTimeTrigger]="fdate" [owlDateTime]="fdate">
                                <owl-date-time [attr.id]="pr.name"></owl-date-time>
                              </mat-form-field>
                              <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
                                {{data.getFieldInValidMsg(name, pr.name)}}
                              </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'password'">
                              <mat-form-field class="form_input">
                                <input matInput #name="ngModel" [required]="data.isFieldMendatory(pr.name)"
                                  [readonly]="data.isFieldDisabled(pr.name)" [type]="pr.type" [name]="pr.name"
                                  [value]="pr.value" (change)="Update_value($event.target.value,pr.placeholder)"
                                  [(ngModel)]="pr.value" #name="ngModel" class="f_inp">
                              </mat-form-field>
                              <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
                                {{data.getFieldInValidMsg(name, pr.name)}}
                              </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'range'">
                              <mat-slider #name="ngModel" [(ngModel)]="pr.value" value="1" step="1" min="1" max="100"
                                (change)="Update_value($event.target.value,pr.placeholder)"
                                style="background-color: #f4f6f7">
                              </mat-slider>
                            </ng-container>
                            <ng-container *ngSwitchCase="color">
                              <mat-form-field class="form_input">
                                <input #name="ngModel" [(colorPicker)]="_backgroundColor"
                                  [style.background]="_backgroundColor" [(ngModel)]="pr.value" class="f_inp">
                              </mat-form-field>
                            </ng-container>
                            <ng-container *ngSwitchCase="'Text Area'">
                              <mat-form-field class="form_input">
                                <textarea matInput #name="ngModel" [required]="data.isFieldMendatory(pr.name)"
                                  [readonly]="data.isFieldDisabled(pr.name)" [name]="pr.name"
                                  [maxLength]="data.getFieldMaxLength(pr.name)" (value)="pr.value"
                                  (change)="Update_value($event.target.value,pr.placeholder)" [(ngModel)]="pr.value"
                                  class="f_inp">
                                    </textarea>
                              </mat-form-field>
                              <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
                                {{data.getFieldInValidMsg(name, pr.name)}}
                              </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="data.getFieldTypeForChange(pr.type)">
                              <mat-form-field class="form_input">
                                <input matInput [required]="data.isFieldMendatory(pr.name)"
                                  maxlength="data.getMaxLengthForField(pr.type)" [name]="pr.name" (value)="pr.value"
                                  (change)="Update_value($event.target.value,pr.placeholder)"
                                  (change)="data.transformFieldValueOnChange($event,pr.type)" [(ngModel)]="pr.value"
                                  class="f_inp" #name="ngModel">
                                <mat-autocomplete class="autoCompletes" #auto="matAutocomplete">
                                  <mat-option (click)="Update_value(pr.value ,pr.placeholder)"
                                    style="text-align:center;"
                                    *ngFor="let option of options[pr.name]| myfilter:FilterAutoValue" [value]="option">
                                    {{option}}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                              <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
                                {{data.getFieldInValidMsg(name, pr.name)}}
                              </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'Zip'">
                              <mat-form-field class="form_input">
                                <input type="text" pattern="^[0-9]{5}?$" [required]="data.isFieldMendatory(pr.name)"
                                  maxlength="5" matInput [disabled]="data.isFieldDisabled(pr.name)" [name]="pr.name"
                                  (value)="pr.value" [matAutocomplete]="auto"
                                  (key)="Update_value($event.target.value,pr.placeholder)" [(ngModel)]="pr.value"
                                  class="f_inp" #name="ngModel">

                                <mat-autocomplete class="autoCompletes" #auto="matAutocomplete">
                                  <mat-option style="text-align:center;"
                                    (click)="Update_value(pr.value ,pr.placeholder)"
                                    *ngFor="let option of options[pr.name]| myfilter:FilterAutoValue" [value]="option">
                                    {{option}}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                              <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
                                {{data.getFieldInValidMsg(name, pr.name)}}
                              </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'Email'">
                              <mat-form-field class="form_input">
                                <input type="email" [required]="data.isFieldMendatory(pr.name)" matInput
                                  [readonly]="data.isFieldDisabled(pr.name)" [name]="pr.name" (value)="pr.value"
                                  [matAutocomplete]="auto" (change)="Update_value($event.target.value,pr.placeholder)"
                                  [(ngModel)]="pr.value" class="f_inp" #name="ngModel" email="true"
                                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">

                                <mat-autocomplete class="autoCompletes" #auto="matAutocomplete">
                                  <mat-option style="text-align:center;"
                                    (click)="Update_value(pr.value ,pr.placeholder)"
                                    *ngFor="let option of options[pr.name]| myfilter:FilterAutoValue" [value]="option">
                                    {{option}}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                              <div [style.visibility]=" data.isFieldInvalid(name) ? 'visible': 'hidden'">
                                {{data.getFieldInValidMsg(name, pr.name)}}
                              </div>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                              <mat-form-field class="form_input">
                                <input matInput [name]="pr.name" [required]="data.isFieldMendatory(pr.name)"
                                  #name="ngModel" [readonly]="data.isFieldDisabled(pr.name)"
                                  (change)="Update_value(pr.value ,pr.placeholder)"
                                  [maxLength]="data.getFieldMaxLength(pr.name)" [matAutocomplete]="auto"
                                  [(ngModel)]="pr.value" class="f_inp">
                                <mat-autocomplete #auto="matAutocomplete">
                                  <mat-option style="text-align:center;"
                                    (click)="Update_value(pr.value ,pr.placeholder)"
                                    *ngFor="let option of options[pr.name]| myfilter:FilterAutoValue" [value]="option">
                                    {{option}}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                              <div [style.visibility]=" data.isFieldInvalid(name) ? 'visible': 'hidden'">
                                {{data.getFieldInValidMsg(name, pr.name)}}
                              </div>
                            </ng-container>
                          </ng-container>
                        </div>
                      </ng-container>
                    </div>
                  </form>
                </div>

              </div>
            </div>

            <div fxFlex="100" id="schedule" *ngIf="newScheduleView || Pause_btn || Resume_btn || Kill_btn">
              <div>
                <hr />
                <h4 class="text-center">Schedule</h4>
                <hr />


                <div *ngIf="display_process_table">
                  <mat-form-field *ngIf="show_filter_input">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
                  <img src="./assets/img/progress.gif" style="height:20px;width:20px;" *ngIf="progressImg" alt="" />
                  <mat-table #table [dataSource]="dataSource" MatSort style="width: 100%">

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="#">
                      <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let dataSource">
                        <mat-checkbox (click)="$event.stopPropagation();Check_process_id(dataSource.job_name)"
                          (change)="$event ? selection.toggle(dataSource) : null"
                          [checked]="selection.isSelected(dataSource)">
                        </mat-checkbox>
                        <!-- <mat-checkbox [class]="checkbox_color_value"
                      (click)="$event.stopPropagation();Check_process_id(dataSource.job_name)"></mat-checkbox> -->
                      </mat-cell>
                    </ng-container>

                    <!-- Position Column -->
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef style="color: white"> Services </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="status">
                      <mat-header-cell *matHeaderCellDef style="color: white"> Status </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="lastrun">
                      <mat-header-cell *matHeaderCellDef style="color: white"> Last Run </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.lastrun}} </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="nextrun">
                      <mat-header-cell *matHeaderCellDef style="color: white"> Next Run </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.nextrun}} </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="details">
                      <mat-header-cell *matHeaderCellDef style="color: white"> Details </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.details}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"
                      (click)="onRowClick(row)">
                    </mat-row>
                  </mat-table>
                </div>
                <div *ngIf="newScheduleView">
                  <app-repeat-process [parentapp]="selectedplat" [parentpro]="selectedplat1"></app-repeat-process>
                  <hr />
                </div>
              </div>
              <!-- ______________________________________________________CLOSE TABLE________________________________ -->
              <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-5">
                  <br />
                  <!-- <button mat-raised-button color="primary" *ngIf="Save_btn" [disabled]="save_shedule_btn" (click)="repeatURL()">Save the Schedule</button> -->
                  <button mat-raised-button color="primary" (click)="onPause()" *ngIf="Pause_btn">Pause Selected
                    Schedules</button>
                  <button mat-raised-button color="primary" (click)="onResume()" *ngIf="Resume_btn">Resume Selected
                    Schedules</button>
                  <button mat-raised-button color="primary" (click)="onKill()" *ngIf="Kill_btn">Kill Selected
                    Schedules</button>
                  <br />
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="20px" class="toggle">
            <a *ngIf="showRightIcon" href="javascript:void(0)"
              matTooltip="{{opened ? 'Hide properties' : 'Show properties'}}" (click)="sidenav.toggle()">
              <mat-icon aria-hidden="false">{{opened ? 'arrow_right' : 'arrow_left'}}</mat-icon>
            </a>
          </div>
        </div>
      </section>
    </div>
    <mat-sidenav class="properties-bg-color" #sidenav position="end" mode="side" [(opened)]="opened">
      <div id="properties">

        <label><b> {{ generalId }} </b></label>
        <mat-tab-group mat-align-tabs="start" (selectedTabChange)="updateTabs()">

          <mat-tab label="General">
            <div class="generalTabV">
              <label class="m-t-10">{{Label['ID']}} </label>
              <input id="processId" tabindex="-1" onfocus="this.select();" (change)="onInputChange()"
                [(ngModel)]="generalId">
            </div>
            <div class="oneSpace"></div>
            <div class="generalTabV">
              <label class="m-t-5">{{Label['NAME']}} </label>
              <input (change)="onInputChange()" [(ngModel)]="processName">
            </div>
            <div class="spaceDiv">
              <mat-divider></mat-divider>
            </div>
            <div class="generalTabV">
              <label>{{Label['DOCUMENTATION']}}</label>
              <textarea (change)="onInputChange()" [(ngModel)]="documentation"></textarea>
            </div>
            <div *ngIf="showCondtionType">
              <div class="spaceDiv">
                <mat-divider></mat-divider>
              </div>
              <label>{{Label['CONDITION_TYPE']}}</label>
              <select [(ngModel)]="selectedConditionType" (change)="updatesequenceConditionType($event.target.value)">
                <!-- <option>{{Label['PLEASE_SELECT']}}</option> -->
                <option *ngFor="let condition of sequenceConditionType " [value]="condition">
                  {{ condition}}
                </option>
              </select>
              <div>
                <div class="oneSpace"></div>
                <label>{{Label['CONDITION']}}</label>
                <textarea type="text" name="condition" (change)="onInputChange()" [(ngModel)]="sequenceCondition"
                  #seq_condition="ngModel" required></textarea>
                <div *ngIf="seq_condition.invalid && (seq_condition.dirty || seq_condition.touched)" class="errors">
                  <div *ngIf="seq_condition.errors && seq_condition.errors.required">
                    {{selectedConditionType}} Condition is required.
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab *ngIf="showAllTabFlag" label="Enable">
            <div class="generalTabV">
              <label class="m-t-10">{{Label['EXECUTABLE_TYPES']}}</label>
              <select [(ngModel)]="selectedExecutableType" (change)="updateselectedExecutableType($event.target.value)">
                <option value="">{{Label['PLEASE_SELECT']}}</option>
                <option *ngFor="let exeType of executableTypesData " [value]="exeType">
                  {{ exeType}}
                </option>
              </select>
              <div class="spaceDiv">
                <mat-divider></mat-divider>
              </div>
              <label>{{Label['EXECUTABLES']}}</label>
              <select [(ngModel)]="selectedExecutable" (change)="updateselectedExecutable($event.target.value)">
                <option value="">{{Label['PLEASE_SELECT']}}</option>
                <option *ngFor="let executable of executablesData " [value]="executable">
                  {{ executable}}
                </option>
              </select>
              <!--            <div class="oneSpace"></div>-->
              <label class="m-t-10">{{Label['EXECUTABLE_INPUT']}}</label>
              <textarea [ngClass]="selectedExecutableType !== 'MANUAL'?'exe_disable':''"
                [disabled]="selectedExecutableType !== 'MANUAL'" [(ngModel)]="executableInput"></textarea>
              <!--            <div class="oneSpace"></div>-->
              <label>{{Label['EXECUTABLE_OUTPUT']}}</label>
              <textarea class="exe_disable" disabled [(ngModel)]="executableOutput"></textarea>
              <!--            <div class="oneSpace"></div>-->
              <label>{{Label['EXECUTABLE_DSC']}}</label>
              <textarea class="exe_disable" disabled [(ngModel)]="executableDesc"></textarea>
              <div class="spaceDiv">
                <mat-divider></mat-divider>
              </div>

              <mat-radio-group disabled [(ngModel)]="async_sync">
                <mat-radio-button value="async">{{Label['ASYNCHRONOUS']}}</mat-radio-button>
                <mat-radio-button value="sync">{{Label['SYNCHORONOUS']}}</mat-radio-button>
              </mat-radio-group>
              <div *ngIf="async_sync==='sync'">
                <div class="row row1">
                  <input class="exe_disable" disabled id="Timeout_seconds" type="number"
                    [(ngModel)]="async_sync_seconds" min="1">
                  <label id="Timeout_seconds_label">{{Label['TIMEOUT_SECONDS']}}</label>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab *ngIf="showAllTabFlag" label="Properties">
            <div class="generalTabV">
              <mat-checkbox class="m-t-10" [(ngModel)]="display_output">{{Label['DISPLAY_OUTPUT']}}</mat-checkbox>
              <mat-checkbox [(ngModel)]="summary_output">{{Label['SUMMARY_OUTPUT']}}</mat-checkbox>
              <mat-checkbox [(ngModel)]="isServiceActive" (change)="serviceActiveSelected($event.checked)">
                {{Label['SERVICE_ACTIVE']}}
              </mat-checkbox>
              <div *ngIf="isServiceActive">
                <mat-form-field class="form_input">
                  <label class="m-b-10">{{Label['START_DATE']}}</label>
                  <input matInput class="bg-white" [(ngModel)]="currentDate" [owlDateTimeTrigger]="startDate"
                    [owlDateTime]="startDate">
                  <owl-date-time #startDate></owl-date-time>
                </mat-form-field>
                <mat-form-field class="form_input">
                  <label class="m-b-10">{{Label['END_DATE']}}</label>
                  <input matInput class="bg-white" [(ngModel)]="afterFiveDays" [owlDateTimeTrigger]="endDate"
                    [owlDateTime]="endDate">
                  <owl-date-time #endDate></owl-date-time>
                </mat-form-field>
              </div>
              <div class="spaceDiv">
                <mat-divider></mat-divider>
              </div>

              <label>{{Label['NOTIFICATION_EMAIL']}} </label>
              <input type="email" [(ngModel)]="userEmail" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">

              <div class="spaceDiv">
                <mat-divider></mat-divider>
              </div>
              <div class="oneSpace"></div>
              <div class="row row1">
                <input id="priority" type="number" [(ngModel)]="priority" min="1">
                <label id="priority_label">{{Label['PRIORITY']}}</label>
              </div>
              <div class="spaceDiv">
                <mat-divider></mat-divider>
              </div>
              <label class="tabTitle">{{Label['RESTORABILITY']}}</label>
              <mat-radio-group [(ngModel)]="restorability">
                <mat-radio-button value="NONE">{{Label['NONE']}}</mat-radio-button>
                <mat-radio-button value="MANUAL">{{Label['MANUAL']}}</mat-radio-button>
                <mat-radio-button value="AUTO">{{Label['AUTO']}}</mat-radio-button>
              </mat-radio-group>
              <div *ngIf="restorability==='AUTO'">
                <div class="row row1">
                  <input id="seconds" type="number" [(ngModel)]="attemps" min="1">
                  <label id="seconds_label">{{Label['ATTEMPS']}}</label>
                </div>
                <div class="oneSpace"></div>
                <div class="row row1">
                  <input id="seconds" type="number" [(ngModel)]="restorability_seconds" min="1">
                  <label id="seconds_label">{{Label['SECONDS']}}</label>
                </div>
              </div>

              <div class="spaceDiv">
                <mat-divider></mat-divider>
              </div>

              <label class="tabTitle">{{Label['INSTANCES']}}</label>
              <mat-radio-group [(ngModel)]="instances">
                <mat-radio-button value="single">{{Label['SINGLE']}}</mat-radio-button>
                <mat-radio-button value="unlimited">{{Label['UNLIMITED']}}</mat-radio-button>
                <div class="row row1">
                  <mat-radio-button class="w-100-p" (change)="onSelectLimtedPriority()" value="limited">
                    {{Label['LIMITED']}}</mat-radio-button>
                  <div *ngIf="instances==='limited'">
                    <input id="priority" type="number" [(ngModel)]="job_instance" min="1">
                  </div>
                </div>
              </mat-radio-group>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
