#properties {
  width: 250px;
}

.errors {
  color: red;
  font-size: 13px;
}

.toggle {
  text-align: end;

  a {
    color: inherit;
  }
}

:host /deep/ .treeview-text {
  display: none;
}

.parent {
  text-align: center;
  align-content: center;
  display: inline;
}

.parent-color {
  color: #000;
}

.parent-font {
  font-size: 14px;
  font-weight: bold;
}

.selected-process-font {
  font-weight: normal;
}

.child-color {
  color: #000;
  font-weight: normal;
}

.tree-bg-color {
  background-color: #ededed;
}

.properties-bg-color {
  background-color: #ededed;
}

.add-btn {
  font-size: 19px;
  margin-left: -27px;
}

.toggle,
.import-export {
  button {
    min-width: 0;
    padding: 0;
  }
}

.import-export {
  padding: 20px;
  display: inline-flex;

  .button-wrapper {
    border-radius: 2px;
    border: solid 1px #E0E0E0;
    height: 40px;
    margin-right: 20px;
  }

  .mat-divider {
    height: 80%;
  }

}

:host /deep/ .mat-tab-label {
  padding: 0 10px;
  min-width: 60px;

  .mat-tab-label-content {
    margin-bottom: -15px;
  }
}

:host /deep/ .mat-radio-button {
  padding-bottom: 2px !important;
}

:host /deep/ .bjs-container .djs-container .djs-palette .two-open {
  position: absolute;
  left: 20px;
  top: 20px;
  box-sizing: border-box;
  width: 48px;
}

:host /deep/ .bjs-container .djs-container .djs-palette .hide {
  position: absolute;
  left: 20px;
  top: 20px;
  box-sizing: border-box;
  width: 48px;
  display: none;
}

:host /deep/ .bpmn-icon-hand-tool:before {
  content: '\e868';
  color: rgb(230, 218, 171);
}

:host /deep/ .bpmn-icon-start-event-none:before {
  content: '\e845';
  color: green;
}

:host /deep/ .bpmn-icon-intermediate-event-none:before {
  content: '\e82d';
  color: yellow;
}

:host /deep/ .bpmn-icon-connection-multi:before {
  color: rgb(255, 116, 0);
}

:host /deep/ .bpmn-icon-end-event-none:before {
  content: '\e838';
  color: red;
}

:host /deep/ .bpmn-icon-gateway-none:before {
  content: '\e834';
  color: violet;
}

:host /deep/ .bpmn-icon-task:before {
  content: '\e821';
  color: blue;
}

:host /deep/ .bpmn-icon-subprocess-expanded:before {
  content: '\e820';
  color: rgb(0, 225, 255);
}

:host /deep/ .bpmn-icon-data-store:before {
  content: '\e84e';
  color: orange;
}

:host /deep/ .bpmn-icon-participant:before {
  content: '\e85c';
  color: pink;
}

:host /deep/ .bpmn-icon-group:before {
  content: '\e869';
  color: rgb(202, 111, 51);
}

:host /deep/ .bpmn-icon-data-object:before {
  content: '\e84b';
  color: rgb(146, 191, 250);
}

:host /deep/ .bpmn-icon-connection-multi:before {
  color: rgb(255, 116, 0);
}

:host /deep/ .bpmn-icon-space-tool:before {
  color: #a366ff;
}

:host /deep/ .bpmn-icon-lasso-tool:before {
  color: #77ff33;
}

:host /deep/ .bpmn-icon-screw-wrench:before {
  color: #802b00;
}

:host /deep/ .bpmn-icon-trash:before {
  color: #ff3300;
}

:host /deep/ .bpmn-icon-text-annotation:before {
  color: #99994d;
}

:host /deep/ .bpmn-icon-start-event-message:before {
  color: #ff99ff;
}

:host /deep/ .bpmn-icon-start-event-timer:before {
  color: #99bbff;
}

:host /deep/ .bpmn-icon-start-event-condition:before {
  color: #ff5c33;
}

:host /deep/ .bpmn-icon-start-event-signal:before {
  color: #ffbf00;
}

:host /deep/ .bpmn-icon-service:before {
  color: #0066ff;
}

:host /deep/ .bpmn-icon-script:before {
  color: #00ff00;
}

:host /deep/ .bpmn-icon-call-activity:before {
  color: #4d0026;
}

:host /deep/ .bpmn-icon-subprocess-collapsed:before {
  color: #884dff;
}

:host /deep/ .bpmn-icon-business-rule:before {
  color: #66ccff;
}

:host /deep/ .bpmn-icon-manual:before {
  color: #339933;
}

:host /deep/ .bpmn-icon-user:before {
  color: #99cc00;
}

:host /deep/ .bpmn-icon-receive:before {
  color: #b35900;
}

:host /deep/ .bpmn-icon-send:before {
  color: #993300;
}

:host /deep/ .bpmn-icon-end-event-message:before {
  color: #ff1a1a;
}

:host /deep/ .bpmn-icon-end-event-escalation:before {
  color: #800000;
}

:host /deep/ .bpmn-icon-end-event-error:before {
  color: #990099;
}

:host /deep/ .bpmn-icon-end-event-compensation:before {
  color: #1af7ff;
}

:host /deep/ .bpmn-icon-end-event-signal:before {
  color: #00ff00;
}

:host /deep/ .bpmn-icon-end-event-terminate:before {
  color: #4d0026;
}

:host /deep/ label {
  text-align: center;
  margin: 2px 2px
}

:host /deep/ select {
  width: 178px;
  height: 26px;
}

:host /deep/ textarea {
  width: 178px;
  height: 80px;
}

:host /deep/ .oneSpace {
  padding-top: 3px;
  padding-bottom: 0px;
}

:host /deep/ .spaceDiv {
  padding-top: 10px;
  padding-bottom: 8px;
}

:host /deep/ #seconds {
  width: 50px;
  margin-left: 3px;
}

:host /deep/ #seconds_label {
  width: 60px;
}

:host /deep/ #priority {
  align-content: right;
  width: 50px;
}

:host /deep/ #priority_label {
  text-align: right;
  width: 50px;
}

:host /deep/ .row1 {
  margin-left: 0px;
}

:host /deep/ .mat-input-element,
input {
  text-align: center;
  width: 100%;
  height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:host /deep/ .mat-tab-body-content {
  padding: 0 36px;
}

:host /deep/ .generalTabV {
  padding-top: 2px;
  padding-bottom: 0px;
}

.m-t--10 {
  margin-top: -10px !important;
}

:host /deep/.chosen-container.chosen-container-single {
  width: 300px !important;
  /* or any value that fits your needs */
}

:host /deep/ .form_input .mat-form-field-infix {
  padding: 0px;
  border-top: none;
}

:host /deep/ .mat-form-field-appearance-legacy .mat-form-field-infix .mat-input-element {
  border: 1px solid #000;
}

.m-t-15 {
  margin-top: 15px;
}

.caret-font {
  font-size: 22px;
  margin-left: 1.3rem;
}

.more-vert-font {
  font-size: 17px;
  color: #fff;
}

.add-font {
  margin-left: 0;
  font-size: 22px;
}

.exe_disable {
  background: lightgrey;
}

::ng-deep .mat-checkbox-inner-container {
  background: #FFF;
}

.bg-white {
  background: #FFF;
}

::ng-deep .mat-radio-outer-circle {
  background: #FFF;
}

.w-100-p {
  width: 100px !important;
}

.m-t-10 {
  margin-top: 10px;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

#Timeout_seconds_label {
  width: 100px;
  color: rgba(0, 0, 0, .38);
}

#Timeout_seconds {
  width: 50px;
}

:host /deep/ .treeview-container .form-check .form-check-label.child-color {
  margin-left: 1rem !important;
}

:host /deep/ .treeview-container .form-check .form-check-label.child-color:hover {
  background-color: #ccc !important;
}

:host /deep/ .treeview-container {
  max-height: inherit !important;
  overflow-y: inherit !important;
}

:host /deep/ .generalTabV label {
  font-weight: 500;
}

.tabTitle {
  font-weight: bold !important;
}

:host /deep/ .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1.2em !important;
}

:host /deep/ .treeview-container .row-item.parent-menu {
  margin: 10px 0px !important;
}

:host /deep/ .treeview-container .row-item {
  margin-bottom: 0px !important;
}

:host /deep/ .form-check-label .mat-icon-button {
  line-height: 35px !important;
}

:host /deep/ .form-check-label .mat-icon-button:focus {
  outline: none !important;
}

:host /deep/ .mat-tab-labels {
  justify-content: center;
}

:host /deep/ .mat-tab-body.mat-tab-body-active,
:host /deep/ .mat-tab-body {
  overflow: initial !important;
}

:host /deep/ #side-nav-menu {
  width: 24px;
  height: 24px;
  outline: none;
}

:host /deep/ #side-nav-menu .mat-button-wrapper {
  vertical-align: top;
  margin-top: 3px;
}

:host /deep/ .mat-mini-fab .mat-button-wrapper {
  padding: 0px !important;
}

mat-header-cell {
  color: white;
  font-weight: bold;
}

:host /deep/ .bpmn-icon-gateway-eventbased:before {
  color: #4d0026;
}

:host /deep/ .bpmn-icon-gateway-parallel:before {
  color: #00ff00;
}

:host /deep/ .bpmn-icon-gateway-or:before {
  color: #ff1a1a;
}

:host /deep/ .bpmn-icon-gateway-complex:before {
  color: #ffbf00;
}

:host /deep/ .bpmn-icon-subprocess-collapsed:before {
  color: #00ff00;
}

:host /deep/ .bpmn-icon-event-subprocess-expanded:before {
  color: #ff1a1a;
}

:host /deep/ .bpmn-icon-transaction:before {
  color: #ffbf00;
}

:host /deep/ .bpmn-icon-parallel-mi-marker:before {
  color: #ff5c33;
}

:host /deep/ .bpmn-icon-sequential-mi-marker:before {
  color: #ffbf00;
}

:host /deep/ .bpmn-icon-loop-marker:before {
  color: #0066ff;
}

:host /deep/ .bpmn-icon-ad-hoc-marker:before {
  color: #00ff00;
}


:host /deep/ .bpmn-icon-intermediate-event-catch-message:before {
  color: #4d0026;
}

:host /deep/ .bpmn-icon-intermediate-event-throw-message:before {
  color: #76D7C4;
}

:host /deep/ .bpmn-icon-intermediate-event-catch-timer:before {
  color: #B9770E;
}

:host /deep/ .bpmn-icon-intermediate-event-throw-escalation:before {
  color: #ffbf00;
}

:host /deep/ .bpmn-icon-intermediate-event-catch-condition:before {
  color: #00ff00;
}

:host /deep/ .bpmn-icon-intermediate-event-catch-link:before {
  color: #ff1a1a;
}

:host /deep/ .bpmn-icon-intermediate-event-throw-link:before {
  color: #ffbf00;
}

:host /deep/ .bpmn-icon-intermediate-event-throw-compensation:before {
  color: #ff5c33;
}

:host /deep/ .bpmn-icon-intermediate-event-catch-signal:before {
  color: #ffbf00;
}

:host /deep/ .bpmn-icon-intermediate-event-throw-signal:before {
  color: #0066ff;
}

.active-menu {
  color: #23629F;
  background-color: #fff;
  padding: 0px 2px;
}

:host /deep/ .parent-font button {
  background: #7685D7;
  color: #fff;
  outline: none;
}

.fa-file-download {
  padding-left: 5px;
}

.fa-download {
  color: orange;
}

.fa-resolving {
  color: #00ff00;
}

.fa-desktop {
  color: #ff1a1a;
}

.fa-play-circle {
  color: #4d0026;
}

.fa-skull-crossbones {
  color: #0066ff;
}

.fa-pause-circle {
  color: rgb(0, 225, 255);
}

.fa-file-download {
  color: rgb(0, 225, 255);
}

.fa-thumbs-up {
  color: #99cc00;
}

.fa-pencil-square-o {
  color: rgb(255, 116, 0);
}

.fa-edit {
  color: #a366ff;
}

.fa-calendar {
  color: rgb(255, 116, 0);
}

.mat-menu-item .bpmn-icon-trash {
  width: 22px;
  height: 22px;
  text-align: center;
  display: inline-block;
  font-size: 22px;
  border-radius: 3px;
  cursor: default;
  box-shadow: 0 0 2px 1px #FEFEFE;
  pointer-events: all;
  color: red;
}

.mat-menu-item .bpmn-icon-screw-wrench {
  width: 22px;
  height: 22px;
  text-align: center;
  display: inline-block;
  font-size: 22px;
  border-radius: 3px;
  cursor: default;
  box-shadow: 0 0 2px 1px #FEFEFE;
  pointer-events: all;
  color: #152995;
  vertical-align: middle;
}

.mat-menu-item .mat-icon:first-child {
  color: #99cc00;
}

.attach_file .mat-menu-item .mat-icon {
  color: #ff7400;
}

.delete_outline .mat-menu-item .mat-icon {
  color: red;
}

.mr-10 {
  margin-right: 10px;
}

:host /deep/ .dynamicContent .f_label {
  display: inline-block;
}
