#properties {
  max-width: 250px;
}

.toggle {
  text-align: end;

  a {
    color: inherit;
  }
}

.toggle,
.import-export {
  button {
    min-width: 0;
    padding: 0;
  }
}

.import-export {
  padding: 20px;
  display: inline-flex;

  .button-wrapper {
    border-radius: 2px;
    border: solid 1px #E0E0E0;
    height: 40px;
    margin-right: 20px;
  }

  .mat-divider {
    height: 80%;
  }

}

:host /deep/ .mat-tab-label{
  padding: 0 15px;
  min-width: 60px;
}

:host /deep/ .mat-input-element{
  text-align: center
}
