#properties {
  width: 250px;
}

.toggle {
  text-align: end;

  a {
    color: inherit;
  }
}

.parent {
  text-align: center;
  align-content: center;
  display: inline;
}

.parent-color {
  color: #000;
}

.parent-font {
  font-size: 14px;
  font-weight: bold;
}

.selected-process-font {
  font-weight: normal;
}

.child-color {
  color: #000;
  font-weight: normal;
}

.tree-bg-color {
  background-color: #ededed;
}

.properties-bg-color {
  background-color: #ededed;
}

.add-btn {
  font-size: 19px;
  margin-left: -27px;
}

.toggle,
.import-export {
  button {
    min-width: 0;
    padding: 0;
  }
}

.import-export {
  padding: 20px;
  display: inline-flex;

  .button-wrapper {
    border-radius: 2px;
    border: solid 1px #E0E0E0;
    height: 40px;
    margin-right: 20px;
  }

  .mat-divider {
    height: 80%;
  }

}

:host /deep/ .mat-tab-label {
  padding: 0 10px;
  min-width: 60px;

  .mat-tab-label-content {
    margin-bottom: -15px;
  }
}
:host /deep/ .mat-radio-button {
  padding-bottom: 2px !important;
}
:host /deep/ .bjs-container .djs-container .djs-palette .two-open {
  position: absolute;
  left: 20px;
  top: 20px;
  box-sizing: border-box;
  width: 48px;
}

:host /deep/ .bjs-container .djs-container .djs-palette .hide {
  position: absolute;
  left: 20px;
  top: 20px;
  box-sizing: border-box;
  width: 48px;
  display: none;
}

:host /deep/ .bpmn-icon-hand-tool:before {
  content: '\e868';
  color: rgb(230, 218, 171);
}

:host /deep/ .bpmn-icon-start-event-none:before {
  content: '\e845';
  color: green;
}

:host /deep/ .bpmn-icon-intermediate-event-none:before {
  content: '\e82d';
  color: yellow;
}

:host /deep/ .bpmn-icon-end-event-none:before {
  content: '\e838';
  color: red;
}

:host /deep/ .bpmn-icon-gateway-none:before {
  content: '\e834';
  color: violet;
}

:host /deep/ .bpmn-icon-task:before {
  content: '\e821';
  color: blue;
}

:host /deep/ .bpmn-icon-subprocess-expanded:before {
  content: '\e820';
  color: rgb(0, 225, 255);
}

:host /deep/ .bpmn-icon-data-store:before {
  content: '\e84e';
  color: orange;
}

:host /deep/ .bpmn-icon-participant:before {
  content: '\e85c';
  color: pink;
}

:host /deep/ .bpmn-icon-group:before {
  content: '\e869';
  color: rgb(202, 111, 51);
}

:host /deep/ .bpmn-icon-data-object:before {
  content: '\e84b';
  color: rgb(146, 191, 250);
}


:host /deep/ label {
  text-align: center;
  margin: 2px 2px
}

:host /deep/ select {
  width: 178px;
  height: 26px;
}

:host /deep/ textarea {
  width: 178px;
  height: 80px;
}

:host /deep/ .oneSpace {
  padding-top: 3px;
  padding-bottom: 0px;
}

:host /deep/ .spaceDiv {
  padding-top: 10px;
  padding-bottom: 8px;
}

:host /deep/ #seconds {
  width: 50px;
}

:host /deep/ #seconds_label {
  width: 60px;
  text-align: left
}

:host /deep/ #priority {
  align-content: right;
  width: 50px;
}

:host /deep/ #priority_label {
  text-align: left;
  width: 60px;
}

:host /deep/ .row1 {
  margin-left: 0px;
}

:host /deep/ .mat-input-element,
input {
  text-align: center;
  width: 100%;
  height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:host /deep/ .mat-tab-body-content {
  padding: 0 36px;
}

:host /deep/ .generalTabV {
  padding-top: 2px;
  padding-bottom: 0px;
}

.m-t--16 {
  margin-top: -16px !important;
}

:host /deep/.chosen-container.chosen-container-single {
  width: 300px !important;
  /* or any value that fits your needs */
}

:host /deep/ .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 1px;
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
}

.m-t-15 {
  margin-top: 15px;
}

.caret-font {
  font-size: 22px;
  margin-left: 1.3rem;
}

.more-vert-font {
  font-size: 19px;
  margin-left: -25px;
}

.add-font {
  margin-left: 0;
  font-size: 22px;
}

.exe_disable {
  background: lightgrey;
}

::ng-deep .mat-checkbox-inner-container {
  background: #FFF;
}

.bg-white {
  background: #FFF;
}

::ng-deep .mat-radio-outer-circle {
  background: #FFF;
}

.w-100-p {
  width: 100px !important;
}

.m-t-10 {
  margin-top: 10px;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

#Timeout_seconds_label {
  text-align: left;
  width: 138px;
}
:host /deep/ .treeview-container .form-check .form-check-label.child-color {
  margin-left: 1rem !important;
}
:host /deep/ .treeview-container {
  max-height: inherit !important;
  overflow-y: inherit !important;
}
:host /deep/ .generalTabV label {
  font-weight: 500;
}
.tabTitle {
  font-weight: bold !important;
}
:host /deep/ .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1.2em !important;
}
