<div class="dialog-wrapper" fxLayoutGap="8px" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="dialog-header content-wrapper" fxLayoutAlign="space-between center">
    <span>Executable Type: {{this.data.EXE_TYP}}</span>
    <button mat-icon-button (click)="onBtnCancelClick()"><mat-icon>close</mat-icon></button>
  </div>
  <mat-divider></mat-divider>
  <br/>
  <div class="dialog-body content-wrapper">
      <!-- <strong>
          <label style="text-align:center;width:100%;">Platform</label>
        </strong>
        <mat-form-field style="width:100%;">
          <textarea matInput [(ngModel)]="data.platform_des"></textarea>
        </mat-form-field>
        <br />
        <strong>
          <label style="text-align:center;width:100%;">Description</label>
        </strong>
        <mat-form-field style="width:100%;">
          <textarea matInput [(ngModel)]="data.platform_des">
    
                    </textarea>
        </mat-form-field> -->
        <!-- INPUT PARAMETERS -->
        <div fxLayout="row" fxLayout.lt-sm="column">
          <div fxFlex="48" class="mr-2">
            <label item-width="100"><strong>Executable Name</strong></label>
            <mat-form-field style="width:100%;">
              <input matInput [formControl]="myControl"  [(ngModel)]="F_EXE_CD" name="exe" (ngModelChange)="exeChange()" [matAutocomplete]="auto"/>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedExe($event)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.V_EXE_CD">
                  {{option.V_EXE_CD}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>  
          <div class="ml-md-2" fxFlex="48">  
            <label item-width="100"><strong>Executable Description</strong></label>
            <mat-form-field class="form_in" style="width:100%;">
              <input matInput  [(ngModel)]="F_EXE_DSC" name="exedsc" value="" />
            </mat-form-field>
          </div>  
        </div>  
        <br />
        <div fxLayout="row" fxLayout.lt-sm="column">
          <div class="mr-2" fxFlex="48">
            <label item-width="100"><strong>Input Parameters</strong></label>
            <mat-form-field class="form_in" style="width:100%;">
              <input matInput  [(ngModel)]="F_EXE_SIGN" name="Parameters" value="" />
            </mat-form-field>
          </div>
          <!-- OUTPUT PARAMETERS -->
          <div class="ml-md-2" fxFlex="48">  
            <label item-width="100"><strong>Output Parameters</strong></label>
            <mat-form-field class="form_in" style="width:100%;">
              <input matInput  [(ngModel)]="F_EXE_OUT_PARAM" name="outparam" />
            </mat-form-field>
          </div>  
        </div>
        <br/>
        <div fxLayout="row" fxLayout.lt-sm="column">
          <div fxFlex="48" class="mr-2">
            <!-- VERSION -->
            <label item-width="100"><strong>Version</strong></label>
            <mat-form-field class="form_in" style="width:100%;">
              <input matInput [(ngModel)]="F_EXE_VRSN" name="version" />
            </mat-form-field>
          </div>
          <div fxFlex="50" class="ml-md-2">
            <!-- ICN_TYP -->
            <label item-width="100"><strong>BPNM Icon Type</strong></label>
            <mat-form-field class="form_in">
              <mat-select [(ngModel)]="ICN_TYP">
                <mat-option style="text-align:center;" [value]="cn.ICN_TYP"  *ngFor="let cn of V_ICN_TYP">
                  {{cn.ICN_TYP}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>    
        <br>
        <!-- SYNCH ASYNCH -->
        <mat-radio-group class="ml-md-2" flex fxLayout="row" [(ngModel)]="F_SYNC_FLG" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayout.gt-sm="row">
          <mat-radio-button  value="Y">Synch</mat-radio-button>
          <mat-radio-button  value="N">Asynch </mat-radio-button>
        </mat-radio-group>
        <!-- INPUT OUTPUT ARTIFACT -->
        <br>
        <div class="ml-md-2" flex fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayout.gt-sm="row">
          <mat-checkbox [checked]="ipart" class="mr-2">Input Artifact</mat-checkbox>
          <mat-checkbox [checked]="opart">Output Artifact</mat-checkbox>
        </div>
      <br/>
      <div fxLayout="row" fxLayout.lt-sm="column">
        <div class="mr-2" fxFlex="45">
          <!-- START DELIMITER -->
          <label item-width="100"><strong>Start Delimiter</strong></label>
          <mat-form-field class="form_in">
            <input matInput [(ngModel)]="F_EXE_S_DLMTR" name="startdelimiter" />
          </mat-form-field>
        </div>
        <div fxFlex="2"></div>
        <div class="ml-md-2" fxFlex="45">
          <!-- END DELIMITER -->
          <label item-width="100"><strong>End Delimiter</strong></label>
          <mat-form-field class="form_in">
            <input matInput [(ngModel)]="F_EXE_E_DLMTR" name="enddelimiter" />
          </mat-form-field>
        </div>  
      </div>    
      <br/>
      <!-- <div fxLayout="row" fxLayout.lt-sm="column">
       
        <div class="ml-3 pt-3" fxFlex="50">
          <label item-width="100"><strong>Platform</strong></label>
          <mat-form-field class="form_in">
            <mat-select [(ngModel)]="PLF_CD">
              <mat-option style="text-align:center;" [value]="pf" (click)="platformDescription()" *ngFor="let pf of PLF_TYPE['SERVER_CD']">
                {{pf}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
       
        <div class="mr-3" fxFlex="48">
          <label item-width="100"><strong>Platform Description</strong></label>
          <mat-form-field class="form_in" style="width:100%;">
            <textarea matInput  [(ngModel)]="PLF_DSC" name="PLF_DSC"></textarea>
          </mat-form-field>
        </div>
      </div>     -->
        
  </div>
  <div class="dialog-footer content-wrapper" fxLayoutAlign="end center" fxLayoutGap="8px">
    <button mat-flat-button color="primary" [disabled]="F_EXE_CD == '' || isExeExist" (click)="onBtnAddClick()">Add</button>
  </div>
</div>
