<div class="tiles-wrapper" fxLayout="row wrap" cdkDropList [cdkDropListDisabled]="!membershipPermission"
  [cdkDropListData]="users" (cdkDropListDropped)="userDropped($event)" cdkDropListOrientation="horizontal">
  <div class="tile" matRipple cdkDrag [cdkDragData]="currUser" [matTooltip]="currUser.V_USR_NM"
    *ngFor="let currUser of users" [class.active]="currUser == selectedUser"
    [class.highlight]="highlightedUsers.isSelected(currUser)" (contextmenu)="openContextmenu($event, currUser)"
    (mousedown)="onTileMouseDownEventHandler($event)" (click)="onUserTileClick(currUser)">
    <mat-icon class="tile-icon">person</mat-icon>
    <!--    <div *ngIf="!environment.production">{{currUser.V_USR_ID}}</div>-->
    <div class="ellipsis-text"><strong>{{currUser.V_USR_NM?.split('@')[0]}}</strong></div>
  </div>
  <div class="tile add-new-tile" cdkDrag [cdkDragDisabled]="true" *ngIf="userPermission || membershipPermission"
    (click)="onAddUserTileClick()" matTooltip="Add User" matRipple>
    <mat-icon>add_circle</mat-icon>
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="start stretch" class="mat-menu-content context-menu" #contextMenu
  *ngIf="contextMenuActive && (userPermission || membershipPermission)" [ngStyle]="contextMenuStyle">
  <button mat-menu-item class="menu-item" *ngIf="userPermission" (click)="onContextMenuEditUserBtnClick()"><span class="entry bpmn-icon-screw-wrench fa-lg mr-4" draggable="true">
  </span><span>Edit</span></button>
  <button mat-menu-item class="many-item" *ngIf="userPermission || membershipPermission"
    (click)="onContextMenuDeleteUserBtnClick(false)"><span><i class="fa fa-times fa-lg ml-1 mr-4"></i></span> <span>Remove from the Group</span></button>
  <button mat-menu-item class="many-item" *ngIf="userPermission || membershipPermission"
    (click)="onContextMenuDeleteUserBtnClick(true)"><mat-icon>remove_circle_outline</mat-icon> <span>Remove from all Groups</span></button>
</div>
