<div class="dialog-wrapper add-auth" fxLayoutGap="8px" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="dialog-header content-wrapper" fxLayoutAlign="space-between center">
    <span>{{isEditMode ? 'Edit ' : 'Add '}}Authorization</span>
    <button mat-icon-button (click)="onBtnCancelClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="content-wrapper">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center start" *ngIf="oldRadioSelected == ''">
      <div fxFlex="100">
        <span>Role Types : </span>
        <button [disabled]="isEditMode" mat-button [matMenuTriggerFor]="groupTypeMenu">{{radioSelected}}
          <mat-icon matSuffix>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #groupTypeMenu="matMenu">
          <button mat-menu-item *ngFor="let item of radioList" (click)="onItemSelect(item)">{{item}}</button>
        </mat-menu>
      </div>
    </div>
    <mat-divider *ngIf="oldRadioSelected == ''"></mat-divider>
    <mat-tab-group (selectedIndexChange)="OnTabChange($event)" *ngIf="!isEditMode">
      <mat-tab label="Select Existing">
        <div *ngIf="selectedView == 'selectAuth'" fxLayout="row" fxLayoutAlign="center start">
          <div fxFlex="100" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="start stretch">
            <div fxFlex="100" fxLayout="column" fxLayoutAlign="start stretch">
              <div style="margin-top:9px;">
                <strong>
                  <span *ngIf="radioSelected === 'PROCESS' ||radioSelected === 'SERVICE'">
                    Application
                  </span>
                  <span *ngIf="radioSelected === 'EXE'">
                    Executable Type
                  </span>
                  <span *ngIf="radioSelected === 'ARTIFACT' ">
                    Artifact Type
                  </span>
                  <span *ngIf="radioSelected === 'SERVER'">
                    Server
                  </span>
                  <span *ngIf="radioSelected === 'PLATFORM'">
                    Platform
                  </span>
                  <span *ngIf="radioSelected === 'SLA'">
                    SLA
                  </span>
                </strong>
              </div>
              <div>
                <!-- PROCESS AND SERVICE -->
                <mat-form-field class="form-width" *ngIf="radioSelected == 'PROCESS' || radioSelected == 'SERVICE'">
                  <input matInput name="app" [disabled]="isEditMode" [matAutocomplete]="auto" cdkFocusInitial>
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option style="text-align:center;" (click)="onExistingAppSelect(app)"
                      *ngFor="let app of filteredApplicationValues" [value]="app.V_APP_CD">
                      {{app.V_APP_CD}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <!-- EXE -->
                <mat-form-field class="form-width" *ngIf="radioSelected === 'EXE'">
                  <input matInput name="app" [disabled]="isEditMode" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option style="text-align:center;" (click)="onExistingAppSelect(process)"
                      *ngFor="let process of filteredApplicationValues" [value]="process.V_EXE_TYP">
                      {{process.V_EXE_TYP}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <!-- ARTIFACT -->
                <mat-form-field class="form-width" *ngIf="radioSelected === 'ARTIFACT'">
                  <input matInput name="app" [disabled]="isEditMode" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option style="text-align:center;" (click)="onExistingAppSelect(process)"
                      *ngFor="let process of filteredApplicationValues" [value]="process.V_ARTFCT_TYP">
                      {{process.V_ARTFCT_TYP}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <!-- SERVER -->
                <mat-form-field class="form-width" *ngIf="radioSelected === 'SERVER'">
                  <input matInput name="app" [disabled]="isEditMode" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option style="text-align:center;" (click)="onAuthSelect(process)"
                      *ngFor="let process of filteredApplicationValues" [value]="process.V_AUTH_CD">
                      {{process.V_AUTH_CD}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <!-- PLATFORM -->
                <mat-form-field class="form-width" *ngIf="radioSelected === 'PLATFORM'">
                  <input matInput name="app" [disabled]="isEditMode" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option style="text-align:center;" (click)="onAuthSelect(process)"
                      *ngFor="let process of filteredApplicationValues" [value]="process.V_AUTH_CD">
                      {{process.V_AUTH_CD}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <!-- SLA -->
                <mat-form-field class="form-width" *ngIf="radioSelected === 'SLA'">
                  <input matInput name="app" [disabled]="isEditMode" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option style="text-align:center;" (click)="onAuthSelect(process)"
                      *ngFor="let process of filteredApplicationValues" [value]="process.V_AUTH_CD">
                      {{process.V_AUTH_CD}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="100"
              *ngIf="radioSelected === 'PROCESS' ||radioSelected === 'SERVICE' || radioSelected === 'EXE' || radioSelected === 'ARTIFACT'"
              fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="start stretch">
              <div>
                <strong>
                  <span *ngIf="radioSelected === 'EXE'">
                    Executable Name
                  </span>
                  <span *ngIf="radioSelected === 'PROCESS' ||radioSelected === 'SERVICE'">
                    Process
                  </span>
                  <span *ngIf="radioSelected === 'ARTIFACT' ">
                    Artifact
                  </span>
                </strong>
              </div>
              <div>
                <!-- PROCESS -->
                <mat-form-field class="form-width" *ngIf="radioSelected == 'PROCESS'">
                  <input matInput name="app" [disabled]="isEditMode" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option style="text-align:center;" (click)="onAuthSelect(process)"
                      *ngFor="let process of filteredProcessValues" [value]="process.V_AUTH_CD">
                      {{process.V_AUTH_CD}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <!-- SERVICE -->
                <mat-form-field class="form-width" *ngIf="radioSelected == 'SERVICE'">
                  <input matInput name="app" [disabled]="isEditMode" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option style="text-align:center;" (click)="onExistingProcessSelect(process)"
                      *ngFor="let process of filteredProcessValues" [value]="process.V_PRCS_CD">
                      {{process.V_PRCS_CD}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <!-- ARTIFACT -->
                <mat-form-field class="form-width" *ngIf="radioSelected === 'ARTIFACT'">
                  <input matInput name="app" [disabled]="isEditMode" [matAutocomplete]="auto" cdkFocusInitial>
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option style="text-align:center;" (click)="onAuthSelect(app)"
                      *ngFor="let app of filteredProcessValues" [value]="app.V_AUTH_CD">
                      {{app.V_AUTH_CD}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <!-- EXE -->
                <mat-form-field class="form-width" *ngIf="radioSelected === 'EXE'">
                  <input matInput name="app" [disabled]="isEditMode" [matAutocomplete]="auto" cdkFocusInitial>
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option style="text-align:center;" (click)="onAuthSelect(app)"
                      *ngFor="let app of filteredProcessValues" [value]="app.V_AUTH_CD">
                      {{app.V_AUTH_CD}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="100" *ngIf="radioSelected === 'SERVICE'" fxLayout="column" fxLayoutGap="8px"
              fxLayoutAlign="start stretch">
              <div><strong>Service</strong></div>
              <div>
                <mat-form-field class="form-width">
                  <input matInput name="app" [disabled]="isEditMode" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option style="text-align:center;" (click)="onAuthSelect(service)"
                      *ngFor="let service of filteredServiceValues" [value]="service.V_AUTH_CD">
                      {{service.V_AUTH_CD}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <!-- <app-auth-list *ngIf="selectedView == 'selectAuth'" [auths]="filteredAuthValues"
          (authSelectEvent)="onAuthSelect($event)"></app-auth-list> -->
      </mat-tab>
      <mat-tab label="Add New">
        <div *ngIf="selectedView == 'addNewAuth'" fxLayout="row" fxLayoutAlign="center start">
          <div fxFlex="100" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="start stretch">
            <div fxFlex="100" fxLayout="column" fxLayoutAlign="start stretch">
              <div style="margin-top:9px;">
                <strong>
                  <span *ngIf="radioSelected === 'PROCESS' ||radioSelected === 'SERVICE'">
                    Application
                  </span>
                  <span *ngIf="radioSelected === 'EXE'">
                    Executable Type
                  </span>
                  <span *ngIf="radioSelected === 'ARTIFACT' ">
                    Artifact Type
                  </span>
                  <span *ngIf="radioSelected === 'SERVER'">
                    Server
                  </span>
                  <span *ngIf="radioSelected === 'PLATFORM'">
                    Platform
                  </span>
                  <span *ngIf="radioSelected === 'SLA'">
                    SLA
                  </span>
                </strong>
              </div>
              <div>
                <mat-form-field class="form-width" *ngIf="radioSelected !== 'ARTIFACT'">
                  <input matInput name="app" [disabled]="isEditMode"
                    [value]="authValueObj?.V_APP_CD ? authValueObj?.V_APP_CD : ''"
                    (change)="onAppSelect($event.target.value)" [matAutocomplete]="auto" cdkFocusInitial>
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option style="text-align:center;" (click)="onAppSelect(app)"
                      *ngFor="let app of applicationValues" [value]="app">
                      {{app}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="form-width" *ngIf="radioSelected === 'ARTIFACT'">
                  <input matInput name="app" [disabled]="isEditMode"
                    [value]="authValueObj?.V_PRCS_CD ? authValueObj?.V_PRCS_CD : ''"
                    (change)="onProcessSelect($event.target.value)" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option style="text-align:center;" (click)="onProcessSelect(process)"
                      *ngFor="let process of processValues" [value]="process">
                      {{process}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="100"
              *ngIf="radioSelected === 'PROCESS' ||radioSelected === 'SERVICE' || radioSelected === 'EXE' || radioSelected === 'ARTIFACT'"
              fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="start stretch">
              <div>
                <strong>
                  <span *ngIf="radioSelected === 'EXE'">
                    Executable Name
                  </span>
                  <span *ngIf="radioSelected === 'PROCESS' ||radioSelected === 'SERVICE'">
                    Process
                  </span>
                  <span *ngIf="radioSelected === 'ARTIFACT' ">
                    Artifact
                  </span>
                </strong>
              </div>
              <div>
                <mat-form-field class="form-width" *ngIf="radioSelected !== 'ARTIFACT'">
                  <input matInput name="app" [disabled]="isEditMode"
                    [value]="authValueObj?.V_PRCS_CD ? authValueObj?.V_PRCS_CD : ''"
                    (change)="onProcessSelect($event.target.value)" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option style="text-align:center;" (click)="onProcessSelect(process)"
                      *ngFor="let process of processValues" [value]="process">
                      {{process}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="form-width" *ngIf="radioSelected === 'ARTIFACT'">
                  <input matInput name="app" [disabled]="isEditMode"
                    [value]="authValueObj?.V_APP_CD ? authValueObj?.V_APP_CD : ''"
                    (change)="onAppSelect($event.target.value)" [matAutocomplete]="auto" cdkFocusInitial>
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option style="text-align:center;" (click)="onAppSelect(app)"
                      *ngFor="let app of applicationValues" [value]="app">
                      {{app}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="100" *ngIf="radioSelected === 'SERVICE'" fxLayout="column" fxLayoutGap="8px"
              fxLayoutAlign="start stretch">
              <div><strong>Service</strong></div>
              <div>
                <mat-form-field class="form-width">
                  <input matInput name="app" [disabled]="isEditMode"
                    [value]="authValueObj.V_AUTH_CD ? authValueObj.V_AUTH_CD : ''"
                    (change)="onServiceSelect($event.target.value)" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option style="text-align:center;" (click)="onServiceSelect(service)"
                      *ngFor="let service of serviceValues" [value]="service">
                      {{service}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <!--<div fxFlex="100" fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="start center">-->
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
              <div fxFlex="25"><strong>Create</strong></div>
              <mat-checkbox class="example-margin" (change)="onPermissionChange(authValueObj,'V_CREATE')"
                [checked]="authValueObj.V_CREATE === 'Y'"></mat-checkbox>
            </div>
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
              <div fxFlex="25"><strong>Update</strong></div>
              <mat-checkbox class="example-margin" (change)="onPermissionChange(authValueObj,'V_UPDATE')"
                [checked]="authValueObj.V_UPDATE === 'Y'"></mat-checkbox>
            </div>
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
              <div fxFlex="25"><strong>Read</strong></div>
              <mat-checkbox disabled class="example-margin" (change)="onPermissionChange(authValueObj,'V_READ')"
                [checked]="authValueObj.V_READ === 'Y'"></mat-checkbox>
            </div>
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
              <div fxFlex="25"><strong>Delete</strong></div>
              <mat-checkbox class="example-margin" (change)="onPermissionChange(authValueObj,'V_DELETE')"
                [checked]="authValueObj.V_DELETE === 'Y'"></mat-checkbox>
            </div>
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
              <div fxFlex="25"><strong>Execute</strong></div>
              <mat-checkbox class="example-margin" (change)="onPermissionChange(authValueObj,'V_EXECUTE')"
                [checked]="authValueObj.V_EXECUTE === 'Y'"></mat-checkbox>
            </div>
            <!-- </div>-->
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <!-- <mat-radio-group [(ngModel)]="selectedView" fxLayout="row" fxLayoutAlign="space-around center">
      <mat-radio-button value="selectAuth">Select Auth</mat-radio-button>
      <mat-radio-button value="addNewAuth">Add New Auth</mat-radio-button>
    </mat-radio-group> -->
  </div>
  <div class="dialog-body content-wrapper app-form-wrapper" *ngIf="isEditMode">
    <!-- <div *ngIf="radioSelected == ''" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center start">
      <div fxFlex="100">
        <mat-radio-group #matRadioBtn="matRadioGroup" (change)="onItemSelect($event)" [(ngModel)]="radioSelected"
          fxLayout="row" fxLayoutAlign="space-between center">
          <mat-radio-button [disabled]="isEditMode" *ngFor="let item of radioList" [value]="item">
            {{item}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div> -->
    <div fxLayout="column" fxLayoutGap="8px">
      <!-- <app-auth-list *ngIf="selectedView == 'selectAuth'" [auths]="filteredAuthValues" (authSelectEvent)="onAuthSelect($event)"></app-auth-list> -->
      <!-- <div *ngIf="selectedView == 'addNewAuth'" fxLayout="row" fxLayoutAlign="center start">
        <div fxFlex="100" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="start stretch">
          <div fxFlex="100" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="start stretch">
            <div>
              <strong>
                <span *ngIf="matRadioBtn.value === 'PROCESS' ||matRadioBtn.value === 'SERVICE'">
                  Application
                </span>
                <span *ngIf="matRadioBtn.value === 'EXE'">
                  Executable Type
                </span>
                <span *ngIf="matRadioBtn.value === 'ARTIFACT' ">
                  Artifact Type
                </span>
                <span *ngIf="matRadioBtn.value === 'SERVER'">
                  Server
                </span>
                <span *ngIf="matRadioBtn.value === 'PLATFORM'">
                  Platform
                </span>
                <span *ngIf="matRadioBtn.value === 'SLA'">
                  SLA
                </span>
              </strong>
            </div>
            <div>
              <mat-form-field *ngIf="matRadioBtn.value !== 'ARTIFACT'">
                <input matInput name="app" [disabled]="isEditMode"
                  [value]="authValueObj?.V_APP_CD ? authValueObj?.V_APP_CD : ''"
                  (change)="onAppSelect($event.target.value)" [matAutocomplete]="auto" cdkFocusInitial>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option style="text-align:center;" (click)="onAppSelect(app)"
                    *ngFor="let app of applicationValues" [value]="app">
                    {{app}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field *ngIf="matRadioBtn.value === 'ARTIFACT'">
                <input matInput name="app" [disabled]="isEditMode"
                  [value]="authValueObj?.V_PRCS_CD ? authValueObj?.V_PRCS_CD : ''"
                  (change)="onProcessSelect($event.target.value)" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option style="text-align:center;" (click)="onProcessSelect(process)"
                    *ngFor="let process of processValues" [value]="process">
                    {{process}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100"
            *ngIf="matRadioBtn.value === 'PROCESS' ||matRadioBtn.value === 'SERVICE' || matRadioBtn.value === 'EXE' || matRadioBtn.value === 'ARTIFACT'"
            fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="start stretch">
            <div>
              <strong>
                <span *ngIf="matRadioBtn.value === 'EXE'">
                  Executable Name
                </span>
                <span *ngIf="matRadioBtn.value === 'PROCESS' ||matRadioBtn.value === 'SERVICE'">
                  Process
                </span>
                <span *ngIf="matRadioBtn.value === 'ARTIFACT' ">
                  Artifact
                </span>
              </strong>
            </div>
            <div>
              <mat-form-field *ngIf="matRadioBtn.value !== 'ARTIFACT'">
                <input matInput name="app" [disabled]="isEditMode"
                  [value]="authValueObj?.V_PRCS_CD ? authValueObj?.V_PRCS_CD : ''"
                  (change)="onProcessSelect($event.target.value)" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option style="text-align:center;" (click)="onProcessSelect(process)"
                    *ngFor="let process of processValues" [value]="process">
                    {{process}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field *ngIf="matRadioBtn.value === 'ARTIFACT'">
                <input matInput name="app" [disabled]="isEditMode"
                  [value]="authValueObj?.V_APP_CD ? authValueObj?.V_APP_CD : ''"
                  (change)="onAppSelect($event.target.value)" [matAutocomplete]="auto" cdkFocusInitial>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option style="text-align:center;" (click)="onAppSelect(app)"
                    *ngFor="let app of applicationValues" [value]="app">
                    {{app}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" *ngIf="matRadioBtn.value === 'SERVICE'" fxLayout="column" fxLayoutGap="8px"
            fxLayoutAlign="start stretch">
            <div><strong>Service</strong></div>
            <div>
              <mat-form-field>
                <input matInput name="app" [disabled]="isEditMode"
                  [value]="authValueObj.V_AUTH_CD ? authValueObj.V_AUTH_CD : ''"
                  (change)="onServiceSelect($event.target.value)" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option style="text-align:center;" (click)="onServiceSelect(service)"
                    *ngFor="let service of serviceValues" [value]="service">
                    {{service}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
              <div><strong>Create</strong></div>
              <mat-checkbox class="example-margin" (change)="onPermissionChange(authValueObj,'V_CREATE')"
                [checked]="authValueObj.V_CREATE === 'Y'"></mat-checkbox>
            </div>
            <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
              <div><strong>Update</strong></div>
              <mat-checkbox class="example-margin" (change)="onPermissionChange(authValueObj,'V_UPDATE')"
                [checked]="authValueObj.V_UPDATE === 'Y'"></mat-checkbox>
            </div>
            <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
              <div><strong>Read</strong></div>
              <mat-checkbox class="example-margin" (change)="onPermissionChange(authValueObj,'V_READ')"
                [checked]="authValueObj.V_READ === 'Y'"></mat-checkbox>
            </div>
            <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
              <div><strong>Delete</strong></div>
              <mat-checkbox class="example-margin" (change)="onPermissionChange(authValueObj,'V_DELETE')"
                [checked]="authValueObj.V_DELETE === 'Y'"></mat-checkbox>
            </div>
            <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
              <div><strong>Execute</strong></div>
              <mat-checkbox class="example-margin" (change)="onPermissionChange(authValueObj,'V_EXECUTE')"
                [checked]="authValueObj.V_EXECUTE === 'Y'"></mat-checkbox>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="dialog-footer content-wrapper" fxLayoutAlign="end center" fxLayoutGap="8px">
    <button mat-flat-button color="primary" [disabled]="!selectedAuth"
      *ngIf="!isEditMode && selectedView == 'selectAuth'" (click)="onAddSubmit()">Add</button>
    <button mat-flat-button color="primary" *ngIf="!isEditMode && selectedView == 'addNewAuth'"
      (click)="onAddSubmit()">Add</button>
    <button mat-flat-button color="primary" *ngIf="isEditMode" (click)="onUpdateBtnSubmit()">Update</button>
  </div>
</div>
