<!-- <div class="container-fluid">
  <div class="row">
    <div class="col">
      <strong>Role</strong>
      <mat-list  class="scroll">
      <mat-list-item class="list_item" (click)="onqselect(i);getroledecs(g.name, i)"  *ngFor="let g of rol;let i = index;" [class.active]="g.selected == true"  >
      {{g}}
      <div>{{g.name}}</div>
      </mat-list-item>
      </mat-list>
      <br />
<strong>{{Label['Grp_dscr']}}</strong>
<strong>Role Description</strong>
<mat-form-field style="width:100%;">
      <textarea matInput [(ngModel)]="roledesc" >

      </textarea>
</mat-form-field>
    </div>

    <div class="col">
      <strong>Authorization</strong>
      <mat-list  class="scroll">
      <mat-list-item class="list_item" (click)="showauth(authorize, i);onpselect(i)"  *ngFor="let authorize of authoriztion;let i = index;"  [class.active]="authorize.selected == true">
        {{g}}
      <div>{{authorize.auth_cd}}</div>
      </mat-list-item>
      </mat-list>
     
      <br />
      <strong>{{Label['Grp_dscr']}}</strong>
      <strong>Authorization Description</strong>
      <mat-form-field style="width:100%;">
            <textarea matInput [(ngModel)]="authdesc" >
      
            </textarea>
      </mat-form-field>
    </div>
  </div>

</div> -->
<div fxLayout="row" fxLayout.lt-sm="column">                
  <div fxFlex="10" ></div>
  <div fxFlex="30" style="text-align: center;">
    <strong>{{Label['role']}}</strong>
    <mat-list class="scroll">
      <mat-list-item  class="sd list_item"  *ngFor="let r of roles$ | async; let i = index;"  [class.active]="i == selectedrole || r.is_selected_auth == true">
        <div fxLayout="row">
          <div fxFlex="90" (click)="selectedRole(r,i);">{{r.V_ROLE_CD}}</div>
          <div fxFlex="10"><mat-checkbox [disabled]="selectCurrentRole != undefined" [(ngModel)]="r.is_selected" (change)="checkboxRoleSelect($event, r)"></mat-checkbox></div>
        </div>    
      </mat-list-item>
    </mat-list>
    <!---
    <mat-form-field *ngIf="mobileView" style="width:100%;text-align: center;" [floatLabel]="'never'">
      <mat-select style="margin-top:10px;" placeholder="--Select--">
        <mat-option style="text-align:center;" (click)="selectedUser(r,i);" *ngFor="let r of roles$; let i = index;"  [class.active]="i == selecteduser">{{r.V_ROLE_CD}}</mat-option>
      </mat-select>
    </mat-form-field>
    --><br />
    <strong>{{Label['role_descripton']}}</strong>
    <mat-form-field style="width:100%;">
          <textarea matInput [(ngModel)]="USR_ROLE_DSR" >

          </textarea>
    </mat-form-field>
  </div>

  <div fxFlex="3" ></div>
  <div fxFlex="30" style="text-align: center;">
    <strong>{{Label['Auth']}}</strong>
    <mat-list  class="scroll">
      <mat-list-item  class="sd list_item"  *ngFor="let a of authData$ | async; let j = index;"  [class.active]="j == selectedauth || a.is_selected_role == true">
          <div fxLayout="row">
            <div fxFlex="90" (click)="selectedAuth(a,j);">{{a.V_AUTH_CD}}</div>
            <div fxFlex="10"><mat-checkbox [disabled]="selectCurrentAuth != undefined" [(ngModel)]="a.is_selected" (change)="checkboxAuthSelect($event, a)"></mat-checkbox></div>
          </div> 
      </mat-list-item>
    </mat-list>
    <br />
    <strong>{{Label['Auth_dec']}}</strong>
    <mat-form-field style="width:100%;">
          <textarea  matInput [(ngModel)]="USR_AUTH_DSCR" >

          </textarea>
    </mat-form-field>

  </div>
  <div  fxFlex="3"></div>
  <div  fxFlex="30">
  <br /> <br /> <br />
    <!-- <button mat-raised-button (click)="AddGroupTL()" color="primary"><mat-icon>play_arrow</mat-icon> {{Label['execute_btn']}}</button> -->
    <button mat-raised-button color="primary" [disabled]="enableSubmitButton()" (click)="submitAssignRole()"><mat-icon>move_to_inbox</mat-icon>{{Label['submit_btn']}}</button>
  </div>
</div>
















