<div class="tiles-wrapper" fxLayout="row wrap"
    cdkDropList
    [cdkDropListData]="connectionList.V_CXN"
    (cdkDropListDropped)="connectionDropped($event)"
    cdkDropListOrientation="horizontal">
  <div class="tile"
      matRipple
      cdkDrag
      [cdkDragData]="currConn"
      [matTooltip]="currConn.V_CXN_CD"
      [class.active]="currConn == selectedConn"
      [class.highlight]="isHighLightTile(currConn)"
      *ngFor="let currConn of connectionList.V_CXN; let i = index"
      (contextmenu)="openContextmenu($event, currConn, connectionList.V_PLATFORM_CD, i)"
      (mousedown)="onTileMouseDownEventHandler($event)"
      (click)="onConnectionTileClick(currConn)">
    <!-- <mat-icon class="tile-icon">person</mat-icon> -->
    <mat-icon class="iconmod shwmaticon">insert_link</mat-icon>
   <!-- <div>{{currConn.EXE_CD}}</div> -->
    <div class="ellipsis-text"><span>{{currConn.V_CXN_CD}}</span></div>
  </div>
  <div class="tile add-new-tile" (click)="onAddConnTileClick()" *ngIf="userAccess.role_connection"
       matTooltip="Add Connection" matRipple>
    <mat-icon>add_circle</mat-icon>
  </div>
</div>
<ng-container *ngIf="userAccess.role_connection">
<div fxLayout="column" fxLayoutAlign="start stretch" class="mat-menu-content context-menu" #contextMenu *ngIf="contextMenuActive"
      [ngStyle]="contextMenuStyle">
    <button mat-menu-item class="menu-item" (click)="onContextMenuEditConnBtnClick()"><span class="entry bpmn-icon-screw-wrench fa-lg mr-4" draggable="true">
    </span> <span>Edit</span></button>
    <button mat-menu-item class="many-item" (click)="onContextMenuDeleteConnBtnClick()"><span class="entry bpmn-icon-trash fa-lg mr-4" draggable="true">
    </span> <span>Delete</span></button>
    <button mat-menu-item class="many-item" (click)="onContextMenuRemoveConnBtnClick()"><span><i class="fa fa-times fa-lg mr-4 ml-1"></i></span> <span>Remove from machine</span></button>
    <button mat-menu-item class="many-item" (click)="onContextMenuRemoveFromAllConnBtnClick()"><mat-icon>remove_circle_outline</mat-icon> <span>Remove from all machines</span></button>
    <button mat-menu-item class="many-item" (click)="onContextMenuAssigneConnBtnClick()"><mat-icon>link</mat-icon> <span>Assign</span></button>
  </div> 
</ng-container>  