<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
  <div fxFlex="15">
    <label class="text-center mb-0"> Executed By</label>
    <mat-form-field class="mt-1 form_input">
      <input matInput [ngModel]="selectedUserName" disabled>
    </mat-form-field>
  </div>
  <div fxFlex="5"></div>
  <div fxFlex="15">
    <label class="text-center mb-0">Executed At</label>
    <mat-form-field class="mt-1 form_input">
      <mat-select class="bg-white" [(ngModel)]="selectedInstance" (selectionChange)="onInstanceChange($event)">
        <mat-option *ngFor="let dateTime of PRCS_TXN_ID;let i = index" [value]="dateTime">
          {{StartDateTime[i]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxFlex="5"></div>
  <div fxFlex="15">
    <label class="mb-1 text-center">From</label>
    <mat-form-field class="form_input">
      <input matInput class="bg-white" [max]="toDate" [(ngModel)]="fromDate" [owlDateTimeTrigger]="FromDate"
        [owlDateTime]="FromDate" (dateTimeInput)="onDateChange()">
      <owl-date-time #FromDate></owl-date-time>
    </mat-form-field>
  </div>
  <div fxFlex="5"></div>
  <div fxFlex="15">
    <label class="mb-1 text-center">To</label>
    <mat-form-field class="form_input">
      <input matInput class="bg-white" [min]="fromDate" [(ngModel)]="toDate" [owlDateTimeTrigger]="EndDate"
        [owlDateTime]="EndDate" (dateTimeInput)="onDateChange()">
      <owl-date-time #EndDate></owl-date-time>
    </mat-form-field>
  </div>
</div>

<app-viewer-diagram [parentapp]="parentapp" [parentpro]="parentpro" [file_path]="file_path">
</app-viewer-diagram>
<!-- <div *ngIf="elementClick">
  <div class="row">
    <table>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
