.highlight:not(.djs-connection) .djs-visual> :nth-child(1) {
  fill: yellow !important;
  /* color elements as green */
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.text-center {
  text-align: center;
}

.label-bottom {
  margin: -9px;
}
