.highlight:not(.djs-connection) .djs-visual> :nth-child(1) {
  fill: yellow !important;
  /* color elements as green */
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.text-center {
  text-align: center;
}

.label-bottom {
  margin: -9px;
}
.parent-font {
  font-size: 14px;
  font-weight: bold;
}

.selected-process-font {
  font-weight: normal;
}
.tree-bg-color {
  background-color: #ededed;
}