<div class="tiles-wrapper" fxLayout="row wrap" cdkDropList [cdkDropListDisabled]="!authorizationPermission"
  [cdkDropListData]="auths" (cdkDropListDropped)="authDropped($event)" cdkDropListOrientation="horizontal">
  <!-- [matTooltip]="currAuth.V_AUTH_CD.split(';')[0]" -->
  <div class="tile" matRipple cdkDrag cdkDropListSortingDisabled [cdkDragData]="currAuth"
    *ngFor="let currAuth of auths | authType: selectedAuthType?.key" [class.active]="currAuth == selectedAuth"
    [class.highlight]="highlightedAuths.isSelected(currAuth)" (contextmenu)="openContextmenu($event, currAuth)"
    (mousedown)="onTileMouseDownEventHandler($event)" (click)="onAuthTileClick(currAuth)">
    <div class="tile-icons-wrapper" fxLayout="row wrap" fxLayoutAlign="space-around">
      <!-- *ngIf="currAuth.V_CREATE==='Y'" -->
      <mat-icon [ngClass]="{'disable-icon': currAuth.V_CREATE==='N' , 'tile-icon' :currAuth.V_CREATE==='Y'}"
        (dblclick)="method2CallForDblClick('add',currAuth)"
        [matTooltip]="currAuth.V_CREATE==='N'? 'Enable Create':'Disable Create'">
        add
      </mat-icon>
      <!-- *ngIf="currAuth.V_UPDATE==='Y'" -->
      <mat-icon [ngClass]="{ 'disable-icon': currAuth.V_UPDATE==='N' , 'tile-icon' : currAuth.V_UPDATE==='Y'}"
        (dblclick)="method2CallForDblClick('update',currAuth)"
        [matTooltip]="currAuth.V_UPDATE==='N'? 'Enable Update':'Disable Update'">
        create
      </mat-icon>
      <!-- *ngIf="currAuth.V_READ==='Y'" -->
      <mat-icon [ngClass]="{'disable-icon':  currAuth.V_READ==='N', 'tile-icon' : currAuth.V_READ==='Y'}"
        [matTooltip]="currAuth.V_READ==='N'? 'Enable Read':'Disable Read'">
        remove_red_eye
      </mat-icon>
      <!-- *ngIf="currAuth.V_DELETE==='Y'" -->
      <mat-icon [ngClass]="{'disable-icon':  currAuth.V_DELETE==='N', 'tile-icon' :currAuth.V_DELETE==='Y'}"
        (dblclick)="method2CallForDblClick('delete',currAuth)"
        [matTooltip]="currAuth.V_DELETE==='N'? 'Enable Delete':'Disable Delete'">
        delete
      </mat-icon>
      <!-- *ngIf="currAuth.V_EXECUTE==='Y'" -->
      <mat-icon [ngClass]="{'disable-icon':  currAuth.V_EXECUTE==='N' , 'tile-icon' :currAuth.V_EXECUTE==='Y'}"
        (dblclick)="method2CallForDblClick('execute',currAuth)"
        [matTooltip]="currAuth.V_EXECUTE==='N'? 'Enable Execute':'Disable Execute'">
        launch
      </mat-icon>
    </div>
    <!--    <div *ngIf="!environment.production">{{currAuth.V_AUTH_ID}}</div>-->
    <div class="tile-text">
      <span>
        {{ currAuth.V_AUTH_CD.split(';')[0] }}
      </span>
    </div>
  </div>
  <div class="tile add-new-tile" cdkDrag [cdkDragDisabled]="true" *ngIf="authPermission || authorizationPermission"
    (click)="onAddAuthTileClick()" matTooltip="Add Auth" matRipple>
    <mat-icon>add_circle</mat-icon>
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="start stretch" class="mat-menu-content context-menu" #contextMenu
  *ngIf="contextMenuActive && (authPermission || authorizationPermission)" [ngStyle]="contextMenuStyle">
  <!-- <button mat-menu-item class="menu-item" *ngIf="authPermission" (click)="onContextMenuEditAuthBtnClick()"><span
      class="entry bpmn-icon-screw-wrench fa-lg mr-4" draggable="true">
    </span><span>Edit</span></button> -->
  <button mat-menu-item class="many-item" *ngIf="authPermission || authorizationPermission"
    (click)="onContextMenuRemoveAuthBtnClick('')"><span class="entry bpmn-icon-trash fa-lg mr-4" draggable="true">
    </span><span>Delete Auth</span></button>
  <button mat-menu-item class="many-item" *ngIf="authPermission || authorizationPermission"
    (click)="onContextMenuRemoveAuthBtnClick(true)">
    <mat-icon>remove_circle_outline</mat-icon> <span>Remove from all Roles</span>
  </button>
  <button mat-menu-item class="many-item" *ngIf="authPermission || authorizationPermission"
    (click)="onContextMenuRemoveAuthBtnClick(false)"><span><i class="fa fa-times fa-lg mr-4 ml-1"></i></span>
    <span>Remove from the Role</span></button>
</div>
