<div class="tiles-wrapper" fxLayout="row wrap"
     cdkDropList
     [cdkDropListData]="auths"
     (cdkDropListDropped)="authDropped($event)"
     cdkDropListOrientation="horizontal">
  <div class="tile"
       matRipple
       cdkDrag
       cdkDropListSortingDisabled
       [cdkDragData]="currAuth"
       [matTooltip]="currAuth.V_AUTH_CD"
       *ngFor="let currAuth of auths | authType: selectedAuthType?.key"
       [class.active]="currAuth == selectedAuth"
       [class.highlight]="highlightedAuths.isSelected(currAuth)"
       (contextmenu)="openContextmenu($event, currAuth)"
       (mousedown)="onTileMouseDownEventHandler($event)"
       (click)="onAuthTileClick(currAuth)">
    <div class="tile-icons-wrapper"
         fxLayout="row wrap"
         fxLayoutAlign="space-around">
      <mat-icon class="tile-icon"
                *ngIf="currAuth.V_CREATE==='Y'">
        add
      </mat-icon>
      <mat-icon class="tile-icon"
                *ngIf="currAuth.V_UPDATE==='Y'">
        create
      </mat-icon>
      <mat-icon class="tile-icon"
                *ngIf="currAuth.V_READ==='Y'">
        remove_red_eye
      </mat-icon>
      <mat-icon class="tile-icon"
                *ngIf="currAuth.V_DELETE==='Y'">
        delete
      </mat-icon>
      <mat-icon class="tile-icon"
                *ngIf="currAuth.V_EXECUTE==='Y'">
        launch
      </mat-icon>
    </div>
<!--    <div *ngIf="!environment.production">{{currAuth.V_AUTH_ID}}</div>-->
    <div class="tile-text">
      <strong>
        {{ currAuth.V_AUTH_CD.replace('; CRUDE', '').replace('CRUDE; ', '') }}
      </strong>
    </div>
  </div>
  <div class="tile add-new-tile" cdkDrag [cdkDragDisabled]="true" (click)="onAddAuthTileClick()"
       matTooltip="Add Auth" matRipple>
    <mat-icon>add_circle</mat-icon>
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="start stretch" class="context-menu" #contextMenu *ngIf="contextMenuActive"
     [ngStyle]="contextMenuStyle">
  <button mat-button class="menu-item" (click)="onContextMenuEditAuthBtnClick()">Edit</button>
  <button mat-button class="many-item" (click)="onContextMenuDeleteAuthBtnClick()">Delete</button>
</div>
