<div flex fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="row" fxLayout.gt-sm="row" fxLayoutAlign="space-around center"*ngIf="execshow">
    <!-- ________________START ROW_____________________ -->
    <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around center" *ngIf="execshow"></div>
      
      <!-- START COL 1 -->
      <div fxFlex="30" style="text-align: center;">
        <br>
        <!-- ___________Available Executable Type____________ -->
        <label item-width="100"><strong>Executable Type</strong></label>
        <!-- <mat-form-field class="form_in">
          <mat-select [(ngModel)]="EXE_TYPE_R" >
            <mat-option style="text-align:center;"  (click)="getExecutableCode()" [value]="ex" *ngFor="let ex of EXE_TYPE['EXE_TYP']">{{ex}}</mat-option>
          </mat-select>
        </mat-form-field> -->

        <mat-list class="scroll" style="text-align: center;">
          <mat-list-item class="list_item" (click)="getExecutableCode(ex);selectedExecutabletype(i);"
           *ngFor="let ex of EXE_TYPE['EXE_TYP']; let i = index;"
                          [class.active]="i == selectedExecutableType">
            <div>{{ex}}</div>
          </mat-list-item>
        </mat-list>

        <br />
    
        <!-- __________Developer________________- -->
        <label item-width="100"><strong>Executable</strong></label>
        <!-- <mat-form-field class="form_in">
          <mat-select [(ngModel)]="EXE_CD_R" >
            <mat-option style="text-align:center;"  (click)="getAllExecutable()" [value]="ex" *ngFor="let ex of EXE_CD['EXE_CD']">
              {{ex}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

        <mat-list class="scroll" style="text-align: center;">
          <mat-list-item class="list_item" (click)="getAllExecutable(ex);selectedExecutable(i);"
           *ngFor="let ex of EXE_CD['EXE_CD']; let i = index;"
                          [class.active]="i == selectedexecutable">
            <div>{{ex}}</div>
          </mat-list-item>
        </mat-list>
        <!-- ____________________DEVELOPER_____________ -->
        <label item-width="100"><strong>Executable</strong></label>
        <mat-form-field class="form_in">
          <input matInput  value="" (click)=makeDefine() [(ngModel)]="F_EXE_CD" name="Executable" (ngModelChange)="executableChange()" />
        </mat-form-field>
        <br />
        <!-- __________DEVELOPER Description___________ -->
        <label item-width="100"><strong>Executable Description</strong></label>
        <mat-form-field class="form_in">
          <textarea matInput value=""  [(ngModel)]="F_EXE_DSC" (ngModelChange)= "executableValChange()" name="executable-description">
        
              </textarea>
        </mat-form-field>
    
      </div>
      <!-- END COL 1 -->
      <div fxFlex="5"></div>
      <!-- START COL 2 -->
      <div fxFlex="30" style="text-align: center;">
    
        
        <!-- INPUT PARAMETERS -->
        <label item-width="100"><strong>Input Parameters</strong></label>
        <mat-form-field class="form_in">
          <input matInput  [(ngModel)]="F_EXE_SIGN" (ngModelChange)= "executableValChange()" name="Parameters" value="" />
        </mat-form-field>
        <br />
    
        <!-- OUTPUT PARAMETERS -->
        <label item-width="100"><strong>Output Parameters</strong></label>
        <mat-form-field class="form_in">
          <input matInput  [(ngModel)]="F_EXE_OUT_PARAM" (ngModelChange)= "executableValChange()" value="" name="" />
        </mat-form-field>
        <br />
    
        <!-- VERSION -->
        <label item-width="100"><strong>Version</strong></label>
        <mat-form-field class="form_in">
          <input matInput [(ngModel)]="F_EXE_VRSN" (ngModelChange)= "executableValChange()" value="" name="" />
        </mat-form-field>
        <br>
        <!-- SYNCH ASYNCH -->
        <mat-radio-group flex fxLayout="row" [(ngModel)]="F_SYNC_FLG" (ngModelChange)= "executableValChange()" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around center">
          <mat-radio-button  value="Y">Synch</mat-radio-button>
          <mat-radio-button  value="N">Asynch </mat-radio-button>
      </mat-radio-group>
      <!-- INPUT OUTPUT ARTIFACT -->
    <br>
      <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around center">
        <mat-checkbox [checked]="ipart">Input Artifact</mat-checkbox>
        <mat-checkbox [checked]="opart">Output Artifact</mat-checkbox>
      </div>
  
      </div>
      <!-- END COL 2 -->
      <div fxFlex="5"></div>
      <!-- START COL 3 -->
      <div fxFlex="30" style="text-align: center;">
    
        
        <br>
        <!-- START DELIMITER -->
        <label item-width="100"><strong>Start Delimiter</strong></label>
        <mat-form-field class="form_in">
          <input matInput [(ngModel)]="F_EXE_S_DLMTR" (ngModelChange)= "executableValChange()" value="" name="" />
        </mat-form-field>
        
        <!-- END DELIMITER -->
        <label item-width="100"><strong>End Delimiter</strong></label>
        <mat-form-field class="form_in">
          <input matInput [(ngModel)]="F_EXE_E_DLMTR" (ngModelChange)= "executableValChange()" value="" name="" />
        </mat-form-field>
    
    <!-- PLATFORM -->
      <label item-width="100"><strong>Platform</strong></label>
        <mat-form-field class="form_in">
          <mat-select [(ngModel)]="PLF_CD" (ngModelChange)= "executableValChange()">
            <mat-option style="text-align:center;"  (click)=platformDescription() [value]="pf" *ngFor="let pf of PLF_TYPE['SERVER_CD']">
              {{pf}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    
        <!-- PLATFORM DESCRIPTION -->
        <label item-width="100"><strong>Platform Description</strong></label>
        <mat-form-field class="form_in">
          <textarea matInput  [(ngModel)]="PLF_DSC" name="PLF_DSC">
              
                    </textarea>
        </mat-form-field>
      </div>
      <!-- END COL 3 -->
    </div>
    <!-- END ROW -->
    <br />
    <hr />
    
    <!-- START BUTTON ROW -->
    <div fxLayout="row">
      <div fxFlex="38" style="text-align: center;">
    
      </div>
      <div fxFlex="60">
        
        <div class="CustomeButtonFloat">
          <button *ngIf="!showUpdateBtn && (showAddBtn || !showAddBtn)" [disabled]="showAddBtn == false" mat-raised-button color="primary" (click)="add()">
              <mat-icon style="vertical-align: middle;margin-right: 5px">add</mat-icon>{{Label['add_btn']}}</button>
            <button *ngIf="!showAddBtn && showUpdateBtn" [disabled]="showUpdateBtn == false" mat-raised-button color="primary" (click)="update()">
              <mat-icon style="vertical-align: middle;margin-right: 5px">update</mat-icon>{{Label['UpdateBtn']}}</button>
            <button mat-raised-button color="warn"(click)="delete()">
              <mat-icon style="vertical-align: middle;margin-right: 5px">clear</mat-icon>{{Label['dlt_btn']}}</button>
        </div>
    
        <div class="CustomeButtonFloat">
          <button title="Upload file" mat-raised-button color="primary" (click)="uploadData()">
              <i class="fas fa-upload"></i> Upload
            </button>
            <button mat-raised-button color="primary" (click)="downloadFile()">
              <i class="fas fa-download"></i> Download
            </button>
        </div>
      </div>
      <div fxFlex="0"></div>
    </div>
    <!-- END BUTTON ROW -->
  
  <!-- </div> -->
  <!-- END EXECUTEABLE PART -->
  <!-- DEFINE ROLE ROW START-->
  <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="row" fxLayout.gt-sm="row" fxLayoutAlign="space-around center" *ngIf="roleshow">
    <div fxFlex="40" style="text-align: center;">
      <label>Role</label>
      <mat-form-field class="form_in">
        <mat-select [(ngModel)]="ROLE_CD">
          <mat-option style="text-align:center;"  (click)=roleDescription() [value]="rl" *ngFor="let rl of ROLE_TYPE['ROLE_CD']">
            {{rl}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <label>Role Description</label>
      <mat-form-field class="form_in">
        <textarea matInput [(ngModel)]="ROLE_DSC" value="" name="">
                
                      </textarea>
      </mat-form-field>
  
    </div>
    <div fxFlex="40"></div>
    <div fxFlex="20">
    
      <mat-checkbox [checked]="rd">Read</mat-checkbox>
      <mat-checkbox [checked]="up">Update</mat-checkbox>
      <mat-checkbox [checked]="del">Delete</mat-checkbox>
      <mat-checkbox [checked]="cr">Create</mat-checkbox>
      <mat-checkbox [checked]="ex">Execute</mat-checkbox>
    </div>
  
    <div fxLayout="row" fxLayout.lt-sm="col" fxLayout.lt-sm="col" fxLayout.gt-sm="row" fxLayoutAlign="space-around center">
      <button mat-raised-button mat-button color="primary" (click)="onDone()">Done </button>
      <!-- <button mat-raised-button mat-button mat-dialog-close color="primary">Cancel</button> -->
    
    </div>
  </div>
  
  
  <!-- EXPERIMENTALROW END -->
  <br />
  <br /><br />
  <input type="file" (change)="fileChangeEvent($event ,files)" #files name="Document_File" id="Document_File" style="display:none"/>
