<!-- <div class="container-fluid">
  <div class="row">
    <div class="col">
      <strong>{{Label['available_user']}}</strong>
      <mat-list  class="scroll">
      <mat-list-item  class="sd list_item" (click)="selected(u,i);"  *ngFor="let u of users$ | async  ; let i = index;"  [class.active]="i == selecteduser ">
      <div>{{u.V_USR_NM}}</div>
      </mat-list-item>
      </mat-list>
      <strong>{{Label['user_description']}}</strong>

      <mat-form-field style="width:100%;">
        <textarea matInput [(ngModel)]="USR_DSC_R" >

        </textarea>
  </mat-form-field>
    </div>
    <div class="col">
   
  <strong>{{Label['Group']}}</strong>
  <mat-list  class="scroll">
  <mat-list-item  class="list_item"  (click)="getAvailableGroup(g,i);selected(g);onqselect(j);"  *ngFor="let g of groups$ | async  ; let j = index;"  [class.active]="j == selectedgroup || g.is_selected_user == true">
  <div>{{g.V_USR_GRP_CD}}</div>
  </mat-list-item>
  </mat-list>

  <strong>{{Label['Grp_dscr']}}</strong>
  <mat-form-field style="width:100%;">
        <textarea matInput [(ngModel)]="USR_GRP_DSCR" >

        </textarea>
  </mat-form-field>  
    </div>
  </div>

</div> -->
<div>
  <div fxFlex="10" ></div>
  <mat-radio-group #matRadioBtn="matRadioGroup"
                   fxFlex="100"
                   value=""
                   fxLayout="row" fxLayoutAlign="space-between center">
    <mat-radio-button *ngFor="let item of groupTypeOptions" [value]="item.key">
      {{item.label}}
    </mat-radio-button>
  </mat-radio-group>
  <div fxFlex="10" ></div>
</div>
<div fxLayout="row" fxLayout.lt-sm="column">                
  <div fxFlex="10" ></div>
  
  <div fxFlex="30" style="text-align: center;">
      <strong>{{Label['available_user']}}</strong>
      <mat-list class="scroll">
        <mat-list-item  class="sd list_item"  *ngFor="let u of users$ | async; let i = index;"  [class.active]="i == selecteduser || u.is_selected_usr_grp == true">
          <div fxLayout="row">
            <div fxFlex="90" (click)="selectedUser(u,i);">{{u.V_USR_NM}}</div>
            <div fxFlex="10"><mat-checkbox [disabled]="selectCurrentUser != undefined" [(ngModel)]="u.is_selected"></mat-checkbox></div>
          </div>    
        </mat-list-item>
      </mat-list>
      <!---
      <mat-form-field *ngIf="mobileView" style="width:100%;text-align: center;" [floatLabel]="'never'">
        <mat-select style="margin-top:10px;" placeholder="--Select--">
          <mat-option style="text-align:center;" (click)="selectedUser(u,i);" *ngFor="let u of userData$; let i = index;"  [class.active]="i == selecteduser">{{u.V_USR_NM}}</mat-option>
        </mat-select>
      </mat-form-field>
      --><br />
      <strong>{{Label['user_description']}}</strong>
      <mat-form-field style="width:100%;">
            <textarea matInput [(ngModel)]="USR_DSC_R" >

            </textarea>
      </mat-form-field>
  </div>
  <div fxFlex="3" ></div>
  <div fxFlex="30" style="text-align: center;">
      <strong>{{Label['Group']}}</strong>
      <mat-list class="scroll">
        <mat-list-item  class="list_item"  *ngFor="let g of groups$ | async | groupType: matRadioBtn.value; let j = index;"  [class.active]="j == selectedgroup || g.is_selected_user == true">
            <div fxLayout="row">
              <div fxFlex="90" (click)="selectGroup(g,j);">{{g.V_USR_GRP_CD}}</div>
              <div fxFlex="10"><mat-checkbox [disabled]="selectCurrentGroup != undefined" [(ngModel)]="g.is_selected" (change)="checkboxGroupSelect($event, g)"></mat-checkbox></div>
            </div> 
        </mat-list-item>
      </mat-list>
      <!---
      <mat-form-field *ngIf="mobileView" style="width:100%;text-align: center;" [floatLabel]="'never'">
          <mat-select style="margin-top:10px;" placeholder="--Select--">
            <mat-option style="text-align:center;" (click)="selectGroup(g,j);"  *ngFor="let g of groupData$; let j = index;"  [class.active]="j == selectedgroup">
              <div fxLayout="row" fxLayout.lt-xs="column">
                <div fxFlex="90" (click)="selectGroup(g,j);">{{g.V_USR_GRP_CD}}</div>
              </div>
              <div fxFlex="10"><mat-checkbox [(ngModel)]="g.is_selected" (change)="checkboxGroupSelect($event, g)"></mat-checkbox></div>
            </mat-option>
          </mat-select>
      </mat-form-field>
      -->
      <br />
      <strong>{{Label['Grp_dscr']}}</strong>
      <mat-form-field style="width:100%;">
            <textarea matInput [(ngModel)]="USR_GRP_DSCR" >

            </textarea>
      </mat-form-field>

  </div>
  <div  fxFlex="3"></div>
  <div  fxFlex="30">
  <br /> <br /> <br />
    <!-- <button mat-raised-button (click)="AddGroupTL()" color="primary"><mat-icon>play_arrow</mat-icon> {{Label['execute_btn']}}</button> -->
    <button mat-raised-button color="primary" [disabled]="enableSubmitButton()" (click)="submitMemberShip()"><mat-icon>move_to_inbox</mat-icon>{{Label['submit_btn']}}</button>
  </div>
</div>




