:host {
  .mat-divider-horizontal {
    position: initial;
  }

  .mat-radio-button {
    padding: 0
  }
  .content-wrapper{
    padding: 8px;
    background-color: #e5e5e5;
    border-radius: 5px;
  }

  .add-btn{
    color: #999999;
  }
}

.tile-container {
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
  .container-header {
    border-bottom: 1px solid #ddd;;
    padding: 8px;
  }

  .tiles-wrapper {
    padding: 8px 0 0 8px;

    .tile {
      padding: 2px;
      font-size: 12px !important;
      font-family: monospace, sans-serif !important;
      border: 1px solid #ddd;
      width: calc(100% / 8 - 8px);
      min-height: 64px;
      margin: 0 8px 8px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: #f2f2f2;
      transition: box-shadow 400ms cubic-bezier(.165, .84, .44, 1);
      box-shadow: none;
      border-radius: 3px;
      &:hover {
        box-shadow: 0 2px 6px rgba(47, 51, 55, 0.1);
      }

      &.active {
        background-color: #008abc !important;
        color: #ffffff;
      }

      &.highlight {
        background-color: #ffa500 !important;
        color: #ffffff;
      }

      &.add-new-tile{
        color: #999999;
        border-style: dashed;
        background-color: transparent;
      }
    }
  }
}
