<div class="app-form-wrapper">
  <form [formGroup]="userForm" fxLayoutGap="8px" fxLayout="column">
    <mat-form-field>
      <input type="text" matInput placeholder="Name" #htmlInputElement formControlName="V_USR_NM" cdkFocusInitial>
      <mat-error *ngIf="userForm.get('V_USR_NM').errors?.userError">User already exist.</mat-error>
      <mat-error *ngIf="f.V_USR_NM.errors?.email">Valid User is required.</mat-error>
      <mat-error *ngIf="userForm.get('V_USR_NM').errors?.groupError">Valid User is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea type="text" matInput placeholder="Description" formControlName="V_USR_DSC"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="V_STS" placeholder="Status">
        <mat-option *ngFor="let status of userStatusOptions" [value]="status.key">{{status.label}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="V_IS_PRIMARY">
      Is Primary Group
    </mat-checkbox>
  </form>
</div>
