<div flex fxLayoutGap="30px" fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="row" fxLayout.gt-sm="row">
  <div flex fxFlex="30">
    <label style="text-align:center;width:100%;">
      <strong>{{Label['SERVER_CD']}}</strong>
    </label>
    <mat-list *ngIf="desktopView" class="scroll">
      <mat-list-item class="list_item" *ngFor="let a of platforms ; let i = index;"
        (click)="getplatformdesc(a);onpselect(i);getinstallmachines();" [class.active]="i == selectedplat">
        <div>{{a}}</div>
      </mat-list-item>
    </mat-list>
    <mat-form-field *ngIf="mobileView" style="width:100%;text-align: center;" [floatLabel]="'never'">
      <mat-select style="margin-top:10px;" placeholder="--Select--">
        <mat-option style="text-align:center;" (click)="getplatformdesc(a);onpselect(i);getinstallmachines();"
          *ngFor="let a of platforms ; let i = index;" [value]="a">{{a}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div flex fxFlex="30">
    <label style="text-align:center;width:100%;">
      <strong>{{Label['PLATFORM_CD']}}</strong>
    </label>
    <mat-list *ngIf="desktopView" class="scroll">
      <mat-list-item class="list_item" *ngFor="let b of machines; let j = index"
        (click)="getmachinedesc(b);onmselect(j);" [class.active]="j == selectedmach">
        <div>{{b}}</div>
      </mat-list-item>
    </mat-list>
    <mat-form-field *ngIf="mobileView" style="width:100%;text-align: center;" [floatLabel]="'never'">
      <mat-select style="margin-top:10px;" placeholder="--Select--">
        <mat-option style="text-align:center;" (click)="getmachinedesc(b);onmselect(j);"
          *ngFor="let b of machines; let j = index;" [value]="b">{{b}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div flex fxFlex="30" fxLayoutGap="20px" fxLayout="column" fxLayout.lt-sm="column" fxLayout.sm="column">

    <div flex fxLayout="row" fxLayout.lt-sm="row" fxLayout.sm="row" fxLayout.gt-sm="row"
      fxLayoutAlign="space-around center">
      <button mat-raised-button color="primary" (click)="install()">
        <mat-icon>get_app</mat-icon>Install
      </button>
      <button mat-raised-button color="warn" (click)="uninstall()">
        <mat-icon>delete</mat-icon>Uninstall
      </button>
    </div>
  </div>
</div>
<br>
<div fxLayoutGap="30px" fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="row" fxLayout.gt-sm="row">
  <div fxFlex="30" style="text-align: center;">
    <label style="margin-bottom: 0;">Platform Description</label>
    <mat-form-field class="incwid">

      <textarea matInput [(value)]="p_desc"></textarea>
    </mat-form-field>
  </div>

  <div fxFlex="30" style="text-align: center;">
    <label style="margin-bottom: 0;">Machine Description</label>
    <mat-form-field class="incwid">
      <textarea matInput [(value)]="m_desc"></textarea>
    </mat-form-field>
  </div>
</div>
