<div class="dialog-wrapper" fxLayoutGap="8px" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="dialog-header content-wrapper" fxLayoutAlign="space-between center">
    <span>Manage Machines</span>
    <!-- <div fxFlex="30">
      <label>
        <strong>{{Label['PLATFORM_CD']}}</strong>
      </label>
      <mat-form-field class="input_control inp_design">
        <mat-select [(ngModel)]="PLATFORM_CD">
          <mat-option style="text-align:center;" *ngFor="let mc of PLF_DATA['PLATFORM_CD']" [value]="mc" (click)=machineDetails()>
            <div>{{mc}}</div>
          </mat-option>

        </mat-select>
      </mat-form-field>

    </div> -->
    <button mat-icon-button (click)="onBtnCancelClick()"><mat-icon>close</mat-icon></button>
  </div>
  <mat-divider></mat-divider>
  <br/>
  <div class="dialog-body content-wrapper">  
    <!-- _________START ROW____________ -->
    <div flex style="text-align:center;" fxLayout="row" fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayout.sm="column">
      <!-- ______________MACHINE BOX START__________ -->

      <div style="text-align:center;" fxFlex="30">

        <!-- _______MACHINE NAME__________ -->
        <label>
          <strong>Name</strong>
        </label>
        <mat-form-field class="input_control">
          <input matInput [(ngModel)]="PLATFORM_CD" [matAutocomplete]="auto" (ngModelChange)="machineChange()">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="machineDetails($event)">
            <mat-option style="text-align:center;" *ngFor="let mc of PLF_DATA['PLATFORM_CD']" [value]="mc">
              <div>{{mc}}</div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxFlex="5"></div>
      <div style="text-align:center;" fxFlex="30">
        <label>
          <strong>{{Label['PLATFORM_DSC']}}</strong>
        </label>

        <mat-form-field>
          <input matInput style="text-align:center;width:100%;" [(ngModel)]="PLATFORM_DSC" (ngModelChange)="machineDesChange()">
        </mat-form-field>


      </div>
      
      <div fxFlex="5"></div>
      <div style="text-align:center;" fxFlex="30">
        <label>
          <strong>{{Label['PLATFORM_CAP']}}</strong>
        </label>
        <mat-form-field class="input_control">
          <input matInput [(ngModel)]="PLATFORM_CAP">
        </mat-form-field>
      </div>

    </div>
    <!-- ______ROW 1 END____________ -->


    <!-- ________ROW 2 START___________ -->
    <div flex fxLayout="row" fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayoutGap="5px">
      <!-- _______MACHINE NAME__________ -->
      <div style="text-align:center;" fxFlex="30">
        <label>
          <strong>{{Label['RATING']}}</strong>
        </label>

        <mat-form-field>
          <input matInput [(ngModel)]="RATING">
        </mat-form-field>


      </div>
      <div fxFlex="5"></div>
      <div style="text-align:center;" fxFlex="30">
        <label>
          <strong>{{Label['EFF_STRT_DT_TM']}}</strong>
        </label>


        <mat-form-field>
          <input matInput [(ngModel)]="EFF_STRT_DT_TM" [owlDateTimeTrigger]="fromDate" [owlDateTime]="fromDate">
          <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker> -->
          <owl-date-time #fromDate></owl-date-time>
        </mat-form-field>


      </div>
      <div fxFlex="5"></div>
      <div style="text-align:center;" fxFlex="30">
        <label>
          <strong>{{Label['EFF_END_DT_TM']}}</strong>
        </label>

        <mat-form-field>
          <input matInput [(ngModel)]="EFF_END_DT_TM" [owlDateTimeTrigger]="toDate" [owlDateTime]="toDate">
          <!-- <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker> -->
          <owl-date-time #toDate></owl-date-time>
        </mat-form-field>


      </div>

    </div>
    <!-- ______ROW 3 END____________ -->
    <!-- _______________ROW 4 START______________ -->

    <div flex fxLayout="row" fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayoutGap="5px">
      <div style="text-align:center;" fxFlex="30">
        <label>
          <strong>{{Label['VRTL_FLG']}}</strong>
        </label>
        <mat-radio-group [(ngModel)]="VRTL_FLG" flex fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayout.gt-sm="row"
          fxLayoutAlign="space-around center">
          <mat-radio-button value="Y">Yes</mat-radio-button>
          <mat-radio-button value="N">No </mat-radio-button>
        </mat-radio-group>
      </div>
      <div fxFlex="5"></div>
      <div style="text-align:center;" fxFlex="30">
        <label>
          <strong>{{Label['MODESTATUS']}}</strong>
        </label>
        <mat-radio-group [(ngModel)]="MODESTATUS" flex fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayout.gt-sm="row"
          fxLayoutAlign="space-around center">
          <mat-radio-button value="ACTIVE">Active</mat-radio-button>
          <mat-radio-button value="STANDBY">Standby </mat-radio-button>
        </mat-radio-group>
      </div>
      <div fxFlex="5"></div>
      <div style="text-align:center;" fxFlex="30">
        <label>
          <strong>{{Label['STATE_FLG']}}</strong>
        </label>
        <mat-radio-group [(ngModel)]="STATE_FLG" flex fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayout.gt-sm="row"
          fxLayoutAlign="space-around center">
          <mat-radio-button value="UP">Up</mat-radio-button>
          <mat-radio-button value="DOWN">Down </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <!-- ___________________ROW 4 END______________ -->


    <!-- ___________END ROW____________ -->
    <!-- START BUTTON ROW -->
    <div class="mt-4" flex fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayout.gt-sm="row">

      <div fxFlex="20"></div>
      <div fxFlex="20">
        <button *ngIf="isMachineChange" [disabled]="!isMachineChange || isValid()" class="mr-2" mat-raised-button color="primary" (click)="addMachine()">
          <mat-icon>add</mat-icon> Add</button>
        <button [disabled]="Selected == null" *ngIf="!isMachineChange" class="mr-2" mat-raised-button color="primary" (click)="updateMachine()">
           Update</button>
      </div>

      <div fxFlex="20"></div>
      <div fxFlex="20">
        <button [disabled]="Selected == null || isMachineChange" type="submit" style="width: 100%;" mat-raised-button color="warn" (click)="deleteMachine()">
          <mat-icon>delete</mat-icon> Delete</button>
      </div>
      
      <div fxFlex="20"></div>

    </div>
  </div>  
</div>  
