<div flex fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayout.gt-sm="column">
  <div fxFlex="20"></div>
  <div fxFlex="80">
    <!-- outer layout -->
    <div flex fxLayout="row" fxLayout.lt-sm="column">


      <!-- App hide when the array of value <2 -->
      <div fxFlex="45"  *ngIf="applicationViewFlag">
        <!-- <div *ngIf="Application_box"> -->
        <label style="text-align:center;width:100%;">
          <strong>{{Label['APP_CD']}}</strong>
        </label>
        <mat-list *ngIf="desktopView" class="scroll">
          <mat-list-item class="list_item" (click)="getProcessCD(app);fooo(app)" *ngFor="let app of APP_CD['APP_CD']"
            [class.active]="app == selectedapp">
            <div> {{app}}</div>
          </mat-list-item>
        </mat-list>
        <mat-form-field *ngIf="mobileView" style="width:100%;text-align: center;" [floatLabel]="'never'">
          <mat-select style="margin-top:10px;" (selectionChange)="getProcessCD($event);fooo($event)"
            placeholder="--Select--" [value]="selectedapp">
            <mat-option style="text-align:center;max-width: 400px;" *ngFor="let app of APP_CD['APP_CD']" [value]="app">
              {{app}}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- </div> -->
        <!-- <div *ngIf="Application_label">
      <label>{{APP_CD['APP_CD']}}</label>
     </div> -->
      </div>

      <!-- 	hide when the array of value <2 -->

      <div fxFlex="10"></div>
      <div fxFlex="45">


        <label style="text-align:center;width:100%;">
          <strong>{{Label['PRCS_CD']}}</strong>
        </label>
        <mat-list *ngIf="desktopView" class="scroll">
          <mat-list-item class="list_item" (click)="getServiceCode(pro);fooo1(pro);Execute_AP_PR();"
            *ngFor="let pro of PRC_CD['PRCS_CD'];" [class.active]="pro === selectedprcs">
            <div>{{pro}}</div>
          </mat-list-item>
        </mat-list>
        <mat-form-field *ngIf="mobileView" style="width:100%;text-align: center;" [floatLabel]="'never'">
          <mat-select style="margin-top:10px;" (selectionChange)="getServiceCode($event);fooo1($event);Execute_AP_PR();"
            placeholder="--Select--" [value]="selectedprcs">
            <mat-option style="text-align:center;" *ngFor="let pro of PRC_CD['PRCS_CD'];" [value]="pro">{{pro}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <div *ngIf="Process_label">
                  <label>{{PRC_CD['PRCS_CD']}}</label>
            </div> -->

      </div>
      <!-- <div fxFlex="5"></div>

        <div fxFlex="30" *ngIf="Service_box">


          <label style="text-align:center;width:100%;">
            <strong>Undeployed {{Label['service']}}</strong>
          </label>
          <mat-list class="scroll">
            <mat-list-item class="list_item" *ngFor="let ser of deployService;">
              <div>{{ser}}</div>
            </mat-list-item>
          </mat-list>

        </div> -->
      <!-- <div *ngIf="Process_label">
          <label>{{PRC_CD['PRCS_CD']}}</label>
        </div> -->

      <!-- </div> -->




      <!-- close outer layout -->
    </div>

  </div>
  <div fxFlex="20"></div>
</div>
<!-- display form auto layout -->
<div class="dynamicFormContent">
  <h3 style="text-align: center;" *ngIf="Data!='' &&  Data!=undefined">{{Label['Parameters']}}</h3>
  <div class="dynamicContent">
    <form name="form" #processForm="ngForm" novalidate>
      <div class="padding-input flexLeft" *ngFor="let pr of Data" [ngClass]="data.getFieldClass(pr.name)">
        <ng-container *ngIf="!data.isFieldHidden(pr.name)">
          <label class="f_label">{{pr.placeholder | removeWt}}<span
              *ngIf="data.isFieldMendatory(pr.name)">*</span></label>
          <mat-icon *ngIf="data.getFieldTooltip(pr.name)!=null" [matTooltip]="data.getFieldTooltip(pr.name)"
            class="field-help">help</mat-icon>
          <ng-container [ngSwitch]="pr.type">
            <ng-container *ngSwitchCase="'Radio Button'">
              <mat-form-field class="form_input form_list" style="background-color: #f4f6f7">
                <input matInput style="display: none">
                <mat-radio-group #name="ngModel" [required]="data.isFieldMendatory()"
                  [disabled]="data.isFieldDisabled()" [(ngModel)]="pr.value"
                  (ngModelChange)="Update_value(pr.value,pr.placeholder)" [name]="pr.name">
                  <mat-radio-button style="background-color: #f4f6f7" [value]="listOption"
                    *ngFor="let listOption of getListOptions(pr.name)">{{listOption}}</mat-radio-button>
                </mat-radio-group>
              </mat-form-field>
            </ng-container>
            <ng-container *ngSwitchCase="'Checkbox'">
              <mat-form-field class="form_input form_list" style="background-color: #f4f6f7">
                <input matInput style="display: none">
                <mat-selection-list #name="ngModel" [disabled]="data.isFieldDisabled()" [(ngModel)]="pr.value"
                  (ngModelChange)="Update_value(pr.value,pr.placeholder)" style="background-color: #f4f6f7">
                  <mat-list-option checkboxPosition="before" [value]="listOption"
                    *ngFor="let listOption of getListOptions(pr.name)">
                    {{listOption}}
                  </mat-list-option>
                </mat-selection-list>
              </mat-form-field>
            </ng-container>
            <ng-container *ngSwitchCase="'date'">
              <mat-form-field class="form_input">
                <input #name="ngModel" [required]="data.isFieldMendatory()" [disabled]="data.isFieldDisabled()"
                  [name]="pr.name" [value]="pr.value" (keyup)="Update_value($event.target.value,pr.placeholder)"
                  [(ngModel)]="pr.value" matInput [matDatepicker]="picker" class="f_inp">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <!--INPUT-->
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
                {{data.getFieldInValidMsg(name, pr.name)}}
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'time'">
              <mat-form-field class="form_input">
                <input #name="ngModel" [required]="data.isFieldMendatory()" [disabled]="data.isFieldDisabled()" matInput
                  [type]="pr.type" [name]="pr.name" [value]="pr.value"
                  (change)="Update_value($event.target.value,pr.placeholder)" [(ngModel)]="pr.value" class="f_inp">
              </mat-form-field>
              <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
                {{data.getFieldInValidMsg(name, pr.name)}}
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'datetime'">
              <mat-form-field class="form_input" style="background-color: #f4f6f7">
                <input #name="ngModel" [required]="data.isFieldMendatory()" [disabled]="data.isFieldDisabled()" matInput
                  [name]="pr.name" [value]="pr.value" (change)="Update_value($event.target.value,pr.placeholder)"
                  [(ngModel)]="pr.value" [owlDateTimeTrigger]="fdate" [owlDateTime]="fdate">
                <owl-date-time [attr.id]="pr.name"></owl-date-time>
              </mat-form-field>
              <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
                {{data.getFieldInValidMsg(name, pr.name)}}
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'password'">
              <mat-form-field class="form_input">
                <input matInput #name="ngModel" [required]="data.isFieldMendatory(pr.name)"
                  [readonly]="data.isFieldDisabled(pr.name)" [type]="pr.type" [name]="pr.name" [value]="pr.value"
                  (change)="Update_value($event.target.value,pr.placeholder)" [(ngModel)]="pr.value" #name="ngModel"
                  class="f_inp">
              </mat-form-field>
              <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
                {{data.getFieldInValidMsg(name, pr.name)}}
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'range'">
              <mat-slider #name="ngModel" [(ngModel)]="pr.value" value="1" step="1" min="1" max="100"
                (change)="Update_value($event.target.value,pr.placeholder)" style="background-color: #f4f6f7">
              </mat-slider>
            </ng-container>
            <ng-container *ngSwitchCase="color">
              <mat-form-field class="form_input">
                <input #name="ngModel" [(colorPicker)]="_backgroundColor" [style.background]="_backgroundColor"
                  [(ngModel)]="pr.value" class="f_inp">
              </mat-form-field>
            </ng-container>
            <ng-container *ngSwitchCase="'Text Area'">
              <mat-form-field class="form_input">
                <textarea matInput #name="ngModel" [required]="data.isFieldMendatory(pr.name)"
                  [readonly]="data.isFieldDisabled(pr.name)" [name]="pr.name"
                  [maxLength]="data.getFieldMaxLength(pr.name)" (value)="pr.value"
                  (change)="Update_value($event.target.value,pr.placeholder)" [(ngModel)]="pr.value" class="f_inp">
                  </textarea>
              </mat-form-field>
              <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
                {{data.getFieldInValidMsg(name, pr.name)}}
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="data.getFieldTypeForChange(pr.type)">
              <mat-form-field class="form_input">
                <input matInput [required]="data.isFieldMendatory(pr.name)"
                  maxlength="data.getMaxLengthForField(pr.type)" [name]="pr.name" (value)="pr.value"
                  (change)="Update_value($event.target.value,pr.placeholder)"
                  (change)="data.transformFieldValueOnChange($event,pr.type)" [(ngModel)]="pr.value" class="f_inp"
                  #name="ngModel">
                <mat-autocomplete class="autoCompletes" #auto="matAutocomplete">
                  <mat-option (click)="Update_value(pr.value ,pr.placeholder)" style="text-align:center;"
                    *ngFor="let option of options[pr.name]" [value]="option">
                    {{option}}
                  </mat-option>
                  <!-- <mat-option style="text-align:center;" (click)="Update_value(pr.value ,pr.placeholder)" *ngFor="let item of searchResult | myfilter:FilterAutoValue"
                    [value]="item">
                    {{ item }}
                  </mat-option> -->
                </mat-autocomplete>
              </mat-form-field>
              <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
                {{data.getFieldInValidMsg(name, pr.name)}}
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'Zip'">
              <mat-form-field class="form_input">
                <input type="text" pattern="^[0-9]{5}?$" [required]="data.isFieldMendatory(pr.name)" maxlength="5"
                  matInput [disabled]="data.isFieldDisabled(pr.name)" [name]="pr.name" (value)="pr.value"
                  [matAutocomplete]="auto" (key)="Update_value($event.target.value,pr.placeholder)"
                  [(ngModel)]="pr.value" class="f_inp" #name="ngModel">

                <mat-autocomplete class="autoCompletes" #auto="matAutocomplete">
                  <mat-option style="text-align:center;" (click)="Update_value(pr.value ,pr.placeholder)"
                    *ngFor="let option of options[pr.name]" [value]="option">
                    {{option}}
                  </mat-option>
                  <!-- <mat-option style="text-align:center;" (click)="Update_value(pr.value ,pr.placeholder)" *ngFor="let item of searchResult | myfilter:FilterAutoValue"
                    [value]="item">
                    {{ item }}
                  </mat-option> -->
                </mat-autocomplete>
              </mat-form-field>
              <div [style.visibility]="data.isFieldInvalid(name) ? 'visible': 'hidden'">
                {{data.getFieldInValidMsg(name, pr.name)}}
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'Email'">
              <mat-form-field class="form_input">
                <input type="email" [required]="data.isFieldMendatory(pr.name)" matInput
                  [readonly]="data.isFieldDisabled(pr.name)" [name]="pr.name" (value)="pr.value"
                  [matAutocomplete]="auto" (change)="Update_value($event.target.value,pr.placeholder)"
                  [(ngModel)]="pr.value" class="f_inp" #name="ngModel" email="true"
                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">

                <mat-autocomplete class="autoCompletes" #auto="matAutocomplete">
                  <mat-option style="text-align:center;" (click)="Update_value(pr.value ,pr.placeholder)"
                    *ngFor="let option of options[pr.name]" [value]="option">
                    {{option}}
                  </mat-option>
                  <!-- <mat-option style="text-align:center;" (click)="Update_value(pr.value ,pr.placeholder)" *ngFor="let item of searchResult | myfilter:FilterAutoValue"
                    [value]="item">
                    {{ item }}
                  </mat-option> -->
                </mat-autocomplete>
              </mat-form-field>
              <div [style.visibility]=" data.isFieldInvalid(name) ? 'visible': 'hidden'">
                {{data.getFieldInValidMsg(name, pr.name)}}
              </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <mat-form-field class="form_input">
                <input matInput [name]="pr.name" [required]="data.isFieldMendatory(pr.name)" #name="ngModel"
                  [readonly]="data.isFieldDisabled(pr.name)" (change)="Update_value(pr.value ,pr.placeholder)" [maxLength]="data.getFieldMaxLength(pr.name)"
                  [matAutocomplete]="auto" [(ngModel)]="pr.value" class="f_inp">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option style="text-align:center;" (click)="Update_value(pr.value ,pr.placeholder)"
                    *ngFor="let option of options[pr.name]" [value]="option">
                    {{option}}
                  </mat-option>
                  <!-- <mat-option style="text-align:center;" (click)="Update_value(pr.value ,pr.placeholder)" *ngFor="let item of searchResult | myfilter:FilterAutoValue"
                    [value]="item">
                    {{ item }}
                  </mat-option> -->
                </mat-autocomplete>
              </mat-form-field>
              <div [style.visibility]=" data.isFieldInvalid(name) ? 'visible': 'hidden'">
                {{data.getFieldInValidMsg(name, pr.name)}}
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </form>
  </div>

</div>
<!-- <div flex fxLayout="row" fxLayout.lt-sm="column" *ngIf="b==true">

                 <div fxFlex="10" ></div>
                  <div fxFlex="40" >



              </div>

                  </div> -->

<!-- close auto -->
<br />
<!-- button layout -->
<div flex fxLayout="row" fxLayout.lt-sm="column">

  <div fxFlex="100" class="parent">

    <button mat-raised-button mat-button color="primary" [disabled]="!Execute_Now_btn" (click)="add();Execute_Now()">
      <mat-icon class="iconmod">play_arrow</mat-icon>Execute Now
    </button>

    &nbsp;&nbsp;

    <button mat-raised-button mat-button color="primary" [disabled]="!Schedule_btn"
      (click)="add();repeatURL();openEmojiDialog()">
      <mat-icon class="iconmod">schedule</mat-icon>Execute Later
    </button>

  </div>


</div>