/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import "~ng-pick-datetime/assets/style/picker.min.css";

@import "./styles/components/_classesDescribe.scss";
@import "./styles/components/_forms.scss";
@import "./styles/components/_inputArt.scss";
@import "./styles/components/_layout.scss";
@import "./styles/components/_lists.scss";
@import "./styles/components/_navbar.scss";
@import "./styles/components/_zebraInput.scss";
@import "./styles/components/_reportTable.scss";
@import "./styles/components/_headers.scss";
@import '~ngx-toastr/toastr.css';


@import "./styles/settings/_material.scss";

.app-dialog {
  .mat-dialog-container {
    padding: 8px;
  }
}

.app-form-wrapper {
  .mat-form-field {
    width: 100%;

    .mat-form-field-label {
      margin: 0;
    }
  }
}

.p-8 {
  padding: 8px;
}

.bjs-powered-by {
  display: none !important;
}

.content-wrapper {
  padding: 8px;
  background-color: #e5e5e5;
  border-radius: 5px;

  >button {
    color: #999999;

    .mat-icon {
      color: #999999;
    }
  }
}

.dialog-wrapper {
  .dialog-header {
    font-size: 16px;
    font-weight: 600;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .content-wrapper {
    padding: 8px;
    background-color: transparent;
    border-radius: 0;
  }

  .mat-divider {
    position: initial;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.ellipsis-text {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tile.cdk-drag-preview {
  padding: 2px;
  font-size: 12px !important;
  font-family: monospace, sans-serif !important;
  border: 1px solid #ddd;
  width: calc(100% / 8 - 8px);
  min-height: 64px;
  margin: 0 8px 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #F2F2F4;
  transition: box-shadow 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: none;
  border-radius: 3px;
  color: #999;

  &:hover {
    box-shadow: 0 0 6px rgba(47, 51, 55, 0.1);
  }

  &.active {
    border-color: #008abc;
    background-color: #F2F2F4 !important;

    .tile-icon {
      color: #008abc !important;
    }
  }

  &.highlight {
    border-color: #ffa500;

    .tile-icon {
      color: #ffa500 !important;
    }
  }

  &.add-new-tile {
    color: #999999;
    border-style: dashed;
    background-color: transparent;
  }

  .tile-icon {
    color: #999;
  }
}

.context-menu {
  background-color: #efefef;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid #dedede;
  overflow: hidden;
  position: fixed;
  z-index: 999;
}

.success:not(.djs-connection) .djs-visual> :nth-child(1) {
  fill: rgb(212, 245, 212) !important;
  /* color elements as green */
}

.intermediate:not(.djs-connection) .djs-visual> :nth-child(1) {
  fill: lightyellow !important;
  /* color elements as green */
}

.stage- {
  &hide {
    .bjs-container .djs-container {

      .djs-palette,
      .djs-hit {
        display: none;
      }
    }
  }

  &show {
    .bjs-container .djs-container {

      // .djs-palette,  uncomment to enable pallete again
      .djs-hit {
        display: inherit;
      }

      // comment  to disable pallete 
      .djs-palette {
        display: none;
      }
    }
  }
}

.mat-menu-content .mat-menu-item {
  line-height: 15px !important;
  height: 25px !important;
  padding: 0px 8px;
}

.headerChildMenu .mat-menu-content button.mat-menu-item {
  width: 15% !important;
  display: inline !important;
  text-overflow: inherit;
  outline: none;
  padding: 0px 1px;
}

.headerParentMenu .mat-menu-content button.mat-menu-item {
  width: 17% !important;
  display: inline !important;
  text-overflow: inherit;
  outline: none;
  padding: 0 6px;
}

.sideNavChildMenu .mat-menu-content button.mat-menu-item .mat-icon,
.sideNavChildMenu .mat-menu-content .bpmn-icon-trash,
.sideNavChildMenu .mat-menu-content .fa,
.sideNavChildMenu .mat-menu-content .fas,
.sideNavChildMenu .mat-menu-content .fab {
  margin-right: 10px;
}

.headerParentMenu .mat-menu-item .mat-icon {
  margin-right: 1px !important
}

.mat-menu-panel.headerChildMenu,
.mat-menu-panel.headerParentMenu {
  background: none !important;
  box-shadow: none;
}

.headerChildMenu {
  width: 280px !important;
}

.headerParentMenu {
  width: 170px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix .mat-input-element {
  background-color: #fff;
}

.mat-dialog-container {
  background-color: #ededed;
}

.form_input .mat-form-field-flex .mat-form-field-infix {
  background: white;
  border: 1px solid rgb(200, 200, 200);
  padding: 0px;
  text-align: center;
  line-height: 24px;
}

button:focus {
  outline: none;
}

.keep-alive {
  .action-btns {
    justify-content: space-evenly;

    button {
      margin: 0 !important;
    }
  }
}

.mat-select-dropdown {
  background-color: #fff;
}

.CustomeLayout {
  box-shadow: none !important;
  border: none;
  min-height: 100%;
  padding: 0px !important;
}

.mat-card,
body {
  background-color: #F2F2F2;
  min-height: 100% !important;
}

.mat-card-content {
  margin: 10px !important;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0;
  background-color: #fff;
}

.image-cropper {
  width: 45px;
  height: 45px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic-circle {
  margin: 0 auto;
  margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: rgba(66, 63, 63, 0.78) !important;
}

.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background {
  background-color: lightgrey !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: rgba(66, 63, 63, 0.78) !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgba(66, 63, 63, 0.78) !important;
}

.add-user-admin .mat-tab-label,
.add-auth .mat-tab-label {
  min-width: 100px !important;
  padding: 0px 4px !important;
}

.dialog-wrapper .dialog-header .material-icons {
  font-size: 16px !important;
}

.dialog-wrapper .dialog-header .mat-icon-button {
  width: 34px !important;
  height: 34px !important;
  line-height: 23px !important;
}

.dialog-wrapper .dialog-header .mat-button-wrapper {
  margin: 3px 0px 0px 1px !important;
}
